<template>
	<div>
		<info-modal ref="InfoModal" :title="infoModalTitle" :content="infoModalContent"></info-modal>
		<div class="container-fluid mb-5">
			<div class="row">
				<div class="col">
					<!-- <router-link to="articles" class="simple-link">Volver</router-link> -->
					<h1 v-if="updateMode">Editando el post <span class="bold">{{ item.title }}</span></h1>
					<h1 v-else>Nuevo <span class="bold">Post</span></h1>
				</div>
			</div>
			
			<card-component headerClass="Hidden">
				<div slot="card-header" style="display: none"></div>
				<div slot="card-body">
					<!-- <a class="mb-2" type="button" v-on:click="togglePreviewArticle()">
						<span v-if="previewArticle">Editar</span>
						<span v-else>Previsualizar</span>
					</a>  -->
					
					<transition name="fade" mode="out-in">
						<form v-if="!previewArticle" @submit.prevent="submitArticle()" ref="FormWithFiles" class="custom-form">
							<!-- <input type="hidden" name="_token" :value="csrf"> -->
							
							<div class="custom-title">CONTENIDO</div>
							<div class="row">		

								<easy-input label="Título del post" :columns="[12,12,12,6]" v-model="item.title" name="title"/>

								<div class="col-12 col-lg-6">
									<label class="title-input"> Idioma del post</label>
									<select v-model="item.lang" class="form-control">
										<option value="null" disabled selected>Seleccione un idioma</option>
										<option value="es">Español</option>
										<option value="br">Portugues</option>
									</select>
								</div>
								
								<easy-input label="Slug | Url amigable (El slug no debe contener espacios ni caracteres especiales, solo debe estár separado por guiones)" 
								:columns="[12,12,12,12]" v-model="item.slug" name="slug" placeholder="ejemplo-de-slug-correcto"/>
								
								<easy-input label="Contenido del post" :columns="[12,12,12,12]" v-model="item.content" inputType="textarea" 
									:customTextarea="true" :canCollapse="true" name="content"/>

								<!-- <div class="col-12 col-lg-6">
									<label class="title-input">Tagst</label>
									<select v-model="item.tags" class="form-control">
										<option value="null" disabled selected>Seleccione un idioma</option>
										<option value="es">Español</option>
										<option value="br">Portugues</option>
									</select>
								</div> -->

								<easy-input label="Tags / Etiquetas" :columns="[12,12,12,12]" v-model="item.tags" 
								:multiSelectOptions="tags" multiSelectLabel="name_display" inputType="multiselect" name="tags"/>

								<easy-input label="Imágen destacada" v-on:imageFile="setImageFile" 
									:columns="[12,12,12,12]" :previewImage="$helpers.sitePostAssets(item.featured_image)" 
									v-model="item.featured_image" inputType="image" name="featuredImage" />

							</div>

							<div class="custom-card-footer pb-0 pl-0 pr-0">

								<label for="">Orden</label>

								<label for=""></label>

								<input class="form-control" style="max-width: 100px" type="number" v-model="item.order">

								<label for="">Estado</label>

								<label for=""></label>

								<select v-model="item.active" class="form-control" style="width: 150px">
									<option value="1" selected>Activo</option>
									<option value="0">Inactivo</option>
								</select>
<!-- 
								<button type="button" v-on:click="togglePreviewArticle()" class="btn btn-main">
									<template v-if="previewArticle">Editar</template>
									<template v-else>Previsualizar</template>
								</button>  -->
								
								<button type="submit" v-on:click="redirectAfterUpdate('list')" class="btn btn-main"> 
									<template v-if="!item.id"> <i class="fas fa-check"></i> Crear </template>
									<template v-else> <i class="fas fa-sync"></i> Actualizar</template>
								</button>
								<!-- <button type="submit" v-on:click="redirectAfterUpdate('list')" class="btn btn-main"><i class="fa fa-check"></i> Guardar y Salir</button> -->
							</div>
						</form>
				
                    <!-- <preview-article-component :item="item" v-else ></preview-article-component> -->
					</transition>
					<!-- <template v-if="previewArticle">
						<hr>
						<button type="button" v-on:click="togglePreviewArticle()" class="btn btn-main">
							<template>Editar</template>
						</button> 
					</template> -->
				</div>
				<div slot="card-footer"></div>
			</card-component>
		</div>
		<br>
	</div>
</template>

<script>

	import { mapMutations } from "vuex"

	// Mixins
	import CommonMixin from '../../mixins/CommonMixin'
	import Locations from '../../mixins/Locations'
	// Slot Components
	import Card from '../../components/slot-components/CardSlotComponent'

	// Components
	import InfoModal from '../../components/InfoModalComponent'
	import FormEasyInputs from '../../components/FormEasyInputs'
	// import ArticlePreview from './ArticlePreview'
	import Collapsible from '../../components/collapsible'


	export default {
		props: [ 'tags' ],
		components: {
			'card-component': Card,
			'info-modal': InfoModal,
			'easy-input': FormEasyInputs,
			// 'preview-article-component': ArticlePreview,
			'collapsible': Collapsible,
			// 'locations-select-inputs': LocationsSelectInputs
		},
		mixins: [ CommonMixin, Locations ],
		data () {
			return {
				// Section properties
				sectiontitle: '',
				updateMode: false,
				previewArticle: false,
				descriptionVisible: true,
				// Model properties
				sectionRoute: '/vadmin/posts',
				item: { id: '', title: '', lang: '', content: '', order: '', active: '', featured_image: '', slug: '', tags: [] },
				image: '',
				// DatePickers
				todayDate: '',
				formatLocale: {
					firstDayOfWeek: 1,
					monthBeforeYear: false,
				},

				// Redirect
				redirectTo: 'list',

				// Ui and Help
				uiItems: { 'address-help' : false, 'other' : true },
				infoModalData: {
					published_at: { title: 'Publicación del artículo', content: 'Este campo define La fecha en la que el articulo comenzará a aparecer en los listados de la web <br><br><b>El articulo no sera eliminado de la base de datos</b>' },
					published_on: { title: 'Expiración del artículo', content: 'Este campo define la fecha en la que el articulo dejará de aparecer en los listados de la web. <br><br><b>El articulo no sera eliminado de la base de datos</b>' },
				},
			}
		},

		created() {
			
			this.setMode();
			
			if(this.showmode == 1)
				this.previewArticle = true;

		}, 

		computed: {
			featuredImagePreview() {
				// console.log(this.item.featured_image);
				return this.item.featured_image;
			},			
		},

		filters: {

			convertDate(date) {

				if (date != null)
				{
					let d = date.split("-");
					return d[2] + '/' + d[1] + '/' + d[0];
				}
			}

		},

		methods: {
			...mapMutations(['toggleLoader']),
			...mapMutations(['setListProp']),

			buildSlug() {
				console.log("HOLA");
			},
				
			setMode() {
				let currentSectionMode = this.getUrlParamFromLast(1);
			
				if(this.getUrlParamFromLast(1) == 'crear-post' || this.getUrlParamFromLast(1) == 'crear-post#'){
					this.updateMode = false;
				} else if(this.getUrlParamFromLast(2) == 'editar-post' || this.getUrlParamFromLast(2) == 'ver-post') {
					this.updateMode = true;
					this.getItem(this.getUrlParamFromLast(1));
					
				} else {
					console.log("No se encontró un parámetro compatible en la URL. No se puede determinar el modo de la sección");
				}

			},

			getItem(id){

				axios.get('/vadmin/posts/' + id + '/edit')
					.then((res) => {
						// Set Data
						this.item = res.data.item;
						// this.item.tags = [];
	

						// // Convert dates
						// this.item.published_on = this.$options.filters.convertDate(this.item.published_on); 
						// this.item.expire_at = this.$options.filters.convertDate(this.item.expire_at);
		
					})
					.catch((error) => {
						console.error('Error on getItem()');
						console.error(error);
					}).finally(() => {
						this.toggleLoader(false);
					});
			},
			
			submitArticle() {
				this.errors = [];
				this.toggleLoader(true);

				let formData = new FormData();
				formData.append('image', this.image);
				console.log(this.item);
				formData.append('item', JSON.stringify(this.item));

				axios({
						method: 'POST',
						url: '/vadmin/savePost',
						data: formData,
						config: { headers: {'Content-Type': 'multipart/form-data' } }, 
					})
					.then((res) => {
						console.log(res);
						if(res.data.status == 'success')
						{
							this.alertSuccess(res.data.message);

							if(this.redirectTo == 'list')
							{
								window.location.replace("/vadmin/posts");
							}
							else if(this.redirectTo == 'here')
							{
								this.getItem({ id: res.data.data });
								this.updateMode = true;
							}
						}
						else if(res.data.status == 'error')
						{
							console.log(res.data);
							this.setListProp({ property: 'errors', value: res.data.message });

							// this.errors = res.data.message;
							this.alertSmall({ message: '<b>Tiene errores en el formulario.</b> <br>Hay campos que debe completar o no son válidos', type: 'error', });
						}
						else
						{
							console.log(res.data);
						}
					})
					.catch((error) => {
						console.error('Error: ' + error);
					}).finally(() => {
						this.toggleLoader(false);
				});

			}, 

			setImageFile(file) {
				console.log(file);
				this.image = file;
				console.log(this.item.image);
			},

			togglePreviewArticle(){
				this.previewArticle = !this.previewArticle;
			},

	
			redirectAfterUpdate(location) {
				this.redirectTo = location;
			},

			
		}
	}
</script>
