<template>
	<div>
		
		<!-- Modal -->
		<list-component 
			:item="item"
			:sectionTexts="sectionTexts" 
			:listDataVisible="listDataVisible"
			:updateableFields="updateableFields"
			:selectedItems="selectedItems"
			:useExtraActions="false"
			:customModal="true"
			@save="save(item)"
			@deleteItems="deleteItems"
			@setUpdateOrCreate="setUpdateOrCreate"
			@selectAllItems="selectAllItems"
		>
			<!-- <template slot="extra-actions">
				<a href="/vadmin/exportar-articulos" class="btn btn-green btn-with-img" style="color: #fff" v-html="this.$helpers.iconImg('cloud-download') + ' Exportar Clientes'"></a>
			 </template>  -->

			<!-- Overrides modal create button -->
			<a slot="create-button" href="/vadmin/crear-post" class="btn btn-main" >
				<i class="fas fa-plus"></i> Crear un Post
			</a>

			<!-- List data -->
			<template slot="list-data">
				<tr class="table-row small-texts" v-for="(item, index) in items" :key="index" :class="{ 'table-row-selected': isSelected(item.id) }">
					<td class="align-middle checkbox-col">
						<!-- List Checkbox -->
						<b-form-checkbox size="lg" v-if="!undeleteableItems.includes(item.id)"
							v-model="selectedItems"
							:value="item.id"
							>
						</b-form-checkbox>
					</td>
					<td>
                        {{ item.title }}
					</td>	

					<td>
                        {{ item.lang.toUpperCase() }}
					</td>

					<list-actions 
						:canBeModified="!undeleteableItems.includes(item.id)"
						:customEdit="true"
						:editUrl="'editar-post/' + item.id"
						:itemId="item.id"
						:useActive="true"
						:itemActive="item.active"
						v-on:toggleActive="toggleActive(sectionModel, item.id, item.active)"
						v-on:deleteItem="deleteItems(item.id, sectionTexts.askDeleteItem + '<b> &nbsp ' + item.title + '</b>'), singleDelete()" v-if="!undeleteableItems.includes(item.id)"
						>
						<div slot="extra-list-actions">
							<!-- <b-dropdown-item> <img :src="bIcon('trash')" > Action </b-dropdown-item> -->
						</div>
					</list-actions>
				</tr>

			</template>

			<div slot="custom-modal"></div>		
		</list-component >
		<!-- / Modal -->
	</div>
</template>

<script>
	// Mixins
	import CommonMixin from '../../mixins/CommonMixin'
	import CrudActions from '../../mixins/CrudActions'

	export default {
		mixins: [ CommonMixin, CrudActions ],
		props: [  ],
		data () {
			return {
				// Section properties
				sectionTexts: { plural: 'Posts', singular: 'Post', withArticle: "los post", new: "Nuevo Post",
								askDelete: "Va a eliminar los posts seleccionados", askDeleteItem: "Va a eliminar el post " },

				// Model properties
				sectionRoute: 'posts',
				sectionModel: 'Post',
				listData: [
							{ name: 'title', label: 'Título' },
							{ name: 'lang', label: 'Lenguaje'},
							{ name: '' }
						],
				undeleteableItems: [],
			}
		},
		filters: {
			
		},
		methods: {

		}
	}

</script>
