<template>
    <div>
        <div class="collapsible-text color-palette1 ">
            <span> {{ title }} </span>
            <span class="collapse-btn cursor-pointer" @click="toggleCollapse">
                
                <template v-if="isCollapsed">+</template>
                <template v-else>-</template>
            </span>
        </div>
        <transition name="fade" mode="out-in">
            <p class="mb-4" v-if="!isCollapsed">
                {{ text }}
            </p>
        </transition>
    </div>
</template>

<script>
	export default {
        props: [ 'title', 'text', 'collapsed' ],
        data() {
            return {
                isCollapsed: true,
            }
        },

        created() {
            if(this.collapsed != undefined)
                this.isCollapsed = this.collapsed;
            else
                this.isCollapsed = true;
            
        },

        methods: {
            toggleCollapse() {
                this.isCollapsed = !this.isCollapsed;
            }
        }
	}
</script>