@import components/_setup
    
body
    background-color: $palette1
    color: #fff

.content-container
    background-color: $palette5

.dropdown-menu
    background-color: $palette4
    li
        a
            color: #fff
            img
                filter: invert(1)
        &:hover
            a
                background-color: $palette1
                color: #fff
    .dropdown-item
        color: #fff
        label 
            margin-bottom: 0
            margin-right: 15px
        &:hover
            background-color: $palette1
            color: #fff

//
// |--------------------------------------------------------------------------
// | NAVBAR
// |--------------------------------------------------------------------------
//

.nav-header
    background-color: $palette1b

//
// |--------------------------------------------------------------------------
// | SIDEBAR
// |--------------------------------------------------------------------------
//

.sidebar 
    background-color: $palette1
    .sidebar-item
        background-color: $palette2
    .sidebar-item-opened
        background-color: $palette4
    .sidebar-header
        background-color: $palette1b !important
    .sidebar-item
        &:hover
            background-color: $palette5
            a
                // color: blue

//
// |--------------------------------------------------------------------------
// | BUTTONS
// |--------------------------------------------------------------------------
//

.btn-main
    background-color: $vadmin2


//
// |--------------------------------------------------------------------------
// | PAGINATION
// |--------------------------------------------------------------------------
//

.right-menu .dropdown-menu .dropdown-item
    background-color: $vadmin2
    height: 50px !important
    border-bottom: 1px solid #000000
    a
        color: #fff
    &:hover
        background-color: $vadmin1
    .custom-control-label
        &:hover
            cursor: pointer
    .custom-control-input:checked ~ .custom-control-label::before
        background-color: $palette1


//
// |--------------------------------------------------------------------------
// | SECTION EXTRA ACTION
// |--------------------------------------------------------------------------
//
.expand-extra-actions
    filter: invert(1)

.section-actions
    background-color: $palette1


//
// |--------------------------------------------------------------------------
// | CUSTOM LIST
// |--------------------------------------------------------------------------
//

.custom-searchbox
    .form-control
        background-color: $palette6
        color: #fff
        border: 0
    button
        background-color: $palette5
        border: 0
        i
            color: #ccc
    .search-icon
        filter: invert(1)

.list-actions
    // border: 1px solid $palette1
    // -webkit-box-shadow: -4px 1px 26px 0px rgba(0,0,0,0.75)
    // -moz-box-shadow: -4px 1px 26px 0px rgba(0,0,0,0.75)
    // box-shadow: -4px 1px 26px 0px rgba(0,0,0,0.75)
    .dropdown-item
        background-color: $paletteMain

.simple-dropdown button::after
    display: none !important

// MODAL

.modal 
    .modal-header
        border: 1px solid $palette6
    .modal-content
        background-color: $palette1
        .form-control
            background-color: $palette5
            color: #fff
            border: 0
    .modal-footer
        border-top: 1px solid $palette6



//
// |--------------------------------------------------------------------------
// | PAGINATION
// |--------------------------------------------------------------------------
//

.pagination
    .page-item,.page-link
        background-color: $palette1
        color: #fff
        border: 0
        &:hover
            background-color: $palette2
    .page-item.disabled .page-link
        background-color: $palette6
        color: #fff
        &:hover
            background-color: $palette6
    .custom-select
        background-color: #a9a9a9
        border: 0
        color: #fff
        height: 35px
        border-radius: 3px

.custom-table
    .table
        tr
            background-color: $palette4
            color: #fff
            border-bottom: 1px solid $palette7
        .table-row
            background-color: $palette5
            color: #fff
            border: 0
            font-weight: 300
            .actions-cell
                img
                    filter: invert(1)
            &:hover
                background-color: transparent
                // filter: brightness(1.2)
        .table-row:nth-child(even)
            background-color: $palette6
            &:hover
                filter: brightness(1.2)
        .table-row-selected
            background-color: $palette7 !important

.custom-control-label::before
    background-color: $palette7
    border: 0

.table th, .table td
    border: 0


//
// |--------------------------------------------------------------------------
// | SKELETON
// |--------------------------------------------------------------------------
//
.skeleton
    .rows
        .left-items
            .item
                background-color: $palette6

.pulse
    height: 100%
    width: 100%
    background: -webkit-gradient(linear, right top, left top, from($palette1), color-stop(50%, $palette1), to($palette2))
    background: linear-gradient(-90deg, $palette1 0%, $palette2 50%, $palette1 100%)
    background-size: 400% 400%
    -webkit-animation: pulse 1.2s ease-in-out infinite
    animation: pulse 1.2s ease-in-out infinite

//
// |--------------------------------------------------------------------------
// | DEV UTILITIES
// |--------------------------------------------------------------------------
//
.icon-demo-container
    .icon-demo
        background-color: $palette7
        p
            color: #fff
            margin: 0
        img
            filter: invert(1)

.icon-darkbg
    filter: invert(1)


//
// |--------------------------------------------------------------------------
// | FORMS
// |--------------------------------------------------------------------------
//
.multiple-image-plugin
    .image-container
        background-color: $palette4 !important
        border: 1px dashed #555 !important
    .drag-text
       color: #fff !important

.custom-title
    background-color: $palette6
    color: #fff
.form-group
    input::placeholder
        color: #999999


//
// |--------------------------------------------------------------------------
// | CARDS
// |--------------------------------------------------------------------------
//
.custom-card
    border: 1px solid red
    background-color: $palette5
    .form-control
        background-color: $palette1
        border: 0
        color: #fff
    .mx-input-wrapper
        .mx-input
            border: 0
            background-color: $palette1
            color: #fff
        svg
            filter: invert(1)
    .info-box
        background-color: $palette3
        color: #fff
    .card-footer
        background-color: $palette5
    .custom-card-footer
        border-top: 1px solid $palette3


//
// |--------------------------------------------------------------------------
// | MAPS 
// |--------------------------------------------------------------------------
//
.leaflet-control-geosearch .results > *
    color: #000


.custom-searchbox
    .btn-outline
        color: #fff

.custom-list
    .no-results
        background-color: $palette4
        color: #fff


//
// |--------------------------------------------------------------------------
// | VENDORS
// |--------------------------------------------------------------------------
//

.quillWrapper
    .ql-toolbar.ql-snow,.ql-container.ql-snow
        border: 1px solid $palette7 !important
    svg
        filter: invert(1)
    span
        color: #fff