
<template>
    <div class="about-us">
        <div class="container-fluid section-header p-0">
            <img :src="$helpers.siteAsset('about-us.png')">
        </div>
        <br>
        <div class="container">
            <div class="row mb-4">
                <div class="col-12">
                    <h1 class="main-title-01">
                        {{ $t('about-us.title') }}
                        <!-- Somos Sitio de Tiendas -->
                    </h1>
                    <!-- OLD SUBTITLE -->
                    <!-- <p> 
                        {{ $t('about-us.under-title-text') }}
                    </p> -->

                    <p class="text" v-html="$t('about-us.main-text')"> </p>


                </div>
            </div>
            <!-- <div class="row mb-5 image-and-text">
                <div class="col-12 col-sm-3 col-md-4">
                    <img class="image" style="max-width: 100%" :src="$helpers.siteAsset('about-us-2.png')">
                </div>
                <div class="col-12 col-sm-9 col-md-8">
                    <h1 class="main-title-01 bold">
                        {{ $t('about-us.second-title') }}
                        
                    </h1>
                    <p class="text" v-html="$t('about-us.main-text')"> </p>
                    
                    <a class="btn btn-main" href="/listado"> {{ $t('about-us.cta-button') }} </a>
                </div>
            </div> -->
        </div>
        <div class="container">
            <div class="row about-us-members">
                <div v-for="(member, index) in $t('about-us.members')" :key="index" class="col-12 col-md-12 col-lg-6 mb-5">
                    <div class="row">
                        <div class="col-3 justify-content-center">
                            <img class="img-fluid" :src="$helpers.siteAsset(member.image)" alt="">
                        </div>
                        <div class="col-9">
                            <span class="member-name">{{ member.name }}</span> - <span class="member-charge">{{ member.charge }}</span><br>
                            <p class="mb-1">{{ member.text}}</p>
                            <a v-if="member.linkedin_url" :href="member.linkedin_url" target="_blank">
                                <img style="max-width: 100%; width: 100px" :src="$helpers.siteAsset('linkedin-logo.png')" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

	//import CommonMixins from '../mixins/common.js'

	export default {
		props: [ ],
		mixins: [ ],
		components: {
		},
		data() {
			return {
			}
		},
		created() {
		},
		mounted() {
		},
		computed: {

		},
		methods: {
       	
		}
	}

</script>