<template>
    <div>
        <section class="container main-section">
            <div class="row">
				<div class="col-md-12 text-center" v-if="showForm">
					<h1 class="main-title-03 ">Quiero cotizar mi negocio</h1>
				</div>

				<b-form class="col-md-12 steps-form" v-if="showForm">
					<div class="form-content" style="max-width: 900px">

						<form-wizard 
							@on-complete="submitForm()" 
							title="" subtitle="" 
							nextButtonText="Siguiente" 
							finishButtonText="Enviar"
							backButtonText="Atrás" 
							stepSize="xs" color="#761E8E">

							<tab-content title="Datos Personales" class="mt-1"
								:before-change="validateAndSetStepOne" v-if="showForm">
								<div class="row">
									
									<easy-input v-model="businessForm.customer_firstname" label="Nombre" placeholder="Ingrese su nombre" :error="errors['customer_firstname']" 
									:columns="[12,6,4,4]" :hideLabel="true" type="text"></easy-input>

									<easy-input v-model="businessForm.customer_lastname" label="Apellido" placeholder="Ingrese su apellido" :error="errors['customer_lastname']" 
									:columns="[12,6,4,4]" :hideLabel="true"></easy-input>
									
									<easy-input v-model="businessForm.customer_email" label="Email" type="email" placeholder="Ingrese su email" :error="errors['customer_email']" 
									:columns="[12,6,4,4]" :hideLabel="true"></easy-input>
									
									<div class="col-12 col-md-6 custom-input"><b-form-group>
										<b-form-select v-model="businessForm.country_id" 
											:options="countries"
											value-field="char_id"
											text-field="name"
											@change="getStates(businessForm.country_id), clearError('country_id')">
										</b-form-select>
										<input-extras :name="errors['country_id']"></input-extras>
									</b-form-group></div>

									<div class="col-12 col-md-6 custom-input"><b-form-group>
										<b-form-select v-model="businessForm.state_id" 
											:options="states"
											value-field="id"
											text-field="name"
											@change="clearError('state_id')">
											<template v-slot:first>
												<b-form-select-option value="null" disabled>Seleccione un estado/provincia</b-form-select-option>
											</template>
										</b-form-select>
										<input-extras :name="errors['state_id']"></input-extras>
									</b-form-group></div>

									<input style="display: none" v-model="phonePrefixByCountry">

									<easy-input v-model="businessForm.customer_phone_area" :inputGroup="true" :inputGroupText="phonePrefixByCountry" label="Cód. de Área" 
									placeholder="Cód. de Área" :columns="[12,6,4,4]" :hideLabel="true" type="number" :error="errors['customer_phone_area']" ></easy-input>

									<easy-input v-model="businessForm.customer_phone_number" label="Teléfono" placeholder="Ingrese un teléfono" :error="errors['customer_phone_number']" 
									:columns="[12,6,4,4]" :hideLabel="true" type="number"></easy-input>

										<!-- {{ businessForm }} -->
								</div>

							</tab-content>
							<tab-content title="Datos del Negocio" class="mt-1"
								:before-change="validatebusinessFormFormStepTwo">
								<div class="row">
									<easy-input v-model="businessForm.domain_name" label="Dominio" placeholder="Ingrese su dominio" :error="errors['domain_name']" 
									:columns="[12,6,4,4]" :hideLabel="true"></easy-input>

									<easy-input v-model="businessForm.business_age" label="Antigüedad en años" placeholder="Antigüedad en años" :error="errors['business_age']" 
									:columns="[12,6,4,4]" type="number" :hideLabel="true"></easy-input>

									<easy-input v-model="businessForm.working_hours" label="Horas trabajadas por día" placeholder="Horas trabajadas por día" :error="errors['working_hours']" 
									:columns="[12,6,4,4]" type="number" :hideLabel="true"></easy-input>

									<easy-input v-model="businessForm.net_income_actual_year" label="Ganancia últimos 12 meses " placeholder="Ganancia últimos 12 meses " :error="errors['net_income_actual_year']" 
									:columns="[12,6,4,4]" type="number" :hideLabel="true" note="Valor en moneda local"></easy-input>

									<easy-input v-model="businessForm.net_income_last_year" label="Ganancia período anterior" placeholder="Ganancia período anterior" :error="errors['net_income_last_year']" 
									:columns="[12,6,4,4]" type="number" :hideLabel="true" note="Valor en moneda local"></easy-input>

									<easy-input v-model="businessForm.views_per_month" label="Vistas por mes" placeholder="Vistas por mes" :error="errors['views_per_month']" 
									:columns="[12,6,4,4]" type="number" :hideLabel="true"></easy-input>

									<easy-input v-model="businessForm.organic_views_per_month" label="% Vistas orgánicas por mes" placeholder="% Vistas orgánicas por mes" :error="errors['organic_views_per_month']" 
									:columns="[12,6,4,4]" type="number" :hideLabel="true" max="100"></easy-input>

									<easy-input v-model="businessForm.total_followers" label="Seguidores en redes" placeholder="Seguidores en redes" :error="errors['total_followers']" 
									:columns="[12,6,4,4]" type="number" :hideLabel="true"></easy-input>

									<easy-input v-model="businessForm.total_subscriptors" label="Suscriptores en newsletter" placeholder="Suscriptores en newsletter" :error="errors['total_subscriptors']" 
									:columns="[12,6,4,4]" type="number" :hideLabel="true"></easy-input>

								</div>
								<!-- <p>(*) Los valores deben ser ingresado en la moneda local del país que seleccionó.</p> -->
								<!-- {{ businessForm }} -->
							</tab-content>

							<tab-content title="Términos y Condiciones" class="mt-1">
								<terms-and-conditions-content></terms-and-conditions-content>
							</tab-content>

							<!-- <template slot="footer" slot-scope="props">
								<div class="wizard-footer-left">
									<wizard-button  v-if="props.activeTabIndex > 0" @click.native="props.prevTab()" :style="props.fillButtonStyle">Volver</wizard-button>
								</div>
								<div class="wizard-footer-right">
									<wizard-button v-if="!props.isLastStep"@click.native="props.nextTab()" class="wizard-footer-right" :style="props.fillButtonStyle">Siguiente</wizard-button>

									<wizard-button v-else @click.native="submitForm" class="wizard-footer-right finish-button" :style="props.fillButtonStyle">  {{props.isLastStep ? 'Enviar' : 'Siguiente'}}</wizard-button>
								</div>
							</template>
								 -->
						</form-wizard>
					</div>
				</b-form>

				<div class="row form-message" v-else>
					<div class="content" v-if="successMessage">
						<img class="icon" :src="this.$helpers.siteAsset('checkmark.svg')" alt="">
						<h1 class="bold color-palette1">Mensaje Enviado</h1>
						<p>En breve te estará llegando un mail con el valor de referencia de tu comercio. <br><br>
						<b>Si no recibís el mail, por favor, no olvides de revisar la carpeta de SPAM o correo no deseado.</b></p>
						<a href="/" class="btn btn-main">VOLVER AL INICIO</a>
					</div>
					<div class="content" v-else-if="errorMessage">
						<img class="icon" :src="this.$helpers.siteAsset('cross.svg')" alt="">
						<h1 class="bold color-palette1">Error al enviar</h1>
						<p>Ha ocurrido un error. Puedes comunicarte directamente con nosotros a info@sitiodetiendas.com</p>
						<button type="button" class="btn btn-main" v-on:click="restoreForm">o REINTENTAR</button>
					</div>
				</div>
				
            </div>
        </section>
		
    </div>
</template>

<script>


	import CommonMixins from '../mixins/common'
	import FormsMixin from '../mixins/FormsMixin'
	import { FormWizard, TabContent, WizardButton} from 'vue-form-wizard'
    import 'vue-form-wizard/dist/vue-form-wizard.min.css'
	import ThemifyIcon from 'vue-themify-icons'
	import TermsAndConditionsContent from './partials/TermsAndConditionsContent'

	
	export default {
		mixins: [ CommonMixins, FormsMixin ],
		components: {
			FormWizard,
			TabContent,
			WizardButton,
			'terms-and-conditions-content': TermsAndConditionsContent,
		},
		data() {
			return {
				
			}
		},
		created() {
			this.businessForm.formType = "ValueForm";
		},

		computed: {
		},

		methods: {
			validatebusinessFormFormStepTwo() {

				let route = 'validatebusinessValueFormStepTwo';

				return new Promise((resolve, reject) => {

					axios.post(route, this.businessForm)
						.then(res => {
							console.log(res);
							if(res.data.status == 'success') {
								resolve(true);
							}
							else {
								this.errors = res.data.message;
								this.$helpers.alertSmall({type: 'error', message: "Hay errores o faltan completar campos"});
								reject('No');
							}
						})
						.catch(error => {
							return false;
							console.error("Error on validateFormStep()");
							console.log(error);
						});			
				});
			},
		}
	}

</script>

