<template>
    <div class="container main-section">
        <div class="row">
            <div class="contact-section">
				
				<div class="row mb-3"></div>

				<contact-form :article="article"></contact-form>

            </div>
        </div>
    </div>
</template>

<script>

	import ContactForm from '../components/ContactForm'

	export default {
		props: [ 'article' ],
		components: {
			'contact-form': ContactForm
		},
	}

</script>