<template>
	<div class="about-us">
		<div class="container-fluid section-header p-0">
			<img :src="$helpers.siteAsset('faq.png')">
		</div>
		<br>
		<div class="container">
			<div class="row mb-4">
					<div class="col-12 col-md-4">
						<h1 class="main-title-01">Preguntas frecuentes</h1>
					</div>
					<div class="col-12 col-md-8">
						<collapsible-text v-for="(faq, index) in faqs" :key="index" 
							:title="faq.title" :text="faq.text" :collapsed="faq.collapsed" >
						</collapsible-text>

					</div>
			</div>
				
		</div>
	</div>
</template>

<script>

	import CollapsibleText from './partials/CollapsibleText'

	export default {
		components: {
			'collapsible-text': CollapsibleText
		},
		data() {
			return {
				// faqs: this.$t('faqs')
				// faqs: [
				//     { title: "¿Cómo estiman el precio de un comercio?",
				//       text: "Consideramos variables como facturación y ganancia neta, pero además, tráfico orgánico en el sitio, seguidores en redes sociales, registro de marca, tipo de envíos, si posee base de datos de clientes, antigüedad del negocio y tendencias de todas estas variables. En pocas palabras el costo que tendría iniciar un negocio que alcance este rendimiento y su potencial.",
				//       collapsed: false,
				//     },
				//     { title:"¿Cómo aseguro que la información que comparten es confiable ?",
				//       text: "Toda la información provista es analizada en detalle. Existen herramientas que a través de las API de la aplicaciones o URL de los sitios, nos permiten conocer el trafico orgánico, trafico pago, fidelización del publico y todas sus tendencias con total transparencias. Estas herramientas son externas y de publico conocimiento por lo cual no pueden ser manipuladas ni por el vendedor ni por Sitio de Tiendas."
				//     },
				//     { title: "¿Cómo se como continuar con el negocio para que mantenga los mismos resultados alcanzados hasta le momento?",
				//       text: "El vendedor proporcionara al comprador, al momento de la transferencia un manual con información solicitada por Sitio de Tiendas, con el detalle de la actividad necesaria para mantener el mismo flujo de trafico. Detalle de frecuencia y contenidos para ser replicado, en caso que le interese, por el comprador"
				//     },
				//     { title: "¿Cuánto demora la transacción?",
				//       text: "Una vez que el comprador confirma su interés y el vendedor acepta la oferta, el comprador debe transferir el monto a abonar a Sitio de Tiendas +7% de comisión y el vendedor debe enviar a Sitio de Tiendas los datos requeridos para el traspaso de titularidad. Esta información es enviada al comprador y una vez seteadas todas las cuentas Sitio de tiendas libera el pago al vendedor. Dicha transacción puede demorar entre 24 a 72 hs. Hábiles"
				//     },
				//     { title: "¿Porqué Sitos de Tiendas no revela el nombre del comercio?",
				//       text: "Entendemos que el hecho de saberse que un comercio esta a la venta puede bajar su valor percibido por parte de sus clientes/seguidores, así como una gran decepción respecto a la incertidumbre hacia la calidad de servicio futuro. Es importante que el traspaso se realice de la manera mas ordenada, orgánica y confidencial posible par para evitar que el publico sufra impactos negativos y esto impacte negativamente en la rentabilidad del mismo."
				//     },
				//     { title: "¿Cómo evito que el comercio que me interesa sea vendido mientras analizo la opción de compra?",
				//       text: "Cuando un comprador confirma el interés por un comercio, el mismo se retira de la venta por un plazo de 96hs hábiles para permitir al comprador evacuar todas sus dudas y tomar su decisión final, sin riesgos de que el comercio sea vendido a otra persona"
				//     },
				//     { title: "¿Porqué me conviene hacer esta compra/venta con Sitio de Tiendas?",
				//       text: "Por que en Sitio de Tiendas contemplemos todas las variables relevantes para cotizar un comercio. De manera que el precio es justo para quien compra y para quien vende. Aseguramos a través de herramientas disponibles que toda la información es confiable. Le damos al comprador y vendedor manuales para que puedan transferir el comercio con pleno conocimiento de cada paso, así como los pasos a futuro para asegurar la viabilidad del mismo. Por ultimo protegemos la sesión de los derecho y el pago, hasta tanto se haya realizado el traspaso según lo acordado por ambas partes."
				//     }
				// ]
			}
		},
		created() {
			console.log(this.$t('faqs'))
		},
		computed: {
			faqs() {
				return this.$t('faqs')
			} 
		}
	}

</script>