<template>
    <div>
        <!-- <dev-modal-component></dev-modal-component> -->
        <top-section :filterData="filterData" :searchField="searchField"></top-section>

        <section class="home-cta-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-6 cta-01">
                        <!-- <a href="#" v-on:click="devModeModal"> -->
                        <a :href="$t('routes.sell-business')" v-on:click="$helpers.pixel('AddToCart')">
                            <div class="custom-card-01">
                                <div class="offset-icon"> 
                                    <div class="icon"> <img :src="$helpers.siteAsset('bargain.svg')"> </div>
                                </div>
                                <div class="content">
                                    <h1>
                                        {{ $t('home.cta.cta1') }}
                                        <!-- Vende tu Negocio Digital -->
                                    </h1>
                                    <p v-html="$t('home.cta.cta1-text')">
                                        <!-- Cotizá tu comercio y conocé todo lo que necesités <br>
                                        para hacer un traspaso ágil y transparente con nosotros -->
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 cta-02">
                        <a @click="redirectToList()" class="cursor-pointer">
                            <div class="custom-card-01">
                                <div class="offset-icon"> 
                                    <div class="icon"> <img :src="$helpers.siteAsset('calculator.svg')"> </div>
                                </div>
                                <div class="content">
                                    <h1>{{ $t('home.cta.cta2') }}
                                        <!-- Comprá un Negocio Digital -->
                                        </h1>
                                    <p v-html="$t('home.cta.cta2-text')">
                                        <!-- Comprá un negocio ya funcionando con ganancias aseguradas -->
                                        <!-- Compártenos información básica de tu negocio <br> para conocer el precio de venta -->
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Testimonials Carousel -->
        <section class="testimonials-carousel">
            <div class="row justify-content-center mb-0">
                <h1 class="main-title-01 mb-0"> {{ $t('home.testimonial-carousel.title') }} </h1>
            </div>
            <hooper :settings="carouselSettings">
                <slide class="slide"  v-for="(item, index) in carouselItems" :key="index" >
                    <div class="slide-inner">
                        <div class="slide-header">
                            <div class="row">
                                <div class="col-4 image">
                                    <img :src="item.imgSrc" alt="">  
                                </div>
                                <div class="col-8 sign">
                                    <span class="sign-name"> {{ item.signName }} </span>
                                    <span class="sign-charge"> {{ item.signCharge }}  </span>
                                </div>

                            </div>
                        </div>
                        <hr>
                        <div class="slide-body">
                            <div class="quotes">
                                <img :src="$helpers.siteAsset('quotes.png')" alt="">
                            </div>
                            <div class="text">
                                {{ item.text }}

                            </div>
                        </div>
                    </div>
                </slide>
                <hooper-pagination slot="hooper-addons"></hooper-pagination>
            </hooper>
        </section>
    
           
        <section class="home-banner-info pt-5">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col text-center">
                        <h1 class="main-title-01">
                            {{ $t('home.home-banner-info.title') }}
                            <!-- Fácil, Rápido y 100% Transparente -->
                        </h1>
                        <p class="main-small-subtitle">{{ $t('home.home-banner-info.subtitle') }}
                            <!-- Compra-venta de Negocios Digitales con la Máxima Seguridad -->
                        </p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 col-sm-6 col-md-3 column text-center">
                        <div class="icon mb-2"><img :src="$helpers.siteAsset('shop.svg')"></div>
                        <h2 class="main-title-02">
                            {{ $t('home.home-banner-info.card-1-title') }}
                            <!-- Un Marketplace pensado para ti -->
                        </h2>
                        <p class="main-text-01">
                            {{ $t('home.home-banner-info.card-1-text') }}
                            <!-- Como comprador, puedes ver todas las opciones disponibles en base a los filtros que 
                            establezcas. Como vendedor podrás cotizar tu negocio en un precio justo que contemple
                            todas las variables relevantes de un comercio digital. -->
                        </p>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 column text-center">
                        <div class="icon mb-2"><img :src="$helpers.siteAsset('form-icon.svg')"></div>
                        <h2 class="main-title-02">
                            {{ $t('home.home-banner-info.card-2-title') }}
                            <!-- Verificación de la información -->
                        </h2>
                        <p class="main-text-01">
                            {{ $t('home.home-banner-info.card-2-text') }}
                            <!-- Es el beneficio clave que ofrecemos, Contamos con herramientas que nos permiten mostrar la veracidad de los datos. 
                            Transparencia al 100% que incluye el respaldado de nuestros asesores legales y digitales. -->
                        </p>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 column text-center">
                        <div class="icon mb-2"><img :src="$helpers.siteAsset('target.svg')"></div>
                        <h2 class="main-title-02">
                            {{ $t('home.home-banner-info.card-3-title') }}
                            <!-- Para avanzar en tu decisión -->
                        </h2>
                        <p class="main-text-01">
                            {{ $t('home.home-banner-info.card-3-text') }}
                            <!-- Creamos un proceso de compra y venta que ofrece protección para ambas partes. 
                            Somos intermediarios en el pago y traspaso del negocio.
                            El pago se libera una vez que el comprador haya realizado el traspaso según lo acordado. -->
                        </p>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 column text-center">
                        <div class="icon mb-2"><img :src="$helpers.siteAsset('darts.svg')"></div>
                        <h2 class="main-title-02">
                            {{ $t('home.home-banner-info.card-4-title') }}
                            <!-- Una vez realizada la compra -->
                        </h2>
                        <p class="main-text-01">
                            {{ $t('home.home-banner-info.card-4-text') }}
                            <!-- Recibirás un manual con el paso a paso para asegurar la continuidad del negocio exitosamente. 
                            Incluirá especificaciones sobre las actividades que debes llevar a cabo para mantener el mismo nivel de servicios. -->
                        </p>
                        <!-- <a href="#" class="btn btn-main">VER MÁS INFO</a> -->
                    </div>
                </div>
            </div>
        </section>

        <section class="press-logos">
            <div class="container-fluid d-flex justify-content-center">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-6 col-sm-3 col-md-2 inner "> <a :href="$t('routes.press')"> <img :src="$helpers.siteAsset('press/lanacion-logo.png')" alt=""> </a></div>
                    <div class="col-6 col-sm-3 col-md-2 inner "> <a :href="$t('routes.press')"> <img :src="$helpers.siteAsset('press/ambito-logo.png')" alt=""> </a></div>
                    <div class="col-6 col-sm-3 col-md-2 inner "> <a :href="$t('routes.press')"> <img :src="$helpers.siteAsset('press/iproup-logo.png')" alt=""> </a></div>
                    <div class="col-6 col-sm-3 col-md-2 inner "> <a :href="$t('routes.press')"> <img :src="$helpers.siteAsset('press/emol-logo.png')" alt=""> </a></div>
                    <div class="col-6 col-sm-3 col-md-2 inner "> <a :href="$t('routes.press')"> <img :src="$helpers.siteAsset('press/diariofinanciero-logo.png')" alt=""> </a></div>
                    <div class="col-6 col-sm-3 col-md-2 inner "> <a :href="$t('routes.press')"> <img :src="$helpers.siteAsset('press/bluradio-logo.png')" alt=""> </a></div>

                </div>
            </div>
        </section>

        <section class="why-buy-banner">
            <div class="container-fluid">
                <div class="row title-row">
                    <div class="col-12 text-center">
                        <h1 class="main-title-01">{{ $t('home.why-buy.title') }}</h1>
                        <div class="separation-bar">
                            <div class="bar"></div>
                        </div>
                        <p class="main-small-subtitle color-palette1" v-html="$t('home.why-buy.subtitle')"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-3 text-center item">
                        <div class="icon"><img :src="$helpers.siteAsset('why-buy-1.svg')" alt=""></div>
                        <p class="main-text-01 color-palette1">
                            {{ $t('home.why-buy.card-1-text') }}
                            <!-- Contamos con abogados, contadores y expertos en digital para asegurar 100% la 
                            transparencia del proceso -->
                        </p>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 text-center item">
                        <div class="icon"><img :src="$helpers.siteAsset('why-buy-2.svg')" alt=""></div>
                        <p class="main-text-01 color-palette1">
                            {{ $t('home.why-buy.card-2-text') }}
                            <!-- Utilizamos toda la inteligencia e información digital para conocer y cotizar cada comercio -->
                        </p>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 text-center item">
                        <div class="icon"><img :src="$helpers.siteAsset('why-buy-3.svg')" alt=""></div>
                        <p class="main-text-01 color-palette1">
                            {{ $t('home.why-buy.card-3-text') }}
                            <!-- Te damos todas las herramientas para que tomes la mejor decisión. -->
                        </p>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 text-center item">
                        <div class="icon"><img :src="$helpers.siteAsset('why-buy-4.svg')" alt=""></div>
                        <p class="main-text-01 color-palette1">
                            {{ $t('home.why-buy.card-4-text') }}
                            <!-- Te ofrecemos todo el asesoramiento para asegurar el éxito de tu negocio -->
                        </p>
                    </div>
                </div>
                <div class="bottom-overlay"></div>
            </div>
        </section>

        <section>
            <!-- List -->
            <!-- <div class="container-fluid">
                <div class="row justify-content-center mb-4 mt-4">
                    <h1 class="main-title-01">Últimas Publicaciones</h1>
                </div>
                <div class="row">
                    <box-01 :columns="[12,6,6,3]" v-for="(item, index) in latestArticles" :key="index">
                        <div slot="content">
                            <div class="title">Ubicación</div>
                            <div class="text-small mb-2">{{ item.country.name + ' - ' + item.prov.name}}</div>
                            
                            <div class="title">Ganancia Neta Mensual</div>
                            <div class="text-big mb-2">$ {{ item.net_income_actual_year}}</div>

                            <template v-if="item.female_traffic > item.male_traffic">
                                <div class="title">Público Mujer</div>
                                <div class="text-big mb-2">% {{ item.female_traffic }} </div>
                            </template>
                            <template v-else>
                                <div class="title">Público Hombre</div>
                                <div class="text-big mb-2">% {{ item.male_traffic }}</div>
                            </template>    
                            
                            <div class="title"> Ropa y Accesorios </div>
                            <div class="text mb-2 text-200-height" v-html="strippedText(item.description, 200)"></div>
                            
                            <div class="title"> Costo de Venta </div>
                            <div class="text-big mb-2">$ {{ item.sell_cost }}</div>
                        </div>
                    </box-01>
                </div>
                <div class="row mt-4">
                    <pagination-component v-if="!noResults"></pagination-component>
                </div> 
                <div class="row justify-content-center mt-4">
                    <a href="" class="btn btn-main">VER MÁS PUBLICACIONES</a>
                </div>
            </div> -->
        </section>
    </div>
</template>

<script>

    import CommonMixins from '../mixins/common.js'
    
    import Box_01 from '../components/Box_01'
    import Pagination from '../components/Pagination'
    import TopSection from '../components/TopSection'
    import DevModal from '../components/DevModal'
    
    // import { Carousel, Slide } from 'vue-carousel' // https://www.npmjs.com/package/vue-carousel
    

    import { Hooper, Slide, Pagination as HooperPagination } from 'hooper'; // https://baianat.github.io/hooper/api.html#methods
    import 'hooper/dist/hooper.css';

	export default {
        props: [ 'countries' ],
		mixins: [ CommonMixins ],
		components: {
            'box-01': Box_01,
            'pagination-component': Pagination,
            'top-section': TopSection,
            'dev-modal-component': DevModal,
            Hooper, Slide, 
            HooperPagination
            
            // Carousel,
            // Slide

		},
		data() {
			return {
                searchField: false,
                topText: 'main',
                
                carouselSettings: {
                    infiniteScroll: true,
                    itemsToShow: 3,
                    autoPlay: true,
                    playSpeed: "5000",
                    transition: "500",
                    hoverPause: false,
                    centerMode: true,
                    wheelControl: false,
                        breakpoints: {
                            400: {
                                itemsToShow: 1
                            },
                            800: {
                                itemsToShow: 2
                            },
                            1000: {
                                itemsToShow: 3
                            }
                        }
                },
                
                // carouselItems: [
                    //{ imgSrc: this.$helpers.siteAsset('home-carousel/1.png'), text: "Vender nuestro negocio con Sitio de Tiendas fue sencillo, nos sentimos acompañados en el proceso completo. Todo se realizó en un entorno de confianza absoluta.", signName: "Sergio Silva", signCharge: "Vendedor" },
                    //{ imgSrc: this.$helpers.siteAsset('home-carousel/2.png'), text: "En Sitio de Tiendas encontré el asesoramiento que buscaba para la compra de mi negocio Online", signName: "Erik Untiveros", signCharge: "Comprador de caracasminimarket.com" },
                    //{ imgSrc: this.$helpers.siteAsset('home-carousel/3.png'), text: "Publicamos nuestro negocio y en 4 meses allí estábamos conversando con nuestro comprador, todo sucedió muy prolijo y rápido", signName: "Leopoldo Vallenilla", signCharge: "Vendedor" },
                    //{ imgSrc: this.$helpers.siteAsset('home-carousel/4.png'), text: "En Sitio de Tiendas, sientes que alguien te respalda y confías en que esta buscando un trato justo por ti", signName: "Micaela Doy", signCharge: "Compradora de vdeverde.mitiendanube.com" },
                // ]
			}
		},
		created() {
		},
		mounted() {
		},
		computed: {
            filterData() {
                return { countries: this.countries, states: [   ] };
            },

            carouselItems() {
                return this.$t('home.testimonial-carousel.testimonials');
            }
		},
		methods: {

           toggleSearchField() {
                this.searchField = !this.searchField; 

           },
           redirectToList() {
               console.log("CLEARING QUERY")
               localStorage.setItem('previous_query', '')
               window.location = "/listado?";
           }
		}
	}

</script>

