<template>
    <div class="about-us">
        <!-- <div class="container-fluid section-header p-0">
            <img :src="$helpers.siteAsset('how-it-works.png')">
        </div> -->
        <br>
        <section class="how-it-works-videos">
            <div class="desktop">
                <iframe width="100%" height="600" src="https://www.youtube.com/embed/JQlKhcH87u4" title="Como Funciona Sitio de Tiendas" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="mobile">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/BDLNH1NnkVw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </section>
        <div class="container mb-4">
            <div class="row mb-4">
                <div class="col-12">
                     <h1 class="main-title-01">
                         {{ $t('howItWorks.mainTitle') }}
                        <!-- Proceso total de Compraventa -->
                    </h1>
                </div>
                <div class="col-md-12">
                    <div class="custom-tabs">
                        <b-tabs content-class="mt-5" fill>
                            <!-- Proceso completo para el comprador -->
                            <b-tab :title="$t('howItWorks.buyersInfoTitle')" active>
                                <div class="row">
                                    <small-card v-show="!item.hide" v-for="(item, index) in $t('howItWorks.buyersInfo')" :key="index" 
                                        :number="item.number" :text="item.text" :columns="[12,4,3,3]">
                                    </small-card>
                                </div>
                            </b-tab>
                            <!-- Proceso completo para el vendedor -->
                            <b-tab :title="$t('howItWorks.sellersInfoTitle')">
                                <div class="row">
                                    <small-card v-show="!item.hide" v-for="(item, index) in $t('howItWorks.sellersInfo')" :key="index" 
                                        :number="item.number" :text="item.text" :columns="[12,4,3,3]">
                                    </small-card>
                                </div>
                            </b-tab>
                        </b-tabs>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</template>

<script>
    import SmallCard from '../components/SmallCard'

	export default {

		components: {
            'small-card': SmallCard,
		},
		data() {
			return {
                // buyersInfo: [
                //     { number: '1', text: 'Ingresa a Sitio de Tiendas y utiliza los filtros para encontrar los comercios que se ajustan a tu interés.' },
                //     { number: '2', text: 'Una vez desplegado el listado, puedes ingresar a cada uno para conocer la información relevante.' },
                //     { number: '3', text: 'Al marcar “ me interesa” podrás completar tus datos y tendrás un enlace para marcar una llamada con nosotros para evacuar tus dudas.' },
                //     { number: '4', text: 'En caso de interesarte concretar la compra deberás pagar a Sitio de Tiendas el 14% del valor del negocio.' },
                //     { number: '5', text: 'En esta instancia ya podrás acceder a toda la información del negocio y su propietario.' },
                //     { number: '6', text: 'Luego deberás abonar lo que resta del precio del negocio +7% en concepto de comisión de compra y  realizaremos el traspaso.' },
                //     { number: '7', text: 'Una vez realizado el traspaso, Sitio de tiendas transferirá tu dinero al vendedor – 7% en concepto de comisión.' },
                // ],
                // sellersInfo: [
                //     { number: '1', text: 'Ingresa a Sitio de Tiendas, ir a “Cotizar tu negocio Digital”. A partir de la información proporcionada recibirás un mail con el valor estimado de tu negocio.' },
                //     { number: '2', text: 'En caso de interesarte venderlo, podrás marcar una llamada con nosotros desde el enlace del mail que te enviamos al cotizar.' },
                //     { number: '3', text: 'En dicha llamada completamos los datos  de tu negocio y verificamos la información, para luego subirlo a nuestro marketplace.' },
                //     { number: '4', text: 'Al aparecer un Interesado le compartiremos detalles del negocio para que pueda tomar una decisión. En caso de decidir comprarlo deberá transferir a Sitio de Tiendas el 14% del valor de compra.' },
                //     { number: '5', text: 'En esta instancia, te pondremos en contacto con el comprador para ultimar los detalles. Luego deberás transferir a Sitio de Tiendas los permisos de tu negocio.' },
                //     { number: '6', text: 'Al corroborar la información, el comprador te transferirá el valor del negocio -7% de comisión y recién luego de tu recepción nosotros haremos el traspaso final del negocio.' },
                //     { number: '7', text: 'El comprador transferirá a Sitio de Tiendas el valor del Comercio +7% en concepto de comisión por compra.' },
                //     { number: '8', text: 'Al momento de hacerse efectivo el traspaso Sitio de Tiendas te transferirá el valor de venta de tu comercio -7% en concepto de comisión de venta.' },
                // ]
			}
		},
        created() {
        
        }
	}
</script>