<template>
    <div>
        <section>
            <!-- List -->
            <main-loader></main-loader>
            <div class="container-fluid">
                <!-- <div class="row justify-content-center mb-4 mt-4">
                    <h1 class="main-title-01">Últimas Publicaciones</h1>
                </div> -->
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-3 p-0">
                        <search-sidebar></search-sidebar>
                    </div>
                    <div class="col-12 col-sm-8 col-md-9">
                        
                        <p v-if="existingArticles">
                            {{ $t('main-list.local-currency-values') }}
                            <!-- * Los valores están expresados en la moneda local de cada país. -->
                        </p>
                        <div class="row">
                            <box-01 :effectOnHover="true" @clicked="redirectToArticle(item.id), $helpers.pixel('ViewContent')" 
                                    :columns="[12,12,6,4]" :ribbon="showRibbon(item.status)" :ribbonText="ribbonText(item.status)"
                                    v-for="(item, index) in articles" :key="index" extraClasses="home-box-01">
                                <div slot="content">
                                            <div class="id">#{{ item.id }}</div>

                                    <div class="row box-01-custom-item p-0 mb-3">
                                        <div class="col-9">
                                            
                                            <!-- FOR TEST -->
                                            <!-- <p>Id: {{ item.id }} | Posicion: {{ item.position}} <br>
                                            Domain: {{ item.title }} </p> -->
                                            
                                            <div class="title">
                                                <span v-if="item.business_type">
                                                    
                                                    <template v-if="$i18n.locale == 'br'">
                                                         {{ item.business_type.name_br }} 
                                                    </template>

                                                    <template v-else>
                                                        {{ item.business_type.name }}
                                                    </template>
                                                    
                                                </span>
                                                <br>
                                                <span v-if="item.category"> 
                                                    <template v-if="$i18n.locale == 'br'">
                                                        {{ item.category.name_br }}
                                                    </template>

                                                    <template v-else>
                                                        {{ item.category.name }}
                                                    </template>
                                                    
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-3 top-image">
                                            <img :src="'/images/flags/flag_' + item.country.char_id+'.jpg'" :alt="'Bandera de ' + item.country.name">
                                        </div>
                                    </div>

                                    <div class="box-01-custom-item">
                                        <!-- <div class="title">Descripción</div> -->
                                        <div class="limited-text">
                                            <p>{{ $helpers.limitedString(item.title, 70) }}</p>
                                        </div>
                                    </div>
                                    
                                    <!-- <div class="title">
                                         {{ $t('main-list.total-followers') }}
                                    </div>
                                    <div class="text-big mb-1">
                                        <span>{{ $helpers.formatInteger(item.total_followers) }}</span>
                                    </div>

                                    <div class="title">
                                        {{ $t('main-list.business-age') }}
                                    </div> -->
                                    <!-- <div class="text-big mb-1">
                                        <span>{{ item.business_age }} 
                                            <span v-if="item.business_age == 1">
                                                {{ $t('main-list.year') }}
                                            </span>
                                            <span v-else>
                                                {{ $t('main-list.years') }}
                                            </span>
                                        </span>
                                    </div> -->

                                    <div class="title">
                                        {{ $t('main-list.net-income') }}
                                        <!-- Ganancia Neta Anual -->
                                    </div>
                                    <div class="text-big mb-2" v-if="item.net_income_actual_year">
                                        $ {{ $helpers.toInteger(item.net_income_actual_year) }} 
                                    </div>
                                    <div class="text-big mb-2" v-else>-</div>
            
                                    <div class="title"> 
                                        {{ $t('main-list.selling-price') }}
                                        <!-- Precio de Venta  -->
                                    </div>
                                    <div>
                                        <div class="text-big mb-2">
                                            <!-- {{ sellingPrice(item.business_value_manual, item.business_value_local) }} -->
                                            {{ $helpers.currencyToText(item.country.name, sellingPrice(item.business_value_manual, item.business_value_local)) }}
                                            <!-- {{ $helpers.currencyCode(item.country.name) }} -->
                                        </div>
                                    </div>
                                    <div class="bottom-btn">
                                        <a :href="'/negocio/' + item.id" class="btn btn-small-sqr">Ver Más</a>
                                    </div>
                                </div>
                            </box-01>
                            
                            <template v-if="!$helpers.objectLenght(articles)"> 
                                <!-- <div class="container">
                                    <div class="col-12 mt-4" style="height: 300px">
                                        
                                    </div>
                                </div> -->
                                <div class="container-fluid no-results-container">
                                    <hr>
                                    <h4>
                                        <b-icon icon="emoji-frown"></b-icon>
                                        {{ $t('main-list.no-results') }}
                                            <!-- No se encontraron resultados  -->
                                    </h4>
                                    <hr>
                                    <contact-form></contact-form>
                                </div>
                            </template>
                        </div>
                        <template v-if="existingArticles">
                            <div class="row mt-4 p-3">
                                <pagination-component :useResultsPerPage="false"></pagination-component>
                            </div> 
                            <p>
                               {{ $t('main-list.local-currency-values') }}
                            </p>
                        </template>
                    </div>
                </div>
                <!-- <div class="row justify-content-center mt-4">
                    <a href="" class="btn btn-main">VER MÁS PUBLICACIONES</a>
                </div> -->
            </div>
        </section>
    </div>
</template>

<script>

    import { mapActions, mapGetters } from "vuex"

    import CommonMixins from '../mixins/common.js'
    
    import Box_01 from '../components/Box_01'
    import Pagination from '../components/Pagination'
    import SearchSidebar from '../components/SearchSidebar'
    import MainLoader from '../components/MainLoader'
    import ContactForm from '../components/ContactForm'


	export default {
        props: [ ],
		mixins: [ CommonMixins ],
		components: {
            'box-01': Box_01,
            'pagination-component': Pagination,
            'search-sidebar': SearchSidebar,
            'main-loader': MainLoader,
            'contact-form': ContactForm
		},
		data () { 
			return {
				searching: false,
			}
		},
		created() {
            
            // let query = window.location.href.split('?').pop();

            // if(localStorage.getItem('previous_query') == '' || localStorage.getItem('previous_query') == undefined)
            let query = localStorage.getItem('previous_query');
                
            this.getArticles({ query: query });  
            
		},
		computed: {
            ...mapGetters(['articles']),   
            ...mapGetters(['pagination']), 
            existingArticles() {
                return this.$helpers.objectLenght(this.articles);
            }
		},
		methods: {
            ...mapActions(['getArticles']),
           

            sellingPrice(manualValue, algorithmValue) {
                 if(manualValue != 0 && manualValue != undefined)
                    return this.$helpers.toInteger(manualValue);
                if(algorithmValue == 0 || algorithmValue == undefined )
                    return '-';
                return this.$helpers.toInteger(algorithmValue);
            },
            
            redirectToArticle(id) {
                window.location = "/negocio/" +id;
            },

             showRibbon(value) {
                if(value == 0) return false;

                return true;
            },

            ribbonText(value) {
                switch (value) {
                    case 1:
                        return this.$t('main-list.reserverd')
                    case 2:
                        return this.$t('main-list.sold-out');
                    default:
                        return '';
                }
            }
		}
	}

</script>