<template>
    <div>
        <section class="container main-section">
            <div class="row">

				<div class="col-md-12 text-center" v-if="showForm">
					<h1 class="main-title-03 "> {{ $t('main-form.title') }} </h1>
				</div>

				<b-form class="col-md-12 steps-form" v-if="showForm">
					<div class="form-content">
						<form-wizard 
							title="" subtitle="" 
							:nextButtonText="$t('main-form.next-button')" 
							:backButtonText="$t('main-form.back-button')" 
							stepSize="xs" color="#761E8E"
							>

							<tab-content :title="$t('main-form.wizard-step-1-title')" class="mt-1"
								:before-change="validateAndSetStepOne" v-if="showForm">
								<div class="row justify-content-center">
									<p style="font-size: .8rem; font-weight: 600">{{ $t('main-form.disclaimer') }}</p>
								</div>
								<hr>
								
								<div class="row">
									<easy-input v-model="formData.customer_firstname" :label="$t('main-form.fields.name')" :placeholder="$t('main-form.fields.placeholder-name')" :error="errors['customer_firstname']" 
									:columns="[12,6,4,4]" :hideLabel="true" type="text"></easy-input>

									<easy-input v-model="formData.customer_lastname" :label="$t('main-form.fields.lastname')" :placeholder="$t('main-form.fields.placeholder-lastname')" :error="errors['customer_lastname']" 
									:columns="[12,6,4,4]" :hideLabel="true"></easy-input>
									
									<easy-input v-model="formData.customer_email" type="email" :label="$t('main-form.fields.email')" :placeholder="$t('main-form.fields.placeholder-email')" :error="errors['customer_email']" 
									:columns="[12,6,4,4]" :hideLabel="true"></easy-input>
                                    
									<div class="col-12 col-md-6 custom-input"><b-form-group>
										<b-form-select v-model="formData.country_id" 
											:options="countries"
											value-field="char_id"
											text-field="name"
											@change="getStates(), clearError('country_id')">
											<template v-slot:first>
												<b-form-select-option value="null" disabled>
													{{ $t('main-form.fields.select-country') }}
												</b-form-select-option>
											</template>
										</b-form-select>
										<input-extras :name="errors['country_id']"></input-extras>
									</b-form-group></div>

									<div class="col-12 col-md-6 custom-input"><b-form-group>
										<b-form-select v-model="formData.state_id" 
											:options="states"
											value-field="id"
											text-field="name"
											@change="clearError('state_id')">
											<template v-slot:first>
												<b-form-select-option value="null" disabled>
													{{ $t('main-form.fields.select-state') }}

													</b-form-select-option>
											</template>
										</b-form-select>
										<input-extras :name="errors['state_id']"></input-extras>
									</b-form-group></div>

									<input style="display: none" v-model="phonePrefixByCountry">

									<easy-input v-model="formData.customer_phone_area" :inputGroup="true" :inputGroupText="phonePrefixByCountry" label="Cód. de Área" 
									:placeholder="$t('main-form.fields.phone-area')" :columns="[12,6,4,4]" :hideLabel="true" type="number" :error="errors['customer_phone_area']" ></easy-input>

									<easy-input v-model="formData.customer_phone_number" :columns="[12,6,4,4]" :hideLabel="true" type="number" :error="errors['customer_phone_number']"  
										:label="$t('main-form.fields.phone')" :placeholder="$t('main-form.fields.placeholder-phone')">
									</easy-input>
									
									<div class="col-12 col-sm-12 col-lg-12">
										<label for=""></label>
										<b-form-checkbox
											id="checkbox-1"
											v-model="formData.user_allows_contact"
											name="checkbox-1"
											value="1"
											unchecked-value="0"
											>
											Acepto recibir información de relevancia sobre negocios online
										</b-form-checkbox>
									</div>
								</div>
							</tab-content> 

							<!-- <tab-content :title="$t('main-form.wizard-step-2-title')" class="mt-1"
								:before-change="validateformDataFormStepTwo"> -->
							<tab-content :title="$t('main-form.wizard-step-2-title')" class="mt-1">

								<div class="row justify-content-center">
									<p style="font-size: .8rem; font-weight: 600">{{ $t('main-form.disclaimer') }}</p>
								</div>
								<hr>
								<div class="row justify-content-center">
									<p class="mt-3 pb-0" style="color: #7e7e7e; font-weight: 600">{{ $t('main-form.no-data') }}</p>
								</div>
								
								<div class="row">
									
									<easy-input v-model="formData.category_id" :columns="[12,6,6,6]" inputType="select" :options="categories" :optionsValueName="fieldNameLocale" optionsValueField="id" :hideLabel="true" :error="errors['category_id']"
									:label="$t('main-form.fields.category')" :placeholder="$t('main-form.fields.placeholder-category')"
									></easy-input>

                                    <easy-input v-model="formData.business_type_id" :columns="[12,6,6,6]" inputType="select" :options="business_types" :optionsValueName="fieldNameLocale" optionsValueField="id" :hideLabel="true" :error="errors['business_type_id']"
									:label="$t('main-form.fields.business-type')" :placeholder="$t('main-form.fields.placeholder-business-type')"
									></easy-input>

									<easy-input v-model="formData.description" textareaRows="2" :error="errors['description']" :columns="[12,12,12,12]" type="text" inputType="textarea" :hideLabel="true"
									:label="$t('main-form.fields.description')" :placeholder="$t('main-form.fields.placeholder-description')"
                                    ></easy-input>
						
									<easy-input v-model="formData.domain_name" :columns="[12,6,6,6]" :hideLabel="true" :error="errors['domain_name']" 
									:label="domainText" :placeholder="domainText"
									></easy-input>

									<!-- <easy-input v-if="getInputVisibilty('logistic_id')" v-model="formData.logistic_id"  :columns="[12,6,6,6]" inputType="select" :options="[{ name: 'Interna', value: 1 }, { name: 'Externa', value: 2 }]" :hideLabel="true" :error="errors['logistic_id']" 
									:label="$t('main-form.fields.logistic')" :placeholder="$t('main-form.fields.placeholder-logistic')"
									></easy-input> -->
			
									<easy-input v-model="formData.business_age" :columns="[12,6,6,3]" type="number" :hideLabel="true" :error="errors['business_age']" 
									:label="$t('main-form.fields.business_age')" :placeholder="$t('main-form.fields.placeholder-business_age')"
									></easy-input>
			
									<easy-input v-model="formData.net_income_actual_year"  :error="errors['net_income_actual_year']" :columns="[12,6,6,3]" type="number" :hideLabel="true" 
										:note="$t('main-form.fields.hint-local-currency')" :label="$t('main-form.fields.net_income_actual_year')" :placeholder="$t('main-form.fields.placeholder-net_income_actual_year')"
									></easy-input>
			
									<!-- <easy-input v-model="formData.net_income_last_year" :columns="[12,6,6,3]" type="number" :hideLabel="true" 
									:note="$t('main-form.fields.hint-local-currency')" :error="errors['net_income_last_year']" 
									:label="$t('main-form.fields.net_income_last_year')" :placeholder="$t('main-form.fields.placeholder-net_income_last_year')"
									></easy-input> -->
			
									<!-- <easy-input v-if="getInputVisibilty('working_hours')" v-model="formData.working_hours" :columns="[12,6,6,3]" type="number" :hideLabel="true" :error="errors['working_hours']" 
									:label="$t('main-form.fields.working_hours')" :placeholder="$t('main-form.fields.placeholder-working_hours')"
									></easy-input> -->
			
									<easy-input v-if="getInputVisibilty('views_per_month')" v-model="formData.views_per_month" :columns="[12,6,6,3]" type="number" :hideLabel="true" :error="errors['views_per_month']" 
									:label="$t('main-form.fields.views_per_month')" :placeholder="$t('main-form.fields.placeholder-views_per_month')"
									></easy-input>
			
									<easy-input v-if="getInputVisibilty('organic_views_per_month')" v-model="formData.organic_views_per_month" :columns="[12,6,6,3]" type="number" min="0" max="100" :hideLabel="true" :error="errors['organic_views_per_month']" 
									:label="$t('main-form.fields.organic_views_per_month')" :placeholder="$t('main-form.fields.placeholder-organic_views_per_month')"
									></easy-input>
			
									<easy-input v-if="getInputVisibilty('total_followers')" v-model="formData.total_followers" :columns="[12,6,6,3]" type="number" :hideLabel="true" :error="errors['total_followers']" 
									:label="$t('main-form.fields.total_followers')" :placeholder="$t('main-form.fields.placeholder-total_followers')"
									></easy-input>
			
									<easy-input v-if="getInputVisibilty('total_subscriptors')" v-model="formData.total_subscriptors" :columns="[12,6,6,3]" type="number" :hideLabel="true" :error="errors['total_subscriptors']" 
									:label="totalSubscriptorsText" :placeholder="totalSubscriptorsText"
									></easy-input>

									<easy-input v-if="getInputVisibilty('active_users')" v-model="formData.active_users" :columns="[12,6,6,3]" type="number" :hideLabel="true" :error="errors['active_users']" 
									:label="$t('main-form.fields.active_users')" :placeholder="$t('main-form.fields.placeholder-active_users')"
									></easy-input>
			
									<easy-input v-if="getInputVisibilty('total_downloads')" v-model="formData.total_downloads" :columns="[12,6,6,3]" type="number" :hideLabel="true" :error="errors['total_downloads']" 
									:label="$t('main-form.fields.total_downloads')" :placeholder="$t('main-form.fields.placeholder-total_downloads')"
									></easy-input>
			
								</div>

								<div class="row">
									<div class="col-md-12">
										<h3 class="subtitle">
											{{ $t('main-form.fields.digita-capital') }}
										</h3>
									</div>
									<div class="col-12 mt-2">
										
										<b-form-group>
											<b-form-checkbox-group
												id="checkbox-group-1"
												v-model="formData.digitalCapital"
												:options="digital_capitals"
												name="flavour-1"
												value-field="id"
      											:text-field="digitalCapitalName"
												stacked
												v-on:change="addDigitalCapital"
											></b-form-checkbox-group>
										</b-form-group>

									</div>

								</div>

								<!-- <div class="row mb-4">

									<div class="col-md-12">
										<h3 class="subtitle">
											{{ $t('main-form.fields.social-networks') }}
										</h3>
									</div>
									<div class="col-6 mt-3">
										<select class="form-control" v-on:change="addSocialNetwork" 
											v-model="formData.socialNetworkDefault"> 
											<option value="null" disabled>{{ $t('main-form.fields.select-social-networks') }}</option>
											<option v-on:click="repeatAdd" :value="index" v-for="(social, index) in social_networks" :key="index">
												{{ social }}
											</option>
										</select>
									</div>

								</div> -->

								<!-- <div class="row">
									<span class="col-12" v-for="(socialNetwork, index) in formData.social" :key="index">
										<div class="custom-input-group input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon3">{{ socialNetwork.name }}</span>
											</div>
											<input v-model="socialNetwork.pivot.account_url" type="text" class="form-control" id="basic-url" aria-describedby="url" 
											:placeholder="$t('main-form.fields.social-network-placeholder')">
											<div class="delete-item" v-on:click="removeSocialNetwork(formData.social, index)"><div class="icon">x</div></div>
										</div>
									</span>
								</div> -->
								<terms-and-conditions-content></terms-and-conditions-content>
							</tab-content>

							<!-- <tab-content :title="$t('main-form.wizard-step-3-title')" class="mt-1">
								<terms-and-conditions-content></terms-and-conditions-content>
							</tab-content> -->

							<template slot="footer" slot-scope="props">
								<!-- {{ props.activeTabIndex }} -->

								<div class="wizard-footer-left">
									<!-- Previous Tab -->
									
									<wizard-button v-if="props.activeTabIndex > 0"
										@click.native="props.prevTab()" :style="props.fillButtonStyle">
										 {{ $t('main-form.back-button') }}
									</wizard-button>
								</div>

								<div class="wizard-footer-right">

									<button v-if="!props.isLastStep && props.activeTabIndex == 0" @click="props.nextTab()" type="button" 
									id="cotizacion-a-segundo-paso" class="btn btn-main color-shadow-small mb-3">
										{{ $t('main-form.next-button') }}
									</button>
<!-- 
									<button v-if="props.activeTabIndex == 1" @click="props.nextTab()" type="button" 
									id="cotizacion-a-tercer-paso" class="btn btn-main color-shadow-small mb-3">
										{{ $t('main-form.next-button') }}
									</button> -->

									<button v-if="props.isLastStep" @click="validateformDataFormStepTwo()" type="button" 
									id="envio-cotizacion" class="btn btn-main color-shadow-small mb-3">
										{{ $t('main-form.finish-button') }}
									</button>

									<!-- <button v-if="props.isLastStep" @click="submitForm()" type="button" 
									id="envio-cotizacion" class="btn btn-main color-shadow-small mb-3">
										{{ $t('main-form.finish-button') }}
									</button> -->
									
									<!-- <wizard-button v-if="!props.isLastStep" @click.native="props.nextTab()" class="wizard-footer-right" :style="props.fillButtonStyle">
										Next
									</wizard-button> -->
								</div>
							</template>

							<!-- <template slot="finish">
								<button type="button" id="envio-cotizacion" class="btn btn-main color-shadow-small mb-3"  
									@click="submitForm()">
									{{ $t('main-form.finish-button') }}
								</button>
							</template> -->
						</form-wizard>

					</div>
				</b-form>

				<div class="row form-message" v-else>
					<div class="content" v-if="successMessage">
						<img class="icon" :src="this.$helpers.siteAsset('checkmark.svg')" alt="">
						<h1 class="bold color-palette1">{{ $t('main-form.success-message.title') }}
							<!-- Mensaje Enviado -->
						</h1>
						<p v-html="$t('main-form.success-message.text')"></p>
							<!-- Nos estaremos contactando contigo a la brevedad vía mail para coordinar una llamada telefónica 
						<br><br>
						No olvides revisar tu bandeja de correo no deseado (Spam). -->
						<a href="/" class="btn btn-main">
							{{ $t('main-form.success-message.button') }}
							<!-- VOLVER AL INICIO -->
						</a>
					</div>
					<div class="content" v-else-if="errorMessage">
						<img class="icon" :src="this.$helpers.siteAsset('cross.svg')" alt="">
						<h1 class="bold color-palette1">
							{{ $t('main-form.error-message.title') }}
							<!-- Error al enviar -->
						</h1>
						<p v-html="$t('main-form.error-message.text')"></p>
							<!-- Ha ocurrido un error. Puedes comunicarte directamente con nosotros a info@sitiodetiendas.com -->
						<!-- <button type="button" class="btn btn-main" v-on:click="restoreForm">
							{{ $t('main-form.success-message.button') }} -->
							<!-- o REINTENTAR -->
						<!-- </button> -->
					</div>
				</div>
				
            </div>
        </section>
    </div>
</template>

<script>

	import { mapMutations } from "vuex"
	import { FormWizard, TabContent, WizardButton} from 'vue-form-wizard'
	import CommonMixins from '../mixins/common'
    import EasyInputs from '../components/EasyInputs.vue'
    import InputExtras from '../components/InputExtras'
    import 'vue-form-wizard/dist/vue-form-wizard.min.css'
	import TermsAndConditionsContent from './partials/TermsAndConditionsContent'
	
	export default {
		mixins: [ CommonMixins ],
        props: [ 'business_types', 'countries', 'digital_capitals', 'social_networks', 'categories', 'customer_data'],
		components: {
			FormWizard,
			TabContent,
			WizardButton,
			'terms-and-conditions-content': TermsAndConditionsContent,
            'easy-input': EasyInputs,
		    'input-extras': InputExtras
		},
		data() {
			return {		
                formData: {
					lang: this.$i18n.locale,
					country_id: 'AR',
                    state_id: null,
					country_id: null,
                    customer_phone: '',
					user_allows_contact: 0,
                    category_id: 0,   
                    logistic_id: 0,
                    social: [],
                    digital_capital: [],
                    business_type_id: 0,
					domain_name: '',
            		description: '',
            		business_age: 0,
            		working_hours: 0,
            		net_income_last_year: 0,
            		net_income_actual_year: 0,
            		views_per_month: 0,
            		organic_views_per_month: 0,
            		total_followers: 0,
            		total_subscriptors: 0,
            		active_users: 0,
            		total_downloads: 0,
                    socialNetworkDefault: null,
                },
                errors: [],
                showForm: true,
                successMessage: false,
                errorMessage: false,
                states: [],
            }
		},
        created() {
            this.setExistingCustomerData();
        },
        computed: {

            phonePrefixByCountry() {
                switch (this.formData.country_id) {
                    case 'AR':
                        return '+54'
                    case 'CO':
                        return '+57'
                    case 'PE':
                        return '+51'
                    case 'MX':
                        return '+52'
                    case 'CL':
                        return '+56'
                    case 'UY':
                        return '+598'
					case 'BR':
						return '+55'
                    default:
                        return '---'
                }
            },

			domainText () {

				if(this.formData.business_type_id == '2') // Canal de youtube
					return this.$t('main-form.fields.domain-youtube');
				else if(this.formData.business_type_id == '3') // Influencer
					return this.$t('main-form.fields.domain-social');
				else if(this.formData.business_type_id == '4') // App
					return this.$t('main-form.fields.domain-app');
				return this.$t('main-form.fields.domain-domain');

			},

			totalSubscriptorsText () {
				if(this.formData.business_type_id == '2')
					return this.$t('main-form.fields.subscriptors-channel');
				return this.$t('main-form.fields.subscriptors-newsletter');
			},

			digitalCapitalName() {
				if(this.$i18n.locale == 'br')
					return 'name_br'
				return 'name'
			},

			fieldNameLocale() {
				if(this.$i18n.locale == 'br')
						return 'name_br'
				return 'name'
			}
			
        },

		methods: {

			...mapMutations(['toggleMainLoader']),
	
            setExistingCustomerData() { 
                if(this.customer_data == "0") {
                    console.log("New customer");
                    return
                }

                this.formData.state_id = this.customer_data.state_id
                this.formData.country_id = this.customer_data.country_id
                this.formData.customer_email = this.customer_data.customer_email
                this.formData.customer_firstname = this.customer_data.customer_firstname
                this.formData.customer_lastname = this.customer_data.customer_lastname
                this.formData.customer_phone_area = this.customer_data.customer_phone_area
                this.formData.customer_phone_number = this.customer_data.customer_phone_number
                this.formData.user_allows_contact = 1

                this.getStates(this.customer_data.country_id)

            },
			getInputVisibilty(inputName) {

				// console.log(this.formData.business_type_id);

				switch (inputName) {
					case 'organic_views_per_month': 
						if(this.formData.business_type_id == '2' || this.formData.business_type_id == '3' || this.formData.business_type_id == '4')
							return false;
						return true;
					case 'views_per_month': 
						if(this.formData.business_type_id == '3' || this.formData.business_type_id == '4')
							return false;
						return true;
					case 'working_hours': 
						if(this.formData.business_type_id == '4')
							return false;
						return true;
					case 'total_followers': 
						if(this.formData.business_type_id == '4')
							return false;
						return true;
					case 'total_subscriptors': 
						if(this.formData.business_type_id == '4')
							return false;
						return true;	

					// Unique fields
					case 'active_users': 
						if(this.formData.business_type_id == '4')
							return true;
						return false;	
					case 'total_downloads': 
						if(this.formData.business_type_id == '4')
							return true;
						return false;	
					case 'logistic_id': 
						if(this.formData.business_type_id == '1' || this.formData.business_type_id == '0')
							return true;
						return false;	
					
						
					default:
						return true;
				}
			},

            validateAndSetStepOne() {

                let route = '/validateMainFormStepOne';
                let data = this.formData;

                this.formData.customer_phone = this.phonePrefixByCountry + " (" + this.formData.customer_phone_area + ") " + this.formData.customer_phone_number;

                return new Promise((resolve, reject) => {

                    axios.post(route, data)
                        .then(res => {
                            if(res.data.status == 'success') {
                                resolve(true);
                            }
                            else {
                                this.errors = res.data.message;
                                reject('No');
                            }
                        })
                        .catch(error => {
							console.error("Error on validateFormStep()");
                            console.log(error);
                            return false;
                        });     
                });
            },

			validateformDataFormStepTwo() {

				let route = '/validateMainFormStepTwo';

				this.formData.customer_phone = this.phonePrefixByCountry + " (" + this.formData.customer_phone_area + ") " + this.formData.customer_phone_number;
					
				axios.post(route, this.formData)
					.then(res => {
						// console.log(res);
						if(res.data.status == 'success') {
							console.log("SUBMIT");
							this.submitForm();
						}
						else {
							this.errors = res.data.message
							let message = this.$t('main-messages.errors.errors-or-missing-fields');

							this.$helpers.alertSmall({type: 'error', message: message});
						}
					})
					.catch(error => {
						console.error("Error on validateFormStepTwo()");
						console.log(error);
						return false;
					});			
			



				// return new Promise((resolve, reject) => {

				// 	axios.post(route, this.formData)
				// 		.then(res => {
				// 			// console.log(res);
				// 			if(res.data.status == 'success') {
				// 				resolve(true);
				// 			}
				// 			else {
				// 				this.errors = res.data.message;

				// 				let message = this.$t('main-messages.errors.errors-or-missing-fields');
		
				// 				this.$helpers.alertSmall({type: 'error', message: message});
				// 				reject('No');
				// 			}
				// 		})
				// 		.catch(error => {
				// 			console.error("Error on validateFormStep()");
				// 			console.log(error);
				// 			return false;
				// 		});			
				// });
			},

			submitForm() {
                let route = '/submitMainForm'
                this.toggleMainLoader(true)

                axios.post(route, this.formData)
                    .then(res => {
						console.log(res)
                        if(res.data.status == 'success') {
                            // this.$helpers.alertSmall({message: res.data.message});
                            this.showForm = false
                            this.successMessage = true
							this.$helpers.pixel('SubmitApplication');

                        } else if(res.data.status == 'error') {
                            // this.$helpers.alertSmall({type: 'error', message: res.data.message});
                            this.showForm = true
                            this.successMessage = false
                            this.errors = res.data.message
                        }
                    })
                    .catch(error => {
                        console.error("Error on submitformData()")
                        console.log(error);
                    })
                    .finally(() => {
                        this.toggleMainLoader(false)
                    });
            },

			addSocialNetwork(selectedOption) { 
				let id = selectedOption.target.value;
				let newSocial = { 
									id: id, name: this.social_networks[id], 
									pivot: { 
						
										social_id: id, 
										followers: '', 
										subscriptors: '',
										account_url: ''
									} 
								};							
				this.formData.social.push(newSocial);
			},

			addDigitalCapital(ids) {
				
				this.formData.digital_capital = [];
				ids.forEach(element => {

					let newDigitalCapital = {
						id: element,
						name: this.digital_capitals[element]
					};

					this.formData.digital_capital.push(newDigitalCapital);

				});
			},

            getStates(countryId = undefined){
                let country = 'AR';

                if(countryId) {
                    country = countryId;   
                } else if(this.formData.country_id) {
                    country = this.formData.country_id;
                }

                let route = '/getStates/'+ country;
                axios.get(route)
                    .then(res => {
                        this.states = res.data;
                    })
                    .catch(error => {
                        console.error("Error on getStates()");
                        console.log(error);
                    });
            },
            
            clearError(value) {
                this.errors[value] = undefined;
            },

            removeSocialNetwork (relation, key) {
                Vue.delete(relation, key);
            },

            repeatAdd(message) {
                console.log("Repeat add ?");
            },
		}
	}

</script>

