<template>
    <div>
        <section>
            <!-- List -->
            <div class="container">
                <!-- <div class="row justify-content-center mb-4 mt-4">
                    <h1 class="main-title-01">Últimas Publicaciones</h1>
                </div> -->
                <div class="row">
                    <div class="col-12 post-show">
                        <div class="title"> <h1>{{ item.title }}</h1> </div>
                        <hr class="softhr">
                        <div class="featured-image">
                            <img v-if="item.featured_image" :src="$helpers.sitePostAssets(item.featured_image)" alt="">
                            <img v-else :src="$helpers.siteAsset('post-default.jpg')" alt="">
                        </div>
                        <div class="content" v-html="item.content"></div>
                        <hr class="softhr">
                        <div class="tags">
                            <a :href="'/noticias?searchByTag=' + tag.name" v-for="(tag, index) in item.tags" :key="index"> {{ tag.name }} 
                                <span v-if="index != Object.keys(item.tags).length - 1"> | </span>
                            </a>
                        </div>
                        <div class="date"></div>
                    </div>
                </div>

                <div class="mobile-spacing" style="height: 20px"></div>
                <div class="row">
                    <div class="col-12">
                        <a href="/noticias" class="btn btn-main">Volver</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>

    import ThemifyIcon from "vue-themify-icons";

    import CommonMixins from '../mixins/common.js'
    
    import Box_01 from '../components/Box_01'

	export default {
        props: [ 'item' ], 
		mixins: [ CommonMixins ],
		components: {
            'box-01': Box_01,
            ThemifyIcon
		},
		data () { 
			return {

			}
		},
		methods: {
            redirectToContact(id, title) {
                console.log("Redireccionando " + '/contacto/' + id + '/' + title);
                window.location = '/contacto?articleId=' + id
            },


		}
	}

</script>