<template>
    <div class="about-us">
        <div class="container-fluid section-header p-0">
            <img :src="$helpers.siteAsset('faq.png')">
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="main-title-01">Noticias</h1>
                    <hr class="softhr">
                </div>
            </div>
            <div class="row mb-4">

                <div class="col-12 col-sm-4 col-md-3">
                    
                    <a v-if="finalQuery || activeTag" href="#" class="btn small-cta" @click="resetSearch">
                        <!-- Limpiar búsqueda -->
                        {{ $t('main.search-clear') }}
                    </a>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscar..." v-model="searchTerm" v-on:keyup.enter="performSearch" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" @click="performSearch">
                                <img :src="$helpers.bIcon('search')">
                            </button>
                        </div>
                    </div>

                   
                    <div class="list mb-2">
                        <!-- {{ tags }} -->
                        <!-- :href="'/noticias?searchByTag=' + tag.name"  -->
                        <a @click="searchByTag(tag.name)" 
                            :class="{'badge badge-palette1': true, 'badge-active': activeTag == tag.name }"
                            v-for="(tag, index) in tags" :key="index"> 
                            <template v-if="$i18n.locale == 'br'">
                                {{ tag.name_br }} 
                            </template>
                            <template v-else>
                                {{ tag.name }}
                            </template>

                        </a>
                    </div>

                </div>
                <div class="col-12 col-sm-8 col-md-9">
                   
                    <div class="row p-0">
                       
                        <box-01 :effectOnHover="true"    
                            :columns="[12,12,6,6]" v-for="(item, index) in posts" :key="index" :overlay="true"
                             headerImageType="background" :headerImageSrc="$helpers.sitePostAssets(item.featured_image)">
                            <div slot="overlay-content">
                                <a class="btn-main" :href="/noticia/ + item.id">Ver noticia completa...</a>
                            </div>
                            <div slot="content">
                                <div class="post-content">
                                    <div class="title"> {{ item.title }} </div>
    
                                    <div class="date">
                                        <span v-html="$helpers.iconImg('clock')"></span>
                                        <span class="text"> {{ $helpers.convertMysqlDate(item.created_at) }} </span>
                                    </div> 
                                </div>
                            </div>

                        </box-01>

                    </div>
                    <div class="row mt-4 p-3">
                        <post-pagination-component :pagination="postsPagination" :useResultsPerPage="true" v-if="!postResults"></post-pagination-component>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions, mapGetters } from "vuex"

    import CommonMixins from '../mixins/common.js'
    
    import Box_01 from '../components/Box_01'
    import PostPagination from '../components/PostPagination'
    import MainLoader from '../components/MainLoader'

	export default {
        props: [ 'tags'],
		mixins: [ CommonMixins ],
		components: {
            'box-01': Box_01,
            'post-pagination-component': PostPagination,
            'main-loader': MainLoader
		},
		data () { 
			return {
				searching: false,
                searchTerm: '',
                activeTag: '',
                finalQuery: ''
			}
		},
		created() {
            
            const urlParams = new URLSearchParams(window.location.search);
            const clearSearch = urlParams.get('c');
            const tag = urlParams.get('tag');

            if(clearSearch == '1')
                this.$helpers.clearLocalStorage('blogSearchQuery')

            if(localStorage.getItem('blogSearchQuery') != '') {
                this.finalQuery = localStorage.getItem('searchTerm')
                this.searchTerm = localStorage.getItem('blogSearchQuery');
            }
            else 
            {
                // Prevent pagination error if url do not contain ? 
                if(window.location.href.split('/').pop() != 'noticias')
                    this.finalQuery = window.location.href.split('?').pop();
            }

            if(tag)
                this.finalQuery = 'searchByTag='+tag;
                
            this.getPosts({ query: this.finalQuery });
		},
		computed: {
            ...mapGetters(['posts']),   
            ...mapGetters(['postsPagination']), 
            ...mapGetters(['postResults']),
		},
		methods: {
            ...mapActions(['getPosts']),

            redirectToPost(id) {
                window.location = "/post/" +id;
            },

            searchByTag(tag) {
                this.activeTag = tag
                this.getPosts({query: '&searchByTag=' + tag });
            },

            setTermOnQuery() {
                this.queryTerm += '&search=' + this.searchTerm
            },

            performSearch() {

                if(this.searchTerm != '') {
                    this.finalQuery += "&search=" + this.searchTerm
                }
                
                localStorage.setItem('searchTerm', this.searchTerm)

                this.getPosts({query: this.finalQuery});
            },

            resetSearch() {
                this.$helpers.clearLocalStorage('searchTerm')
                this.finalQuery = ''
                this.activeTag = ''
                this.searchTerm = ''
                this.getPosts({page: 1})
            }

		}
	}

</script>