<template>
    <div>
        <section>
            <!-- List -->
            <div class="container">
                <!-- <div class="row justify-content-center mb-4 mt-4">
                    <h1 class="main-title-01">Últimas Publicaciones</h1>
                </div> -->

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-8">
                        <span v-if="item.category">
                            
                             <template v-if="$i18n.locale == 'br'">
                                {{ item.category.name_br }}
                            </template>

                            <template v-else>
                                {{ item.category.name }}
                            </template>
                            
                        </span>
                        <h1>{{ item.title }}</h1>
                        <p v-html="item.description"></p>
                        
                        <div class="row mb-3">
                            <div class="col-12 col-sm-6">
                                <h4 class="color-palette1 ">
                                    {{ $t('post-show.financial-info') }} 
                                    <!-- Información financiera -->
                                </h4>
                                <!-- Ganancia último año:  -->
                                {{ $t('post-show.last-year-income') }} 
                                <b>${{ $helpers.formatMoney(item.net_income_actual_year) }} </b><br>
                                
                                {{ $t('post-show.last-period-income') }} 
                                <!-- Ganancia período anterior:  -->
                                <b>${{ $helpers.formatMoney(item.net_income_last_year) }} </b><br>
                            </div>
                            <div class="col-12 col-sm-6" v-if="item.digital_capital.length != 0">
                                <h4 class="color-palette1">
                                    {{ $t('post-show.digital-capital') }} 
                                    <!-- Capital Digital -->
                                </h4>
                                <span v-for="(dc, index) in item.digital_capital" :key="index">
                                    <span style="color: green" class="ti-check"></span> 
                                        <template v-if="$i18n.locale == 'br'">
                                            {{ dc.name_br }} 
                                        </template>
                                        <template v-else>
                                            {{ dc.name }} 
                                        </template>
                                    <br>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <h4 class="color-palette1 ">
                                    {{ $t('post-show.social-networks') }} 
                                    <!-- Redes Sociales -->
                                </h4>
                                <span v-for="(sn, index) in item.social" :key="index">
                                    <b>{{ sn.name }} </b>
                                    <span v-if="index != Object.keys(item.social).length - 1"> | </span>
                                </span> <br>
                                
                                {{ $t('post-show.total-followers') }} 
                                <!-- Cantidad total de seguidores:  -->
                                <b>{{ $helpers.formatInteger(item.total_followers) }} </b><br>
                                
                                {{ $t('post-show.total-subscriptors') }} 
                                <!-- Cantidad total de suscriptores:  -->
                                <b>{{ $helpers.formatInteger(item.total_subscriptors) }} </b>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-spacing" style="height: 40px"></div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <box-01  :columns="[12,12,12,12]">
                            <div slot="content">
                                <div class="title">
                                    {{ $t('post-show.location') }} 
                                    <!-- Ubicación -->
                                </div>
                                <div class="text-small mb-2">
                                    <span v-if="item.country">
                                        <span>{{ item.country.name }} </span>
                                        <span v-if="item.state"> - {{ item.state.name }} </span>
                                    </span>

                                    <span v-else>-</span> 
                                </div>

                                <div class="title">
                                    {{ $t('post-show.net-income') }} 
                                    <!-- Ganancia Neta Anual -->
                                </div>
                                <div class="text-big mb-2">${{  $helpers.toInteger(item.net_income_actual_year) }}</div>

                                <template v-if="item.female_traffic > item.male_traffic">
                                    <div class="title">
                                        {{ $t('post-show.female-public') }} 
                                        <!-- Público Mujer -->
                                    </div>
                                    <div class="text-big mb-2">% {{ item.female_traffic }} </div>
                                </template>

                                <template v-else>
                                    <div class="title">
                                         {{ $t('post-show.male-public') }} 
                                        <!-- Público Hombre -->
                                    </div>
                                    <div class="text-big mb-2">
                                        <span v-if="item.male_traffic > 0">% {{ item.male_traffic }}</span>
                                        <span v-else>-</span>
                                    </div>
                                </template>    
                                
                                <div class="title"> 
                                    {{ $t('post-show.business-age') }} 
                                    <!-- Antigüedad del comercio  -->
                                </div>
                                <div class="text-big mb-2">{{ item.business_age }} 
                                    {{ $t('post-show.years') }} 
                                    <!-- años -->
                                </div>

                                <div class="title"> 
                                    {{ $t('post-show.sale-price') }} 
                                    <!-- Precio de Venta  -->
                                </div>
                                <div class="text-big mb-2">
                                    {{ $helpers.currencyToText(item.country.name, sellingPrice(item.business_value_manual, item.business_value_local)) }}
                                    <!-- ${{ $helpers.toInteger(item.business_value_local) }} -->
                                </div>
                            </div>
                        </box-01>
                        <div class="col-md-12">
                            <button class="btn btn-main btn-block" v-on:click="redirectToContact(item.id, item.title), $helpers.pixel('AddToWishlist')">
                                {{ $t('post-show.btn-cta') }} 
                                <!-- Me interesa -->
                            </button>
                        </div>
                    </div>
                </div>

                 <div class="mobile-spacing" style="height: 20px"></div>

                <p class="text-center-mobile">
                    {{ $t('post-show.local-currency-values') }} 
                    <!-- * Todos los precios están expresados en moneda local. -->
                </p>

            </div>
        </section>
    </div>
</template>

<script>

    import ThemifyIcon from "vue-themify-icons";

    import CommonMixins from '../mixins/common.js'
    
    import Box_01 from '../components/Box_01'

	export default {
        props: [ 'item' ], 
		mixins: [ CommonMixins ],
		components: {
            'box-01': Box_01,
            ThemifyIcon
		},
		data () { 
			return {

			}
		},
		created() {
		},
		computed: {
    
		},
		methods: {
            redirectToContact(id, title) {
                // console.log("Redireccionando " + '/contacto/' + id + '/' + title);
                window.location = '/contacto?articleId=' + id
            },

            sellingPrice(manualValue, algorithmValue) {
                 if(manualValue != 0 && manualValue != undefined)
                    return this.$helpers.toInteger(manualValue);
                if(algorithmValue == 0 || algorithmValue == undefined )
                    return '-';
                return this.$helpers.toInteger(algorithmValue);
            },
		}
	}

</script>