<template>
    <div class="about-us">
        <div class="container-fluid section-header p-0">
            <img :src="$helpers.siteAsset('about-us.png')">
        </div>
        <br>
        <div class="container">
            <div class="row mb-4">
                <div class="col-12">
                    <terms-and-conditions-content></terms-and-conditions-content>
                </div>
            </div>  
        </div>
    </div>
</template>

<script>

    import TermsAndConditionsContent from './partials/TermsAndConditionsContent'

	export default {
		components: {
            'terms-and-conditions-content': TermsAndConditionsContent,
		},
		data() {
			return {
			}
		},
	}

</script>