<template>
    <div>
        <div v-on:click="toggleCollapse" style="white-space: nowrap" class="cursor-pointer">
            <slot name="title" style="float: left"></slot>
            <span v-if="isCollapsed">+</span>
            <span v-else>-</span>
        </div>
        <slot name="content" v-if="isCollapsed"></slot>
    </div>
</template>

<script>
    export default {
        props: [ 'collapse' ],
        data() {
            return {
                isCollapsed: false
            }
        },
        methods: {
            toggleCollapse() {
                this.isCollapsed = !this.isCollapsed;
            }
        }
    }
</script>