<template>
	<div class="input-group search-box-right custom-searchbox"> 
		 <b-input-group>
			<template v-slot:prepend>
				<!-- <b-input-group-text >X</b-input-group-text> -->
				<button v-if="activeSearch && searching" v-on:click="resetSearch" class="btn btn-outline" type="button"> X </button>
			</template>
            <slot name="custom-fields"></slot>
			<b-form-input @keyup.enter="commitSearch" v-model="searchTerm"></b-form-input>

			<template v-slot:append>
				<button @click="commitSearch" class="btn btn-outline-secondary" type="button">
					<img class="search-icon" :src="bIcon('search')">
				</button>
			</template>
		</b-input-group>
	</div>
</template>

<script>

	import { mapActions, mapGetters, mapMutations, mapState } from "vuex"
	import CommonMixins from '../mixins/CommonMixin'

	export default {
		mixins: [CommonMixins],
        props: [ 'searchByCountry' ],
		data () { 
			return {
				searchTerm: '',
				searching: false
			}
		},
		methods: {
			...mapActions(['fetchData']),
			...mapMutations(['setSearchTerm']),

			resetSearch() {
				this.searchTerm = '';
				this.setSearchTerm();
				this.fetchData({ page: '1' });
				this.searching = false;
			},

			commitSearch() {
                console.log('ok');
                // console.log("&country_id=" + this.searchByCountry);
				this.setSearchTerm(this.searchTerm + "&country=" + this.searchByCountry);
				this.fetchData({ page: '1' });
			}

		},
		computed: {
			...mapGetters(['pagination']),
			...mapGetters(['items']),
			...mapState(['query']),
			
			activeSearch: function() {

				if(this.query.searchTerm) {
					this.searching = true;
					return true;
				}
				
				this.searching = false;
				return false;

			}
		}
	}

</script>