<template>
    <div :class="inputClass">
        <div class="form-group">

            <template v-if="!hideLabel">
                <label class="title-input" v-if="label"> 
                    {{ label }} 
                    <a type="button" v-if="canCollapse" v-on:click="toggleCollapseInput()">
                        <span v-if="collapsed">+</span>
                        <span v-else>-</span>
                    </a>
                </label>
                <label v-else></label>
            </template>

            <transition name="fade" mode="out-in">
    
                <template v-if="!collapsed">

                    <!-- TEXTAREA -->
                    <template v-if="inputType == 'textarea'">
                        <vue-editor v-if="customTextarea" v-model="inputVal"/>
                        <textarea v-else v-model="inputVal" :name="name" 
                        :cols="textarea.cols" :rows="textarea.rows" class="form-control" 
                        @keydown="clearErrors" :placeholder="placeholder"></textarea>
                    </template>

                    <!-- SELECT -->
                    <select v-else-if="inputType == 'select'" v-model="inputVal" v-on:change="setOption" 
                        :name="name" class="form-control" >
                        <option selected disabled value="0"> {{ placeholder }} </option>

                        <template v-if="optionsFromModel != undefined">

                            <option v-for="(option, index) in optionsFromQuery" :key="index"
                                :value="setSelectOptionValue(option)"> {{ option['name'] }}
                            </option>
                            <option v-if="nullable" value="">{{ nullableText }}</option>

                        </template>

                        <template v-else-if="customOptionsArray">
                            <option v-for="(option, index) in options" :key="index" 
                            :value="option[optionsValueName]"> {{ option[optionsTextName] }} 
                            </option>
                        </template>
                        
                        <template v-else>
                            <option v-for="(option, index) in options" :key="index" 
                            :value="index"> {{ option }} 
                            </option>
                        </template>
                    </select>

                    <!-- MULTISELECT -->
                    <template v-else-if="inputType == 'multiselect'">
                        <Multiselect 
                            v-model="inputVal" 
                            :options="multiSelectOptions"
                            value="id"
                            :label="multiSelectLabelName"
                            track-by="id"
                            selectLabel="Presione enter para seleccionar"
                            selectGroupLabel="Presione enter para seleccionar el grupo"
                            selectedLabel="Seleccionado"
                            deselectLabel="Presione enter para deseleccionar"
                            deselectGroupLabel="Presione enter para deseleccionar"
                            placeholder="Seleccione..."                    
                            multiple
                        ></Multiselect>
                        
                    </template>

                     <month-picker v-else-if="inputType == 'month-datepicker' " 
                        @change="showDate"
                        lang="es">
                     </month-picker>
                    

                    <!-- DATEPICKER -->
                    <date-picker v-else-if="inputType == 'datepicker' "
                        v-model="inputVal"
                        type="date"
                        :lang="lang"
                        :disabled-date="notBeforeToday"
                        value-type="format"
                        format="DD/MM/YYYY"
                        :placeholder="placeholder"
                    ></date-picker>

                    <!-- IMAGE -->
                    <div class="input-group mb-3 v-file-input-group" v-else-if="inputType == 'image' ">
                            
                        <div class="custom-file col-12">
                            <input @change="selectImage" 
                                accept="image/*" 
                                type="file" 
                                class="custom-file-input" 
                                name="file"
                            >
                            <label class="custom-file-label">Seleccionar imágen...</label>
                        </div>
                        

                        <div class="image-preview col-12 mt-3">
                            <img class="img-fluid" :src="imgPreview" v-if="imgPreview" >
                            <img class="img-fluid" :src="previewImage" v-else-if="previewImage" >
                        </div>
                            
                    </div>
                    
                    <!-- INPUT  -->
                    <template v-else>
                        <input v-model="inputVal" :name="name" :type="dataType" v-bind="validationRules"
                        class="form-control" :placeholder="placeholder" @keydown="clearErrors"
                        >
                    </template>

                </template>
            </transition>
            <div class="input-error" v-if="error && !hideError">{{ error }}</div>
            <div class="input-error" v-if="frontError">{{ frontError }}</div>
            
        </div>
    </div>
</template>    

<script>

    import { mapGetters } from "vuex"
    import { TheMask } from 'vue-the-mask'
    // https://www.npmjs.com/package/vue-multiselect
    import Multiselect from 'vue-multiselect'

	// Datepicker Docs
	// https://mengxiong10.github.io/vue2-datepicker/index.html
	// https://www.npmjs.com/package/vue2-datepicker
	import DatePicker from 'vue2-datepicker'
	import 'vue2-datepicker/index.css'
    import 'vue2-datepicker/locale/es'

    // https://github.com/kleinrein/vue-month-picker
    import { MonthPickerInput } from 'vue-month-picker'
    
    // VUE Textarea editor
    import { VueEditor } from "vue2-editor";

	export default {
        props: [ 'label', 'columns', 'name', 'value', 'inputType', 'type', 'placeholder', 'childSelect', 'frontError',
                'options', 'optionsValueName', 'optionsTextName', 'optionsFromModel', 'multiSelectOptions', 'multiSelectLabel', 'nullable', 'nullableText', 
                'relation_dependency', 'customTextarea', 'textareaCols', 'textareaRows', 'canCollapse', 'isRelation', 
                'relation_name', 'relation_field_id', 'hideLabel', 'classes', 'validations', 'step', 'required', 'max', 'min', 
                'previewImage' ],
        components: {
            DatePicker,
			TheMask,
            VueEditor,
            Multiselect,
            'month-picker': MonthPickerInput
        },

        data() {
            return {
                hideError: false,
                customOptionsArray: false,
                collapsed: false,
                todayDate: '',
                lang: 'ES',
                formatLocale: {
					firstDayOfWeek: 1,
					monthBeforeYear: false,
                },
                optionsFromQuery: [],
                // dataArray: [{ value: "dark", label: "Dark" }],
                image: '',
                imgPreview: ''
            }
        },

        created() {
            if(this.optionsValueName && this.optionsTextName) {
                this.customOptionsArray = true;
            }   

            if(this.inputType == 'select' && this.optionsFromModel) {                
                this.getOptionsFromModel(this.optionsFromModel);
            }   

        },

        mounted() {
            this.todayDate = new Date();
			this.todayDate.setHours(0, 0, 0, 0);
            
            // console.log(this.previewImage);
            if(this.previewImage != '') {
                this.imgPreview == this.previewImage;
            }
        },

		computed: {
            validationRules () {
                let step = 'any';
                let required = false;
                
                if(this.step)
                    step = this.step;
                if(this.required) {
                    required = 'required';

                } else {
                    required = false;
                }

                return {
                    max: this.max,
                    min: this.min,
                    required: required,
                    step: step,
                }
            },

            ...mapGetters(['errors']),
            
            // multiSelectOptionsParsed() {
                
			// 	let options = [];

			// 	for(let item in this.multiSelectOptions){
			// 		let temp =  this.multiSelectOptions[item];
            //         if()
			// 		options.push({ id: item, name: temp });
			// 	}
			// 	console.log(options)
			// 	return options;

			// },

            multiSelectLabelName() {
                
                if(this.multiSelectLabel)
                    return this.multiSelectLabel
                    
                return 'name'
                
            },
            
            textarea() { 
                let cols = '10';
                let rows = '10';

                if(this.textareaCols != undefined)
                    cols = this.textareaCols;
                
                if(this.textareaRows != undefined)
                    rows = this.textareaRows;

                return { cols: cols, rows: rows }
            },

            optionsDataNames() {
                return { value: this.optionsValue, text: this.optionsText };
            },

            dataType() { 
                if(this.type == undefined) {
                    return 'text';
                }

                return this.type;
            },

            inputVal: {
                get() {
                    return this.value;
                },
                set(val) {
                    this.$emit('input', val);
                }
            },
                
			inputClass() {
                let columns = 'col-12 col-sm-12 col-md-12 col-lg-12';
                let classes = '';

                if(this.classes)
                    classes = this.classes;
                if(this.columns)
                    columns = "col-" + this.columns[0] + " col-sm-" + this.columns[1] + " col-md-" + this.columns[2] + " col-lg-" + this.columns[3];
                
                return columns + ' ' + classes;
            },

            error() {
                if(this.errors) {
                    this.hideError = false;
                    if(this.errors[this.name])
                        return this.errors[this.name][0];
                }
                return false;
            },

        },
        watch:{
            optionsFromModel(newValue, oldValue){
                // console.log(newValue, oldValue);
                this.getOptionsFromModel(newValue);
            },
            previewImage(newValue, oldValue) {
                return newValue;
            }
        },
        methods: {
            
            vuelog(data) {
                console.log(data);
            },

            setSelectOptionValue(item) {
                if(this.isRelation)
                    return item[this.relation_field_id];
                else if(this.optionsValueName)
                    return item[this.optionsValueName];

                return item['id'];
            },

            getOptionsFromModel(route, id = undefined) {
                
                let finalRoute = route;

                if(this.relation_dependency != undefined && this.relation_dependency.initial_id)  {
                    finalRoute = route + '/' + this.relation_dependency.initial_id;
                }
                
                axios.get(finalRoute)
                    .then(res => {
                        this.optionsFromQuery = res.data;
                    })
                    .catch(error => {
                        console.error("Error on getOptionsFromModel()");
                        console.log(error);
                    });
                    
            },

            toggleCollapseInput() {
                this.collapsed = !this.collapsed;
            },

            setOption (selectedOption) {
                this.$emit('optionSelected', selectedOption.target.value);
            },
                
            notBeforeToday(date) {
				return date < this.todayDate;
            },
        
            clearErrors() {
                this.hideError = true;
            },

            selectImage: function (event) {
				// this.file = this.$refs.file.files[0]; 

				const file = event.target.files[0]
				this.image = file;
				if (!file) {
					return false
				}

				if (!file.type.match('image.*')) {
					return false
				}

				const reader = new FileReader()
				const that = this
				reader.onload = function (e) {
					that.imgPreview = e.target.result
				}
				reader.readAsDataURL(file);
				this.$emit('imageFile', this.image);
			},

            showDate() {

            }
        }
	}

</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
