<template>
  	<header class="nav-header justify-content-between" :class="{ 'nav-header-full': !sidebarState }">
		<div class="left-items">
			<div class="btn-hamburguer" v-on:click="sidebarToggle(sidebarState)">
				<div class="bar bar1"></div>
				<div class="bar bar2"></div>
				<div class="bar bar3"></div>
			</div>
			<div class="brand-mobile">
				<img class="user-main-logo" src="/images/vadmin/user-main-logo.png" alt="Sitio de Tiendas" />
			</div>
		</div>
		<div class="right-items">
			<!-- <b-dropdown class="right-menu" id="dropdown-form" text="Dropdown with form" ref="dropdown" class="m-2">
				<template slot="button-content">
					<span class="user-name" v-if="authUser.data">{{ authUser.data.username }}</span>
					<img class="user-image" src="/images/vadmin/logo-gen.jpg">
				</template>
				<b-dropdown-form>
					

					<b-form-checkbox class="mb-3">Remember me</b-form-checkbox>
					<b-button variant="primary" size="sm" @click="onClick">Sign In</b-button>
				</b-dropdown-form>
				<b-dropdown-divider></b-dropdown-divider>
				<b-dropdown-item-button>New around here? Sign up</b-dropdown-item-button>
				<b-dropdown-item-button>Forgot Password?</b-dropdown-item-button>
			</b-dropdown> -->
				
			<b-dropdown class="right-menu">  
				<template slot="button-content">
					<span class="user-name" v-if="authUser.data">{{ authUser.data.username }}</span>
					<img class="user-image" src="/images/vadmin/logo-gen.jpg">
				</template>
				<b-dropdown-item href="/vadmin/perfil-de-usuario" >
					<img class="icon" src="/vendor/bootstrap-icons/person-fill.svg"> perfil
				</b-dropdown-item>

				<div class="dropdown-item">
					
					<label for="">Modo oscuro</label>   
					<b-form-checkbox v-model="darkMode" name="check-button" switch v-on:click="toggleDarkMode">
						
					</b-form-checkbox>
				
				</div>
				<b-dropdown-item href="/vadmin/logout" id="logout-link">
					<img class="icon" src="/vendor/bootstrap-icons/power.svg"> Desconectar
				</b-dropdown-item>
			</b-dropdown>
		</div>
  	</header>
</template>

<script>
	import { mapActions, mapGetters } from "vuex";

	import CommonMixins from "../mixins/CommonMixin";
	import simplebar from "simplebar-vue";

	export default {
		components: {
			simplebar
		},
		mixins: [ CommonMixins ],
		data() {
			return {
				darkMode: false
			};
		},
		created() {
			this.getAuthUser();	

			if(localStorage.darkSkin == 'on') {
				this.darkMode = true;
			}
		},

		computed: {
			...mapGetters(["sidebarState"]),
			...mapGetters(["authUser"])
		},

		watch: {
			darkMode(newValue, oldValue){
	
				if(newValue)
					this.toggleDarkMode(1);
				else
					this.toggleDarkMode(0);

			}
		},

		methods: {
			...mapActions(["sidebarToggle", "getAuthUser"]),
			
			toggleDarkMode(state) {
				if(state == 1) {
					document.querySelector("#DarkSkinStylesheet").removeAttribute('disabled');
					localStorage.darkSkin = 'on';
					// document.getElementById('').setAttribute('disabled', false);
					// let file = document.createElement('link');
					// file.rel = 'stylesheet';
					// file.href = '/css/vadmin/skin-dark.css';
					// document.head.appendChild(file);
				}
				else {
					document.querySelector("#DarkSkinStylesheet").setAttribute('disabled', true);
					console.log("disable dark mode");
					localStorage.darkSkin = 'off';
				}
			},

			logout(evt) {

				axios.get('/logout').then(response => {
			
					// localStorage.removeItem('auth_token');

					// remove any other authenticated user data you put in local storage

					// Assuming that you set this earlier for subsequent Ajax request at some point like so:
					// axios.defaults.headers.common['Authorization'] = 'Bearer ' + auth_token ;
					// delete axios.defaults.headers.common['Authorization'];

					// If using 'vue-router' redirect to login page
					// this.$router.go('/login');
				})
				.catch(error => {
					console.log(error);
					// If the api request failed then you still might want to remove
					// the same data from localStorage anyways
					// perhaps this code should go in a finally method instead of then and catch
					// methods to avoid duplication.
					// localStorage.removeItem('auth_token');
					// delete axios.defaults.headers.common['Authorization'];
					// this.$router.go('/login');
				});       

			}

		}
	};
</script>
