<template>
	<td class="align-middle actions-cell list-actions">
		<template v-if="canBeModified">
			
			<slot name="status-switch">
				<label class="switch" small v-if="useActive">
					<input class="switch-checkbox" type="checkbox"
					:checked="itemActive"
					v-on:click="toggleActive">
					<span class="slider round"></span>
				</label>
			</slot>
				
		 </template>
		<b-dropdown class="simple-dropdown" dropup variant="link">  
			<template slot="button-content">
				<span><img :src="bIcon('list')"></span>
			</template>

			<slot name="extra-list-actions"></slot>

			<template v-if="canBeModified">
				<!-- Generic Edit/Create -->


				<template v-if="!noEditBtn">
					<template v-if="customEdit">
						<b-dropdown-item :href="editUrl">
							<img :src="bIcon('pen')" /> Editar
						</b-dropdown-item>
					</template>

					<!-- Generic Edit/Create -->
					<template v-else>
						<b-dropdown-item @click="setUpdateOrCreate" >
							<img :src="bIcon('pen')" /> Editar
						</b-dropdown-item>
					</template>
				</template>

				<!-- Delete -->
				<b-dropdown-item @click="deleteItem">
					<img :src="bIcon('trash')" > Eliminar
				</b-dropdown-item>
			</template>
			
		</b-dropdown>
	   
	</td>
</template>

<script>
	import CommonMixin from '../mixins/CommonMixin'

	export default {
		props: [ 'canBeModified', 'useActive', 'itemId', 'itemActive', 'customEdit', 'editUrl', 'noEditBtn' ],
		mixins: [ CommonMixin ],
		data() {
			return {
				actionsOpened: false
			}
		},
		methods: {
			toggleActive () {
				this.$emit('toggleActive');
			},
			deleteItem() {
				this.$emit('deleteItem');
			},
			setUpdateOrCreate() {
				this.$emit('setUpdateOrCreate');
			}
		},
		filters: {

		}
	}
</script>