<template>
    <div>
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<h1>{{ sectionTexts.plural }}</h1>
				</div>
			</div>
			<div class="row">
				<div class="col">
					
					<div class="section-actions" 
						:class="{ 'section-actions-full': !sidebarState, 'section-actions-fixed': sectionScrolled } ">

						<!-- Create Button -->
						<template v-if="!noCreate">
							<slot name="create-button" v-if="customCreateButton"></slot> <!-- Custom Create Button (Optional - Comes from section) -->
							<button v-else class="btn btn-main" @click="setUpdateOrCreate('create'), $bvModal.show('Modal')">
								+ {{ sectionTexts.new }}
							</button>
						</template>

						<slot name="extra-item"></slot>

						<!-- Delete Selected Action -->
						<button class="btn btn-danger round-btn" v-if="multipleItemsSelected && !noDelete" 
							@click="deleteItems(selectedItems, sectionTexts.askDelete)">
							<img class="invert" :src="bIcon('trash')">
						</button>

						<div class="float-sm-right right-actions">
							
								<!-- <customsearchinput-component></customsearchinput-component> -->
							<template v-if="!disableSearch">
								<searchinput-component></searchinput-component>
							</template>
							<slot name="custom-search"></slot>
							
							<button v-if="useExtraActions" class="btn expand-extra-actions " @click="toggleExtraActions">
								<div class="list-extra-actions">
									<span class="show-only-mobile mt-2"><img :src="bIcon('list')"> Más acciones</span>
									<span class="show-only-desktop"><img :src="bIcon('list')"></span>
								</div>
							</button>
						</div>
						
						<div class="extra-actions" v-if="useExtraActions && extraActions  == 'on'">
							<slot name="extra-actions"></slot>
						</div>
						
					</div>

					<div class="custom-list">
						<simplebar class="table-responsive custom-table" v-if="!noResults">
							<table class="table">
								<thead>
									<tr>
										<th class="checkbox-col" v-if="!noDelete">
											<!-- Select All Checkbox -->
											<b-form-checkbox  v-model="selectAllItems" size="lg">
											</b-form-checkbox>	
										</th>
										<!-- List Titles -->
										<th @click="changeOrder(item.name)" v-for="(item, index) in listDataVisible" :key="index" class="cursor-pointer">
											{{ item.label }}
										</th>
										<th class="actions-cell"></th>
									</tr>
								</thead>

								<tbody>
									<!-- Data -->
									<slot name="list-data">
									</slot>
								</tbody>
							</table>
							
						</simplebar>
						<div class="no-results" v-else>
							No se han encontrado resultados
						</div>

						
						<!-- Skeleton Loader -->
						<skeleton-list :rows="10" v-if="skeletonList"></skeleton-list>
						
						<!-- Pagination -->
						<pagination-component v-if="!noResults"></pagination-component>
						
					</div>
				</div>
			</div>		
		</div>
		<br>

		<!-- Save Modal -->
        <modal-component id="Modal" v-if="!customModal">
			<div slot="modal-title">
				<div v-if="updateMode"><h4 class="semi">Editar <span class="bold">{{ sectionTexts.singular }}</span></h4></div>
				<div v-else><h4 class="semi">Crear <span class="bold">{{ sectionTexts.singular }}</span></h4></div>
			</div>
			<div slot="modal-content">
				<form id="Form" @submit.prevent="save(item)">

					<input v-model="item.id" name="id" disabled type="hidden" class="form-control" placeholder="Id">
                    <div class="row" v-for="(field, index) in updateableFields" :key="index"> 
						<!-- We use EASY INPUT component to spawn the desired input -->
						<easy-input v-if="field.relation_dependency == undefined" :label="field.label" 
						:columns="field.columns | inputColumns" 
						v-model="item[field.name]" 
						:type="field.type" :inputType="field.inputType" :name="field.name" 
						:optionsFromModel="field.optionsFromModel" 
						:isRelation="field.isRelation"
						:relation_name="field.relation_name"
						:relation_field_id="field.relation_field_id"
						:placeholder="field.placeholder"
						v-on:optionSelected="optionSelected"/>

						<easy-input v-else :label="field.label" :columns="field.columns | inputColumns" 
						v-model="item[field.name]"
						:type="field.type" :inputType="field.inputType" :name="field.name"
						:optionsFromModel="field.optionsFromModel + '/' + selectedId"
						:relation_dependency="field.relation_dependency"
						></easy-input>
						<!-- Errors -->
						<!-- <div class="input-error" v-if="errors[field.name]">{{ errors[field.name][0] }}</div> -->
						
                    </div>
					
					<div class="modal-footer pb-0 pl-0 pr-0">						
						<button type="button" class="btn btn-secondary" @click="$bvModal.hide('Modal')">Cancelar</button>
						<div v-if="updateMode">
							<button type="submit" class="btn btn-main"><i class="fa fa-check"></i> Guardar Cambios</button>	
						</div>
						<div v-else>
							<button type="submit" class="btn btn-main"><i class="fa fa-check"></i>  Crear</button>	
						</div>
					</div>
					
				</form>
			</div>
		</modal-component>
		<slot name="customModal" v-else></slot>
    </div>
</template>

<script>

	import CommonMixin from '../mixins/CommonMixin'
	import FormEasyInputs from '../components/FormEasyInputs'
	import { mapGetters, mapState, mapMutations, mapActions } from "vuex"

	import Modal from '../components/slot-components/ModalSlotComponent'
	import SkeletonList from '../components/SkeletonList'
	import Pagination from '../components/PaginationComponent'
	import SearchInput from '../components/SearchInputComponent'
	import Simplebar from 'simplebar-vue'

    export default {
		props: [ 'sectionTexts', 'customModal', 'listDataVisible', 'updateableFields',  'childSelect', 'item', 
				'selectedItem','selectedItems', 'useExtraActions', 'modalExtraFields', 'noCreate',  'noDelete', 'disableSearch' ],
		mixins: [ CommonMixin ],
		components: {
			Simplebar,
			'modal-component': Modal,
			'skeleton-list': SkeletonList,
			'pagination-component': Pagination,
			'searchinput-component': SearchInput,
			'easy-input': FormEasyInputs
		},
		data(){
			return {
				selectAllItems: false,
				sectionScrolled: false,
				extraActions: 'off',
				customCreateButton: false,
				selectedId: 0,
			}
		},
		mounted() {

			window.addEventListener('scroll', (event) => {
				if(window.scrollY > 70)
					this.sectionScrolled = true;
				else
					this.sectionScrolled = false;
			});
			if(this.$slots['create-button'])
				this.customCreateButton = true;
			
			this.extraActions = localStorage.extraActions;
		},	
		filters: {
			inputColumns(columns) {
				if(columns)
					return columns;
				
				return [12,12,12,12];
			},
		},
		computed: {

			...mapGetters(['route', 'sidebarState', 'updateMode', 'allChecked', 'batchDeleteMode', 'noResults', 'errors', 'items', 'pagination']), 
			...mapState(['skeletonList', 'query']),

			noResults() {
				if(this.items.length == 0 && this.query.searchTerm != '' && !this.loader)
					return true;

				return false;
			},
			
			useCustomModal() {
				if(this.customModal != undefined && this.customModal)
					return true;

				return false;
			},

			multipleItemsSelected() {
				if(this.selectedItems.length > 1) 
					return true;

				return false;
			},
			
		},
		watch: {
			selectAllItems: function() {
				this.$emit("selectAllItems", this.selectAllItems);
			}
		},
		methods: {

			...mapMutations(['setOrder', 'setListProperty']),
			...mapActions(['fetchData', 'setLocalStorageParam']),

			optionSelected(id) {
				this.selectedId = id;
			},

			toggleExtraActions() {
				if(this.extraActions == 'off') {
					this.extraActions = 'on';
				} else {
					this.extraActions = 'off';
				}

				this.$helpers.setLocalstorageParam(['extraActions', this.extraActions]);
				// this.extraActions = !this.extraActions;
			}, 

			save(item) {
				this.$emit("save", item);
			},

			setUpdateOrCreate(action) {
				this.$emit("setUpdateOrCreate", action);
			},
					
			// Search and display options
			changeOrder(param) {
				this.setOrder(param);
				this.fetchData({ page: this.pagination.current_page });
			},

			deleteItems(items, message) {
				this.$emit("deleteItems", items, message);
			},
			

		}
	}
	
</script>

<style>
	.fade-enter-active, .fade-leave-active {
		transition: opacity .5s;
	}
	.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
		opacity: 0;
	}	
</style>