<template>
	<div>
		<div class="Loader loader" v-if="loader">
			<img src="/images/loader.gif" alt="Vadmin Loader">
		</div>
	</div>
</template>

<script>

	import { mapGetters } from "vuex";

	export default {
		computed: {
			...mapGetters(['loader']), 
		}
	}

</script>