<template>
 
</template>

<script>

    import Locations from '../mixins/Locations'

	export default {
		components: {
			
		},
		mixins: [ Locations ],
		data() {
			return {
			};
		},
		created() {
		},

		computed: {
		},
		methods: {
	

		}
	};
</script>
