<template>
	<modal-component :id="'AddRolesModal'">
		
		<div slot="modal-title">
			Seleccione los <b>Roles</b> para  {{ item.name }}
		</div>
			<div slot="modal-content" v-if="userRoles">
				<b-form-group label="">
				<b-form-checkbox-group size="lg"
					v-model="selectedRoles"
					:options="checkboxRoles"
					name="flavour-1a"
				></b-form-checkbox-group>
			</b-form-group>
			<div class="modal-footer pb-0 pl-0 pr-0">						
				<button type="button" class="btn btn-secondary" @click="$bvModal.hide('AddRolesModal')">Cancelar</button>
				<button type="submit" class="btn btn-main" @click="updateRoles({ route: '/vadmin/setRoles', model: model, itemId: item.id, roles:selectedRoles })">
					<img style="filter: invert(1)" :src="bIcon('check')"> Establecer roles
				</button>
			</div>
		</div>
		

	</modal-component>
</template>

<script>

	import Modal from '../components/slot-components/ModalSlotComponent'
	import CommonMixin from '../mixins/CommonMixin'
	import { mapGetters, mapActions } from "vuex"

	export default {
		props: [ 'model', 'modalId', 'item', 'userRoles' ],
		mixins: [ CommonMixin ],

		components: {
			'modal-component': Modal,
		},

		data() {
			return {
				selectedRoles: [],
			}
		},
		
		created() {
			this.getRoles();
		},
		
		methods: {
			...mapActions(['getRoles']),
			...mapActions(['sendPost']),

			updateRoles(data) {
				this.sendPost(data).then(response => {
					this.$bvModal.hide('AddRolesModal');
					this.alertSmall({ message: "Roles asignados correctamente" });
				}, error => {
					console.error("Error");
				});
			},

		},

		watch: {

			itemRoles(newValue, oldValue){
				return newValue;
			}, 

		},

		computed: {
			...mapGetters(['allRoles']),

			itemRoles() {
				let selected = [];
				let itemRoles = this.item.roles;
				
				if(itemRoles) {
					
					itemRoles.forEach(element => {
						selected.push(element.id);
					});

					this.selectedRoles = selected;
				}

				return selected;
			},

			checkboxRoles() {

				let orderedRoles = [];
				
				if(this.userRoles) {
					this.allRoles.forEach(role => {
						if(role.slug == 'developer' && this.userRoles.includes('developer') || role.slug != 'developer'){
							orderedRoles.push({ text: role.name, value: role.id });
						} 
						// else if() {
						// 	orderedRoles.push({ text: role.name, value: role.id });
						// }
					});
				}
				
				
				return orderedRoles;
			},

		}
	}

</script>
