<template>
	<nav :class="{ 'sidebar': true, 'sidebar-closed': !sidebarState } ">
		<div class="sidebar-header">
			<a href="/vadmin" class="brand">
				<!-- <h5>Sitio De Tiendas</h5> -->
				<img class="user-main-logo" src="/images/vadmin/user-main-logo.png" alt="Sitio de Tiendas" />
			</a>
		</div>
		<simplebar class="sidebar-content" data-simplebar-auto-hide="false">
			<!-- <transition name="view"> -->
				<sidebar-items v-if="menu" :item="menu"></sidebar-items>
			<!-- </transition>	 -->
		</simplebar>
		<div class="brand-logo-bottom">
			<img src="/images/vadmin/logo.png" alt="Vadmin Logo" />
			<p>Desarrollado por <a href="https://vimanastudio.com.ar" target="_blank">Vimana Studio</a></p>
		</div>
	</nav>
</template>


<script>
	import { mapGetters, mapActions } from "vuex"

	import CommonMixins from '../mixins/CommonMixin'
	import Simplebar from 'simplebar-vue'
	import SidebarItems from '../components/SidebarItems'
	// import links from '../router/links.json'

	export default {
		components: {
			Simplebar,
			'sidebar-items': SidebarItems,
		},
		mixins: [ CommonMixins ],
		props: [ 'menu' ],
		data() {
			return {
				// menu: '',
			}
		},

		created() {
			// console.log(this.menu);	
		},
		
		mounted(){
			// console.log(this.userRoles);
		},

		computed: {
			...mapGetters(['sidebarState']),
			parsedMenu() {
				// Convert json menu to Object
				// console.log(Object.assign(this.menu));
				return Object.assign({}, this.menu);
			}
		},

		methods: {
			getMenu() {
				axios.get('/vadmin/getMenu')
					.then((res) => {
						console.log(res.data);
						this.menu = res.data;
					})
					.catch((error) => {
						console.error('Error on getMenu()');
						console.error(error);
					}).finally(() => {
				});
			},

		},

		watch: {
			menu(newValue, oldValue) {
				
				if(newValue != undefined) {
					return newValue;
				}
				else {
					return undefined;
				}
			}
		}

	}
	
</script>

<style>

	.view-enter-active, .view-leave-active {
		transition: opacity 0.5s ease-in-out, transform 0.5s ease;
	}

	.view-enter-active {
		transition-delay: 0.5s;
	}

	.view-enter, .view-leave-to {
		opacity: 0
	}

	.view-enter-to, .view-leave {
		opacity: 1
	}

</style>