<template>
    <div :class="columnsClass" >
        <div class="info-with-title">
            <div class="title abs">{{ title }} 
                 <a type="button" v-if="canCollapse" v-on:click="toggleCollapseInput()">
                    <div class="btn-collapse">
                        <span v-if="collapsed">+</span>
                        <span v-else>-</span>
                    </div>
                </a>    
            </div>
            <transition name="fade" mode="out-in" >
                <template v-if="!collapsed && text">
                    <div class="text" v-html="text"></div>
                </template>
                <template v-else>
                    <div class="pl-3">-</div>
                </template>
            </transition>
        </div>
    </div>
</template>

<script>

    export default {
        props: ['title', 'text', 'columns', 'canCollapse' ],
        data() {
            return {
                collapsed: false,
            }
        },
        created() {
        },
        computed: {
            columnsClass() {
                if(this.columns && this.columns.length == 4)
                    return "col-" + this.columns[0] + " col-sm-" + this.columns[1] + " col-md-" + this.columns[2] + " col-lg-" + this.columns[3];
            },
        }, 
        methods: {
            toggleCollapseInput() {
                this.collapsed = !this.collapsed;
            },
        }
    }
</script>

