//
// |--------------------------------------------------------------------------
// | BUTTONS
// |--------------------------------------------------------------------------
//

.text-btn
	padding: 0 10px

.btn-main
	background-color: $palette1
	color: #fff
	border-radius: 20px
	font-weight: 300
	font-size: .9rem
	padding: 5px 20px
	@include transition(0.2s)
	i
		font-size: 0.8rem
	&:hover
		box-shadow: none
		background-color: $palette1 
		filter: brightness(1.2)
		color: #fff

.btn-white
	background-color: #fff
	color: $palette1
	border-radius: 20px
	font-weight: 300
	font-size: .9rem
	padding: 5px 20px
	border: 0
	@include transition(0.2s)
	i
		font-size: 0.8rem
	&:hover
		box-shadow: none
		background-color: $palette1 
		filter: brightness(1.2)
		color: #fff

.btn-with-icon
	img
		filter: invert(1)
		margin-right: 10px
	

.btn-grey
	background-color: $palette-grey-l
	color: #383838
	@include transition(0.2s)
	i
		font-size: 0.8rem
	&:hover
		box-shadow: none
		filter: brightness(1.5)
		color: #000

.btn-green
	background-color: $green

.btn-red
	background-color: $red

.btn-icon-text
	margin: 7px 0
	@include flex-center-left
	color: #fff
	.icon
		margin-right: 10px
		width: 30px
		height: 30px
		background-color: #ffffff
		border-radius: 50%
		padding: 2px 7px
		@include transition(0.2s)
	&:hover
		color: #fff
		cursor: pointer
		
.round-btn
	border-radius: 50%
	&:focus,&:hover
		border-radius: 50% !important

.btn-help
	border: 0
	background: 0
	background: $palette-l
	border-radius: 21px

.btn-hamburguer
	display: inline-block
	cursor: pointer
	.bar
		width: 28px
		height: 1px
		background-color: #fff
		margin: 8px 0
		transition: 0.4s

.simple-link
	color: #000
	@include transition(0.2s)
	&:hover
		color: #525252

.btn-small-sqr
	background-color: $palette1
	color: #fff
	border-radius: 5px
	padding: 0px 11px
	font-size: .8rem
	font-weight: 300
	@include transition(0.2s)
	&:hover
		color: #fff
		filter: brightness(1.2)