//
// |--------------------------------------------------------------------------
// | ELEMENTS
// | --------
// | Only generic elements, no specific section stuff.
// |--------------------------------------------------------------------------
//

.round-bordered-icon
	border: 1px solid #383838
	border-radius: 50%
	width: 40px
	height: 40px
	img
		filter: invert(1)
		max-width: 30px

.separation-bar
	width: 100%
	height: 10px
	margin-bottom: 10px
	@include flex-center
	.bar
		width: 200px
		border-bottom: 1px solid $palette1

//
// |--------------------------------------------------------------------------
// | CONTAINERS
// |--------------------------------------------------------------------------
//

.main-section
	padding: 50px 20px

.box-01
	margin-bottom: 40px
	position: relative
	.id
		position: absolute
		left: 35px
		top: 9px
		font-size: .7rem
	.image
		height: 100%
	.inner
		@include transition(.5s)
		@include color-shadow
		padding: 20px 20px 40px 20px
		border: 1px solid #fff
		// min-height: 100%
		.title
			color: $palette1
			font-size: .9rem
			font-weight: 700
		.text
			font-size: .9rem
			font-weight: 300
			color: $palette-grey
		.text-small
			font-size: .9rem
			font-weight: 400
			color: $palette-grey
		.text-big
			font-size: 2rem
			color: $palette-grey
			font-weight: 300
		.text-medium
			font-size: 1.4rem
			color: $palette-grey
			font-weight: 300
		.text-200-height
			max-height: 200px
			text-overflow: ellipsis
			overflow: hidden
		// Diagonal Ribbon
		.bottom-btn
			position: absolute
			bottom: 10px
			left: 30px
		.post-content
			min-height: 90px
			position: relative
			.title
				// min-height: 90px
			.date
				position: absolute
				bottom: -14px
				right: -10px
				text-align: right
				img
					width: 10px
					filter: opacity(.6)
				span.text
					font-size: 0.8rem
					color: $grey
			.tags
				position: absolute
				width: 100%
				height: auto
				bottom: 0
				left: 0
				span
					font-size: .9rem
					color: $grey
	.bg-header-image
		height: 200px
		background-position: center !important
		background-repeat: no-repeat !important
		// background-attachment: fixed !important
		-webkit-background-size: cover !important
		-moz-background-size: cover !important
		-o-background-size: cover !important
		background-size: cover !important
		position: relative
		.overlay
			position: absolute
			left: 0
			top: 0
			background-color: rgba(255,255,255,.5)
			width: 100%
			height: 100%
			@include flex-center
			@include transition(0.2s)
			opacity: 0
	&:hover
		.overlay
			opacity: 1
	.ribbon
		position: absolute
		// top: 0
		bottom: 0
		right: 15px
		width: 100%
		height: 100px
		overflow: hidden
		.background
			background-color: $palette1
			position: absolute
			// width: 140px
			// height: 78px
			// top: -20px
			// right: -49px
			width: 210px
			height: 78px
			top: 24px
			right: -98px
			transform: rotate(-45deg)
			@include flex-center
			.text
				position: absolute
				top: 5px
				left: 45px
				color: #ffffff
				padding-top: 0
				// transform: rotate(45deg)

.home-box-01 .inner
	min-height: 100%

.box-01.effect-on-hover
	@include transition(.5s)
	&:hover
		cursor: pointer
		.inner
			border: 1px solid $palette1
			@include color-shadow-small

.full-centered-container
	height: 100vh
	width: 100%
	@include flex-center

.post-show
	padding: 0
	.featured-image
		img
			max-width: 100%
			margin-bottom: 20px
	img
		max-width: 100%

.box-01-custom-item
	.title
		font-size: 1.2rem !important
	.top-image img
		max-width: 100%
	.limited-text
		// height: 60px

.no-results-container
	h4
		margin-top: 35px
		margin-bottom: 40px
		text-align: center
	hr
		margin-bottom: 20px

//
// |--------------------------------------------------------------------------
// | TABS
// |--------------------------------------------------------------------------
//

.custom-tabs
	margin-top: 20px
	.card-header
		background-color: transparent
		border: 0
	.nav-tabs
		border: 0 !important
	.nav-tabs .nav-link,.nav-tabs .nav-item.show
		color: $grey
		border: 0
		font-weight: 300
	.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link
		border-bottom: 2px solid $palette1
		color: $palette1
		font-weight: 600
//
// |--------------------------------------------------------------------------
// | LISTS
// |--------------------------------------------------------------------------
//

//
// |--------------------------------------------------------------------------
// | CARDS
// |--------------------------------------------------------------------------
//

.custom-card-01
	@include color-shadow
	position: relative
	text-align: center
	padding: 40px 20px 30px 20px
	margin-bottom: 20px
	min-height: 180px
	@include flex-center
	@include transition(0.2s)
	h1
		font-weight: 700
		color: $palette1
	p
		font-size: .9rem
		color: $grey
	.offset-icon
		@include flex-center
		position: absolute
		width: 100%
		text-align: center
		top: -33px
		left: 0
		.icon
			width: 56px
			height: 56px
			border-radius: 50%
			background-color: $palette1
			padding: 14px 0
			img
				max-width: 100%
				width: 25px
				height: 25px
	&:hover
		background-color: #f9f9f9
		@include color-shadow-small

.small-card
	@include color-shadow
	padding: 30px 10px 10px 10px
	font-size: .9rem
	position: relative
	text-align: center
	line-height: 1rem
	margin-bottom: 40px
	min-height: 200px
	@include flex-center
	.number
		position: absolute
		top: -15px
		left: 0
		width: 100%
		@include flex-center
		.inner
			@include flex-center
			border-radius: 50px
			background-color: $palette1
			color: #fff
			height: 40px
			width: 40px
			font-size: 1.2rem

//
// |--------------------------------------------------------------------------
// | FORMS
// |--------------------------------------------------------------------------
//

.small-cta
	padding: 0
	background: #ffffff
	margin-bottom: 5px
	font-size: .7rem
	@include transition(0.2s)
	&:hover
		cursor: pointer
		color: #ccc

//
// |--------------------------------------------------------------------------
// | FORMS
// |--------------------------------------------------------------------------
//

.custom-form
	@include flex-center
	text-align: center
	.content
		max-width: 500px
	input,select,textarea
		border-radius: 20px
		border: 1px solid rgba($palette1, .4)
		::placeholder
			color: $grey

	.btn
		padding: 5px 50px
		@include bottom-shadow

.custom-input
	position: relative
	margin-top: 24px !important
	.form-group
		margin-bottom: 1.2rem
	.input-group
		.input-group-text
			background-color: #f9f9f9
			border-radius: 20px 0 0 20px !important
		input
			border-radius: 0 20px 20px 0 !important
	.error-input
		background-color: $red
		border-bottom: 2px solid #383838
		color: #fff
		padding: 5px 10px
		position: absolute
		top: 43px
		left: 15px
		z-index: 999
		width: 90%
		.arrow-up
			position: absolute
			top: -8px
			left: 14px
			width: 0
			height: 0
			border-left: 8px solid transparent
			border-right: 8px solid transparent
			border-bottom: 8px solid $red
	.note
		position: absolute
		bottom: -12px
		left: 35px
		font-size: .8rem
		color: $palette-grey
		background: #fff
		padding: 0 10px
		.arrow
			max-width: 100%
			width: 11px
.steps-form
	@include flex-center
	input,select,textarea
		border-radius: 20px
		border: 1px solid rgba($palette1, .4)
		::placeholder
			color: $grey
	.subtitle
		border-bottom: 1px solid $palette1
		margin-top: 20px
		margin-bottom: 0
		font-size: 1.2rem
		font-weight: 600
		color: $palette1

@media (min-width: 1200px)
	.steps-form
		.form-content
			max-width: 90%

.custom-input-group
	padding-right: 40px
	position: relative
	.input-group-prepend
		min-width: 100px
		span
			border-radius: 40px 0 0 40px
			background-color: $palette1
			color: #fff
			width: 100%
	.delete-item
		position: absolute
		right: 0
		top: 0
		background-color: $palette1
		border-radius: 0 40px 40px 0
		height: 100%
		width: 50px
		padding: 5px 18px
		@include flex-center
		@include transition(0.2s)
		.icon
			color: #fff
		&:hover
			cursor: pointer
			background-color: $red
			.icon
				font-size: 1.3rem

.form-message
	@include flex-center
	width: 100%
	.content
		text-align: center
		width: 400px
		padding: 30px
		@include color-shadow
		.icon
			max-width: 100%
			margin-bottom: 15px
		p
			color: $grey
			font-weight: 400

.round-inputs
	input,select
		border-radius: 50px
		::placeholder
			font-size: 1rem
	textarea
		border-radius: 20px

//
// |--------------------------------------------------------------------------
// | LOADERS
// |--------------------------------------------------------------------------
//

.main-loader
	width: 100%
	height: 100%
	position: fixed
	top: 0
	left: 0
	@include flex-center
	background-color: rgba(255,255,255,.8)
	z-index: 9999

// |--------------------------------------------------------------------------
// | TABLES
// |--------------------------------------------------------------------------
//

//
// |--------------------------------------------------------------------------
// | Checkboxes
// |--------------------------------------------------------------------------
//

//
// |--------------------------------------------------------------------------
// | Skeletons
// |--------------------------------------------------------------------------
//

//
// |--------------------------------------------------------------------------
// | SEARCH BOXES
// |--------------------------------------------------------------------------
//

//
// |--------------------------------------------------------------------------
// | PAGINATION
// |--------------------------------------------------------------------------
//

.pagination
	.page-link
		margin: 0 2px
		&:focus
			box-shadow: none
		&:hover
			background-color: $palette-l
	.page-item.active .page-link
		background-color: $palette1
		border: $palette1

//
// |--------------------------------------------------------------------------
// | MODALS
// |--------------------------------------------------------------------------
//

.custom-modal
	.modal-content
		border-radius: 0
	.modal-header
		background-color: #f9f9f9
		margin-bottom: 15px
		border: 0
		h1,h2,h3,h4
			margin: 0
	.modal-big
		max-width: 90%

//
// |--------------------------------------------------------------------------
// | CUSTOM ELEMENTS
// |--------------------------------------------------------------------------
//

.floating-bottom-cta
	// display: none
	position: fixed
	right: 10px
	bottom: 70px
	z-index: 998
	.inner
		padding: 0
		width: 50px
		height: 50px
		border-radius: 50%
		background-color: #2cb742
		transform: scaleX(-1)
		a
			img
				max-width: 100%

		i
			color: #fff
			font-size: 1.6rem

@media (max-width: 800px)
	.floating-bottom-cta
		display: block

.collapsible-text
	border-bottom: 1px solid $grey
	margin-bottom: 10px
	position: relative
	.collapse-btn
		position: absolute
		top: 0
		right: 0
	span
		font-size: 1rem
		font-weight: 600

.locale-switcher
	@include flex-center
	.flag
		width: 70px
		margin-right: 10px
		img
			max-width: 100%

.nav-locale-switcher
	min-width: 80px
	.dropdown-locale-switcher
		left: -12px
		.text
			display: none

@media (max-width: 975px)
	.nav-locale-switcher
		margin: 20px 0

@media (max-width: 768px)
	.nav-locale-switcher > div
		@include flex-center
		.dropdown-locale-switcher
			padding: 0
			margin: 0
			.text
				display: block
				color: #000

@media (max-width: 1250px)
	.nav-locale-switcher
		@include flex-center
		.dropdown-locale-switcher img
			padding: 0 !important

.footer-locale-switcher
	position: absolute
	right: 50px
	top: 0
	@include flex-center
	.inner
		padding-top: 10px
		height: 50px

@media (max-width: 960px)
	.footer-locale-switcher
		position: relative
		left: 0
		@include flex-center-left

.dropdown-locale-switcher
	.dropdown-toggle
		border: 0
		background: transparent !important
		&:hover
			border: 1px solid #000
			border-radius: 0
			color: #000
			@include transition(0.2s)
	.dropleft .dropdown-toggle::before
		color: #fff
	.dropdown-menu
		li
			margin: 0 !important
		// background: transparent
		// border: 0
	.dropdown-item
		text-align: center
		padding: 1rem 1rem
		img
			max-width: 100%
			width: 70px !important

//
// |--------------------------------------------------------------------------
// | CAROUSEL
// |--------------------------------------------------------------------------
//

.testimonials-carousel
	padding-top: 40px
	padding-bottom: 80px !important
	.hooper
		padding: 0
		height: auto
		.hooper-slide.is-active
			filter: opacity(25%)
			transform: scale(0.9)
			@include transition(.5s)
		.hooper-slide.is-current
			transform: scale(1)
			filter: opacity(100%)
		.hooper-pagination
			.hooper-indicator
				background-color: #ccc
			.hooper-indicator.is-active
				background-color: $palette1
	.slide
		padding: 20px
		.slide-inner
			border: 1px solid #d1d1d1
			padding: 20px
			// background-color: #fbfbfb
			margin: 10px
			.slide-header
				.image
					img
						border: 3px solid white
						border-radius: 100%
						@include box-shadow
						max-width: 100%
						width: 100px
						float: left
				.sign
					@include flex-column-left
					.sign-name
						font-size: 1.1rem
						font-weight: 600
					.sign-charge
						font-size: .8rem
						font-weight: 300
			.slide-body
				position: relative
				.text
					padding-left: 30px
					position: relative
					font-size: .9rem
					font-weight: 300
					z-index: 2
				.quotes
					position: absolute
					z-index: 1
					top: -5px
					left: -7px
					img
						max-width: 100%
						width: 30px
						filter: brightness(1.5)

@media screen and ( max-width: 768px )
	.home-carousel
		padding-top: 50px
		padding-bottom: 9px !important
		.slide-image
			margin-bottom: 20px
		.slide
			.slide-inner
				margin: 10px 0px 10px 0

//
// |--------------------------------------------------------------------------
// | IMAGES
// |--------------------------------------------------------------------------
//

// |--------------------------------------------------------------------------
// | ALERTS
// |--------------------------------------------------------------------------
//

.swal2-popup
	border-radius: 0 !important
	.swal2-header
		.swal2-title
			font-size: 1.2em
			font-weight: 300
		.swal2-icon
			// width: 2em !important
			// height: 2em !important
			// margin: 0.8em auto 0.8em !important
			.swal2-icon-content
				// font-size: 1.75em !important

	button
		display: inline-block
		font-weight: 400
		color: #212529
		text-align: center
		vertical-align: middle
		cursor: pointer
		-webkit-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		user-select: none
		background-color: transparent
		border: 1px solid transparent
		padding: 0.375rem 0.75rem
		font-size: 0.9rem
		line-height: 1.6
		border-radius: 0.25rem
	.swal2-cancel
		background-color: $red !important
	.swal2-confirm
		background-color: $palette1 !important
		@include transition(0.2s)
		&:focus
			box-shadow: none
		&:hover
			filter: brightness(1.5)

.toast-success
	background-color: $green !important

//
// |--------------------------------------------------------------------------
// | TRANSITIONS
// |--------------------------------------------------------------------------
//

//
// |--------------------------------------------------------------------------
// | FULL SCREEN SECTIONS
// |--------------------------------------------------------------------------
//

.main-gradient-background
	@include gradientBackground

.full-screen-section
	height: 100vh
	@include flex-center

//
// |--------------------------------------------------------------------------
// | Mix
// |--------------------------------------------------------------------------
//
.icon-demo-container
	.icon-demo
		border-radius: 5px
		@include flex-column
		text-align: center
		background-color: #fff
		width: 200px
		height: 130px
		float: left
		margin: 0 8px 8px 0
		img
			height: 25px
			width: 25px

//
// |--------------------------------------------------------------------------
// | SECTIONS ElEMENTS
// |--------------------------------------------------------------------------
//

.section-actions
	background-color: #fff
	padding: 15px
	min-height: 68px
	.right-actions
		@include flex-center
		.expand-extra-actions
			margin-left: 5px
			padding: 2px 2px 2xp 10px
			border-radius: 0
	.extra-actions
		margin-top: 10px
		padding: 20px 0

.section-actions-fixed
	position: fixed
	top: 60px
	left: 0
	width: 100%
	z-index: 999
	padding-left: 270px
	@include box-shadow

.section-actions-full
	padding-left: 15px

@media (max-width: 768px)
	.section-actions-full
		.right-actions
			display: block
		.custom-searchbox
			width: 100%
			max-width: 100%
		> *
			margin-bottom: 10px

.ctsads-list
	.title
		white-space: nowrap
		position: relative
		.status-light
			position: absolute
			left: 0
			top: 0
			height: 100%
			@include flex-center
			.dot

				border-radius: 50%
				width: 10px
				height: 10px
			.dot.active
				background-color: $green-light
			.dot.inactive
				background-color: red
		h2
			padding-left: 20px
	.item
		padding: 15px
		.image
			display: inline-block
			position: relative
			.overlay
				padding: 20px
				opacity: 0
				position: absolute
				width: 100%
				height: 100%
				left: 0
				top: 0
				background-color: rgba(black, .7)
				border-radius: 5px
				color: #fff
				@include flex-center
				@include transition(0.2s)
				.delete,.pause
					&:hover
						color: #ccc
						.icon
							background-color: $red
				.play
					&:hover
						color: #ccc
						.icon
							background-color: $green
			&:hover
				.overlay
					opacity: 1
			img.adImage
				border-radius: 5px
				max-width: 100%
