// |--------------------------------------------------------------------------
// |--------------------------------------------------------------------------
// | MIXINS
// |--------------------------------------------------------------------------
// |--------------------------------------------------------------------------

	

//
// |--------------------------------------------------------------------------
// | EFFECTS
// |--------------------------------------------------------------------------
//

// Transitions
@mixin transition($segs)
	-webkit-transition: all $segs ease 0s
	transition: all $segs ease 0s
  
@mixin transition2($segs)
	transition: all $segs cubic-bezier(0.97, 0.17, 0.1, 0.4) 0s


@mixin glow()
	-webkit-animation: glow 1s ease-in-out infinite alternate
	-moz-animation: glow 1s ease-in-out infinite alternate
	animation: glow 1s ease-in-out infinite alternate


@-webkit-keyframes glow
	from
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #822f97, 0 0 40px #9444b4, 0 0 50px #d833c2, 0 0 60px #3200e9, 0 0 70px #08e600
	
	to
		text-shadow: 0 0 20px #fff, 0 0 30px #b577da, 0 0 40px #6739e7, 0 0 50px #504dff, 0 0 60px #ff4da6, 0 0 70px #5f4dff, 0 0 80px #4dff74
//
// |--------------------------------------------------------------------------
// | FLEXBOX
// |--------------------------------------------------------------------------
//

@mixin flex-column
	display: -webkit-box
	display: -ms-flexbox
	display: flex
	-webkit-box-align: center
	-ms-flex-align: center
	-ms-grid-row-align: center
	align-items: center
	-webkit-box-pack: center
	-ms-flex-pack: center
	justify-content: center
	-webkit-box-orient: vertical
	-webkit-box-direction: normal
	-ms-flex-direction: column
	flex-direction: column

	
.flex-column
	@include flex-column


@mixin flex-column-left
	display: -webkit-box
	display: -ms-flexbox
	display: flex
	-webkit-box-align: center
	-ms-flex-align: center
	-ms-grid-row-align: center
	justify-content: center
	-webkit-box-orient: vertical
	-webkit-box-direction: normal
	-ms-flex-direction: column
	flex-direction: column

@mixin flex-center
	display: -webkit-box
	display: -ms-flexbox
	display: flex
	-webkit-box-align: center
	-ms-flex-align: center
	-ms-grid-row-align: center
	align-items: center
	-webkit-box-pack: center
	-ms-flex-pack: center
	justify-content: center

.flex-center
	@include flex-center
	
@mixin flex-center-left
	display: -webkit-box
	display: -ms-flexbox
	display: flex
	-webkit-box-align: center
	-ms-flex-align: center
	-ms-grid-row-align: center
	align-items: center
	justify-content: left

	
@mixin flex-center-right
	display: -webkit-box
	display: -ms-flexbox
	display: flex
	-webkit-box-align: right
	-ms-flex-align: right
	-ms-grid-row-align: right
	align-items: right
	-webkit-box-pack: end
	-ms-flex-pack: end
	justify-content: flex-end

@mixin flex-center-grow
	display: -webkit-box
	display: -ms-flexbox
	display: flex
	-webkit-box-align: center
	-ms-flex-align: center
	-ms-grid-row-align: center
	align-items: center
	-webkit-box-pack: center
	-ms-flex-pack: center
	justify-content: center
	-ms-flex-wrap: nowrap
	flex-wrap: nowrap
	flex-grow: 1

@mixin flex-inline-centered
	display: -webkit-box
	display: -ms-flexbox
	display: flex
	-webkit-box-align: center
	-ms-flex-align: center
	-ms-grid-row-align: center
	align-items: center
	-webkit-box-pack: center
	-ms-flex-pack: center
	justify-content: center
	flex-grow: 1

@mixin flex-row-cent-wrap
	display: -webkit-box
	display: -ms-flexbox
	display: flex
	-webkit-box-align: center
	-ms-flex-align: center
	-ms-grid-row-align: center
	align-items: center
	-webkit-box-pack: center
	-ms-flex-pack: center
	justify-content: center
	flex-wrap: wrap

@mixin flex-justify-center
	display: -webkit-box
	display: -ms-flexbox
	display: flex
	-webkit-box-align: center
	-ms-flex-align: center
	-ms-grid-row-align: center
	align-items: center
	-webkit-box-pack: center
	-ms-flex-pack: center
	-webkit-box-pack: center
	-ms-flex-pack: center
	justify-content: center

//
// |--------------------------------------------------------------------------
// | TRANSFORMS
// |--------------------------------------------------------------------------
//
// TRANSLATE //
//@include translate(0,-20px)
@mixin translate( $x , $y )
	-ms-transform: translate($x, $y)
	-webkit-transform: translate($x, $y)
	transform: translate($x, $y)

// SCALE //
// @include scale(1.1 , 1.1)
@mixin scale($x , $y)
	-ms-transform: scale($x, $y)
	-webkit-transform: scale($x, $y)
	transform: scale($x, $y)

//
// |--------------------------------------------------------------------------
// | DECORATIONS
// |--------------------------------------------------------------------------
//	

@mixin border-radius($radio)
	-webkit-border-radius: $radio
	-moz-border-radius: $radio
	border-radius: $radio

//1. value = The X-coordinate - 2. value = The Y-coordinate - 3. value = The blur radius - 4. value = The color of the shadow
//  @include tShadow(5px,5px,5px, rgb(46, 46, 46))
@mixin text-shadow($x, $y, $blur, $color)
	-webkit-text-shadow: $x $y $blur $color
	-moz-text-shadow: $x $y $blur $color
	-moz-text-shadow: $x $y $blur $color
	-o-text-shadow: $x $y $blur $color
	text-shadow: $x $y $blur $color

@mixin tx-shadow()
	text-shadow: 1px 0px 2px #969696

@mixin box-shadow( $horiz : 5px , $vert : 2px , $blur : 8px , $spread : -5px , $color : rgba(0,0,0,0.55))
	-webkit-box-shadow: $horiz $vert $blur $spread $color
	-moz-box-shadow: $horiz $vert $blur $spread $color
	box-shadow: $horiz $vert $blur $spread $color

@mixin box-shadow-soft
	-webkit-box-shadow: 2px 3px 10px -3px rgba(0,0,0,0.46)
	-moz-box-shadow: 2px 3px 10px -3px rgba(0,0,0,0.46)
	box-shadow: 2px 3px 10px -3px rgba(0,0,0,0.46)

@mixin bottom-shadow($color: 209 209 209)
	-webkit-box-shadow: 0px 3px 8px 2px rgb($color)
	-moz-box-shadow: 0px 3px 8px 2px rgb($color)
	box-shadow: 0px 3px 8px 2px rgb($color)

@mixin color-shadow
	-webkit-box-shadow: 1px 2px 5px -2px rgba($palette1,.5)
	-moz-box-shadow: 1px 2px 5px -2px rgba($palette1,.5)
	box-shadow: 1px 2px 5px -2px rgba($palette1,.5)

@mixin color-shadow-small
	-webkit-box-shadow: 11px 6px 15px -8px rgba($palette1,.5)
	-moz-box-shadow: 11px 6px 15px -8px rgba($palette1,.5)
	box-shadow: 11px 6px 15px -8px rgba($palette1,.5)

@mixin gradientBackground
	background: rgb(22,25,50)
	background: linear-gradient(0deg, rgba(22,25,50,1) 0%, rgba(30,30,74,1) 51%, rgba(38,53,93,1) 100%)

@mixin box-shadow-left
	-webkit-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.5)
	-moz-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.5)
	box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.5)

@mixin vignette( $horiz : 30px , $vert : -311px , $blur : 270px , $spread : -58px , $color : rgba(16, 16, 16, 0.7))
	-webkit-box-shadow: $horiz $vert $blur $spread $color inset
	-moz-shadow: $horiz $vert $blur $spread $color inset
	box-shadow: $horiz $vert $blur $spread $color inset