.navigation
	background-color: #fff
	@include bottom-shadow
	.navbar-nav
		.nav-item
			@include flex-center
			margin: 0 5px
			text-align: center
			padding: 0 3px
		.no-bg-link a
			color: $palette1 !important
			font-weight: 600 !important
			
			@include transition(0.2s)
			&:hover
				filter: brightness(1.2)
		.btn-main
			font-size: .9rem
			color: #fff !important
			padding: 5px 20px !important
			&:hover
				color: #fff
				filter: brightness(1.2)
		.nav-link-no-bg
			color: $palette1
			font-size: .9rem
			border-bottom: 0px solid transparent
			@include transition(0.5s)
			&:hover
				border-bottom: 1px solid #ccc
		.active-link
			border-bottom: 1px solid black
	.navbar-brand
		padding-top: 0
		padding-bottom: 0
		.brand-slogan-text
			font-size: 1rem
			white-space: normal
			margin: 0

@media (max-width: 1350px)
	.navigation .navbar-nav .nav-item
		margin: 0
		padding: 0

@media (max-width: 1120px)
	.navigation	.navbar-brand .brand-slogan-text
		max-width: 400px			

@media (max-width: 768px)
	.navigation
		.navbar-nav
			padding-top: 30px
		.nav-item
			margin-bottom: 10px !important
		.navbar-brand
			.brand-slogan-text
				max-width: 395px

@media (max-width: 500px)
	.navigation 
		.navbar-brand 
			.brand-slogan-text
				max-width: 300px
