.top-content
	background: url('/images/site/home-banner.png') no-repeat center center
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover
	min-height: 400px
	position: relative
	@include flex-center
	@include vignette
	.content
		width: 100%
		.title
			float: left
			margin-right: 10px
		.changing-title
			h4,.title,.changing-text,.changing-word
				font-size: 2rem
				font-weight: 700
				color: #fff
				text-shadow: 0px 3px 6px #2A252BB3
			h4
				font-size: 1.4rem

			.changing-word
				color: #d6d6d6
					
	.bottom-overlay
		background: url('/images/site/bottom-overlay.svg') no-repeat center center
		-webkit-background-size: cover
		-moz-background-size: cover
		-o-background-size: cover
		background-size: cover
		position: absolute  
		height: 85px
		width: 100%
		left: 0
		bottom: 0   

@media (max-width: 768px)
	.top-content
		min-height: auto
		height: 400px
		.content
			padding: 20px
			margin-top: 0px
			.title
				float: none
		.changing-word-wrapper
			min-height: 50px

.top-search-form
	position: relative
	margin-top: 20px
	input,select
		// min-width: 200px
	.btn-submit
		padding: 5px 20px
	.advanced-search
		text-align: right
		p
			font-weight: 400
			color: $palette1a
		img
			width: 10px
	.search-helper
		padding: 20px
		background-color: #f9f9f9
		a
			color: $palette1
			font-size: .9rem

@media (max-width: 768px)
	.top-search-form 
		.advanced-search
			text-align: left

.home-banner-info
	background: url('/images/site/w-light-bg.png') no-repeat center center
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover


@media (max-width: 768px)
	.home-banner-info
		.column
			margin-bottom: 15px
	.home-cta-top
		padding-bottom: 0 !important
		.cta-01
			margin-bottom: 50px


.why-buy-banner
	background-color: #D8D8D8
	padding-top: 60px
	position: relative
	margin-bottom: 50px
	.title-row
		margin-bottom: 20px
	.item
		.icon 
			margin-bottom: 10px
			width: 100%
			@include flex-center
			img
				width: 70px
				max-width: 100%
		.main-text-01
			padding: 0 30px
	.bottom-overlay
		background: url('/images/site/grey-overlay.svg') no-repeat center center
		-webkit-background-size: cover
		-moz-background-size: cover
		-o-background-size: cover
		background-size: cover
		position: absolute  
		height: 60px
		width: 100%
		left: 0
		bottom: -60px
	
@media (min-width: 1390px)
	.why-buy-banner
		.bottom-overlay
			height: 92px
			width: 100%
			left: 0
			bottom: -90px


.contact-section
	padding-top: 20px
	padding-bottom: 20px
	text-align: center
	width: 100%
	> div
		@include flex-center
		.custom-form
			max-width: 500px


.about-us
	.section-header
		img
			max-width: 100%

.about-us-members
	.member-name
		font-size: 1rem
		font-weight: 600
	.member-charge
		font-size: 1rem
		font-weight: 400
		font-style: italic
	p
		font-size: .8rem

@media (max-width: 768px)
	.about-us
		.image-and-text
			.image
				max-width: 100%
				margin-bottom: 30px


.press-logos
	.inner
		text-align: center
		img
			max-width: 100%
			
@media (max-width: 768px)
	.press-logos
		.inner
			margin: 10px 0
//
// |--------------------------------------------------------------------------
// | Footer
// |--------------------------------------------------------------------------
//

footer
	background-color: $palette-grey-2
	border-top: 2px solid $palette1
	padding: 50px 0 0
	.col
		margin-bottom: 10px
	.footer-content
		padding: 20px
		h2
			font-size: 1.2rem
			font-weight: 600
			color: $palette2
		p,ul li, ul li a
			font-size: 1rem
			font-weight: 300
			color: $grey
			margin-bottom: 5px
		.btn
			white-space: nowrap
		.round-icon
			width: 30px
			height: 30px
			border-radius: 50%

	.social-logos
		img
			max-width: 44px
	.copyright
		padding: 20px
		position: relative
		.text
			padding-top: 15px
			font-weight: 400
			border-top: 3px solid #ccc
			margin-bottom: 0
			font-size: .8rem

@media (max-width: 768px)
	footer .col
		margin-bottom: 25px


//
// |--------------------------------------------------------------------------
// | How It Works
// |--------------------------------------------------------------------------
//

.how-it-works-videos
	.desktop,.mobile
		display: none

@media screen and ( max-width: 768px )
	.how-it-works-videos
		.mobile
			display: block
	
@media screen and ( min-width: 768px )
	.how-it-works-videos
		.desktop
			display: block