//
// |--------------------------------------------------------------------------
// | FONTS
// |--------------------------------------------------------------------------
//

// CDN Fonts
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap')

// Fonts stored locally

// @font-face
// 	font-family: 'Work Sans', sans-serif
// 	src: url("../../fonts/WorkSans-Light.ttf")
// 	font-weight: 300
// 	font-style: normal

// @font-face
// 	font-family: 'Work Sans', sans-serif
// 	src: url("../../fonts/WorkSans-Regular.ttf")
// 	font-weight: 400
// 	font-style: normal

// @font-face
// 	font-family: 'Work Sans', sans-serif
// 	src: url("../../fonts/WorkSans-Medium.ttf")
// 	font-weight: 500
// 	font-style: normal

// @font-face
// 	font-family: 'Work Sans', sans-serif
// 	src: url("../../fonts/WorkSans-Bold.ttf")
// 	font-weight: 700
// 	font-style: normal


$font1: 'Work Sans', sans-serif

// Bootstrap Variables
$font-family-sans-serif: $font1
$font-size-base: 0.9rem
$line-height-base: 1.6

//
// |--------------------------------------------------------------------------
// | COLORS
// |--------------------------------------------------------------------------
//

// Boostrap Variables
$blue: #e980ff
$indigo: #6574cd
$purple: #9561e2
$pink: #f66d9b
$red: #ea605c
$orange: #f6993f
$yellow: #ffed4a
$green: #3aa169
$green-light: #46db6b
$teal: #4dc0b5
$cyan: #6cb2eb
$grey: #757077
// Custom Colors
// Main palette
$palette1: #761E8E
$palette1a: #bc5dd5
$palette2: #4C135C
$palette-l: #dbdce3
$palette-grey: #929292
$palette-grey-l: #e9eaed
$palette-grey-2: #EDEBEE
$palette-blue: $blue

.color-palette1 
	color: $palette1 !important

.color-palette2
	color: $palette2 !important
	
$focus-shadow: rgba($palette1, 0.25)

.white-text.color-white
	color: #fff
.black-text.color-black
	color: #000
.light
	font-weight: 300 !important
.semi
	font-weight: 400 !important
.bold
	font-weight: 700 !important

.background-red,.red-bg
	background-color: $red

.background-green,.green-bg
	background-color: $green
	
.green-light-bg
	background-color: $green-light

.bg-palette1
	background-color: $palette1 !important

.bg-palette2
	background-color: $palette2 !important
	
//
// |--------------------------------------------------------------------------
// | VARIABLES
// |--------------------------------------------------------------------------
//

$nav-text: #fff
$nav-text-active: red

// Body
$body-bg: $palette-grey-l

//
// |--------------------------------------------------------------------------
// | RESETS
// |--------------------------------------------------------------------------
//

ul
	padding: 0 !important
	margin: 0 !important
	li
		// list-style-type: none !important

a
	&:hover
		text-decoration: none !important

.btn.focus, .btn-outline-secondary.focus
	box-shadow: 0 0 0 0.1rem $focus-shadow !important
.btn, .form-control, .btn-outline-secondary
	&:focus
		box-shadow: 0 0 0 0.1rem $focus-shadow !important

// 	border: 1px solid #d8d8d8 !important
// 	border-radius: 0 !important
// 	box-shadow: none !important

// .no-focus
// 	border: 1px solid #d8d8d8 !important
// 	border-radius: 0 !important
// 	box-shadow: none !important

//
// |--------------------------------------------------------------------------
// | STRUCTURE
// |--------------------------------------------------------------------------
//

$navHeaderHeight: 60px
$mainSectionMargin: 256px

html
	min-height: 100%
body
	overflow-x: hidden
	min-height: 100vh

section
	padding: 40px 20px
 
#app
	height: 100%

.main-wrapper
	// height: $navHeaderHeight
	height: 100%
	margin-left: $mainSectionMargin
	transition: all 0.2s cubic-bezier(0.97, 0.17, 0.1, 0.4) 0s
	padding-top: 78px

.main-wrapper-full
	margin-left: 0

@media (max-width: 600px)
	.main-wrapper-full
		margin: 0
	.main-wrapper
		margin: 0

.main-content
	padding-top: 75px
	position: relative
	padding-bottom: 80px
	// padding: 75px 10px 10px 10px


br.only-mobile
	display: none

@media (max-width: 768px)
	br.only-mobile
		display: block



//
// |--------------------------------------------------------------------------
// | HELPERS
// |--------------------------------------------------------------------------
//
	
.cursor-pointer
	&:hover
		cursor: pointer

.Hidden
	display: none !important

.brd
	border: 1px solid red

.horizontal-list
	li
		display: inline

.mobile-spacing
	height: auto



@media(max-width: 768px)
	.text-center-mobile
		text-align: center
	
@media(max-width: 1000px)
	.mobile-spacing
		height: 20px
		width: 100%

.relative
	position: relative

.vm-w50
	max-width: 50px

.vm-w100
	max-width: 100px

.vmw-150
	max-width: 150px

.invert
	filter: invert(1)

.align-middle-table
	vertical-align: middle !important

// .mb-5
// 	margin-bottom:

// .text-center
// 	text-align: center


.show-only-desktop-flex,.show-only-mobile-flex
	display: none !important
	
.show-only-mobile,.show-only-desktop
	display: none !important

@media(max-width: 974px)
	.show-only-mobile
		display: block !important
	.show-only-mobile-flex 
		display: flex !important

@media(min-width: 974px)
	.show-only-desktop
		display: block !important
	.show-only-desktop-flex
		display: flex !important

	