//
// |--------------------------------------------------------------------------
// | SKIN
// |--------------------------------------------------------------------------
//


body
	background-color: #fff
	
body,a,p,h1,h2,h3,h4,h5
	font-family: $font1
p
	font-weight: 300
	
h1
	font-size: 1.5rem
	font-weight: 400
h2
	font-size: 1.4rem
h3
	font-size: 1.3rem
h4
	font-size: 1.2rem

.fw3
	font-weight: 300

.fw7
	font-weight: 700


.bright-text
	color: #fff

.brd
	border: 1px solid red

.icon-delete
	color: #ccc
	&:hover
		color: $red
.icon-edit 
	color: #ccc
	&:hover
		color: $green

//
// |--------------------------------------------------------------------------
// | DECORATION
// |--------------------------------------------------------------------------
//

.color-shadow
	@include color-shadow

.color-shadow-small
	@include color-shadow-small
//
// |--------------------------------------------------------------------------
// | TITLES AND TEXTS
// |--------------------------------------------------------------------------
//

.main-title-01
	font-size: 1.7rem
	font-weight: 400
	color: $palette1

.main-title-02
	font-size: 1rem
	font-weight: 700
	color: $palette1

.main-title-03
	font-size: 1.7rem
	font-weight: 700
	color: $palette1

.main-small-subtitle
	font-size: .9rem
	color: $grey
	font-weight: 400

.main-medium-subtitle
	font-size: 1.2rem
	font-weight: 600

.main-text-01
	font-size: .9rem
	line-height: 1.3rem
	font-weight: 400
	color: $grey



//
// |--------------------------------------------------------------------------
// | VENDORS
// |--------------------------------------------------------------------------
//

// Datepicker
.mx-datepicker
	width: 100% !important

// Multiple Image
.multiple-image-plugin
	.image-container
		width: 100% !important


.wizard-btn
	border-radius: 40px !important
	font-weight: 400 !important
//
// |--------------------------------------------------------------------------
// | SIDEBAR
// |--------------------------------------------------------------------------
//

//
// |--------------------------------------------------------------------------
// | FORMS
// |--------------------------------------------------------------------------
//

.input-group-left-bg
	background-color: $palette1 !important
	color: #fff !important



//
// |--------------------------------------------------------------------------
// | BADGES
// |--------------------------------------------------------------------------
//



.badge
	color: #fff
	font-size: 0.8rem
	font-weight: 300
	
.badge-palette1
	background-color: #f9f9f9
	color: #000
	&:hover
		cursor: pointer


.badge-active
	background-color: $palette1
	color: #fff
