.badge
    margin-right: 4px 

.alert-danger
    background-color: $red
    border-color: $red
    color: #fff

.toast
    flex-basis: auto
.notices .toast
    margin-top: 3em !important

.vue-form-wizard .wizard-icon-circle
    border-color: #ededed !important

.vue-form-wizard .wizard-icon-circle .wizard-icon-container
    border-radius: 50% !important
    border: 3px solid $palette1 !important

.vue-form-wizard .wizard-icon-circle .wizard-icon
    font-style: normal !important

.wizard-custom-footer
    padding: 0 20px
    width: 100%
    button
        padding: 5px 45px
    .wizard-footer-right
        float: right

.modal
    .modal-header
        border: 0 !important