<template>
	<div>
		<!-- :modalExtraFields="modalExtraFields" -->

		<list-component 
			:item="item"
			:sectionTexts="sectionTexts" 
			:listDataVisible="listDataVisible"
			:updateableFields="updateableFields"
			:selectedItems="selectedItems"
			:selectedItem="selectedItem"
			:useExtraActions="false"	
			@save="save(item)"
			@deleteItems="deleteItems"
			@setUpdateOrCreate="setUpdateOrCreate"
			@selectAllItems="selectAllItems"
		>
			<template slot="extra-actions">
				<a href="#">Extra actions</a>
			</template>

			<!-- List data -->
			<template slot="list-data">
				<tr class="table-row" v-for="(item, index) in items" :key="index" :class="{ 'table-row-selected': isSelected(item.id) }">
					
					<td class="align-middle checkbox-col">
						<!-- List Checkbox -->
						<b-form-checkbox size="lg" v-if="!undeleteableItems.includes(item.id)"
							v-model="selectedItems"
							:value="item.id"
							>
						</b-form-checkbox>
					</td>

					<!-- Data -->
					<td class="align-middle" :class="{ 'with-left-action': show.isRelation && item.roles }" v-for="(show, index) in listDataVisible" :key="index">
						<template v-if="!show.isRelation"> 
							{{ item[show.name] }} 
						</template> 

						<template v-else>
							<template v-if="item[show.relation_name]">
								{{ item[show.relation_name][show.relation_field_name] }} 
							</template>
						</template> 

					</td>
					<!-- {{ item }} -->
					<list-actions 
						:canBeModified="!undeleteableItems.includes(item.id)"
						:itemId="item.id"
						:useStatus="true"
						:itemStatus="item.status"
						v-on:setUpdateOrCreate="setUpdateOrCreate('update', item), $bvModal.show('Modal')"
						v-on:changeStatus="changeStatus('Article', item.id, item.status, true)"
						v-on:deleteItem="deleteItems(item.id, sectionTexts.askDeleteItem + '<b> &nbsp ' + item.name + '</b>'), singleDelete()"
						>
						<div slot="extra-list-actions">
							<!-- <b-dropdown-item> <img :src="bIcon('trash')" > Action </b-dropdown-item> -->
						</div>
					</list-actions>	

				</tr>
			</template>
			
		</list-component>
	</div>
</template>

<script>
	// Mixins
	import CommonMixin from '../../mixins/CommonMixin'
	import CrudActions from '../../mixins/CrudActions'

	export default {
		mixins: [ CommonMixin, CrudActions ],
		data () {
			return {
				// Table Name
				sectionRoute: 'countries',
				
				sectionTexts: { plural: 'Países', singular: 'País', withArticle: "los países", new: "Crear País",
								askDelete: "Va a eliminar los países seleccionadas", askDeleteItem: "Va a eliminar el país " },
				item: { name: '', char_id: '' },
				
				listData: [
							{ name: 'name', label: 'Nombre', inputType: 'input', type: 'text', placeholder: 'Ingrese un nombre'},
							{ name: 'char_id', label: 'Prefijo', inputType: 'input', type: 'text', placeholder: 'Ingrese un prefijo' }
						],
						
				undeleteableItems: [], // array(), Set here the items that you dont want to allow deletion

			}
		},
	}
</script>
