<template>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1>Lenguajes</h1>

                <!-- {{ printJson(es) }} -->

                <div v-for="(text, index) in es" :key="index">
                    <template v-if="typeof text === 'object'">
                        <div v-for="(text2, index) in text" :key="index">

                            <template v-if="typeof text2 === 'object'">
                                <div v-for="(text3, index) in text2" :key="index">
                                    [{{ index }}] : {{ text3 }}
                                </div>
                            </template>


                            <template v-else>[{{ index }}]:  {{ text2 }} </template>

                        </div>
                    </template>


                    <template v-else>[{{ index }}]:  {{ text }} </template>
                    
                    <br>
                </div>
			</div>
		</div>
    </div>
</template>


<script>
    
    import json_es from '../../../../site/js/locales/es.json'
    import json_br from '../../../../site/js/locales/br.json'

	export default {
        
		data () {
			return {
                es: json_es,
                current_lang: 'es',
                lang_model: []
            }
        },
        methods: {
            printJson(json) {
                console.log(json)
            }
        }
    }
</script>