<template>
	<div>
		<!-- Modal -->
		<list-component 
			:item="item"
			:sectionTexts="sectionTexts" 
			:listDataVisible="listDataVisible"
			:updateableFields="updateableFields"
			:selectedItems="selectedItems"
			:noCreate="true"
			:noDelete="true"
			@save="save(item)"
			@deleteItems="deleteItems"
			@setUpdateOrCreate="setUpdateOrCreate"
			@selectAllItems="selectAllItems"
		>
			<!-- List data -->
			<template slot="list-data">
				<tr class="table-row" v-for="(item, index) in items" :key="index" :class="{ 'table-row-selected': isSelected(item.id) }">
					
					<!-- Data -->
					<td class="align-middle" :class="{ 'with-left-action': show.isRelation && item.roles }" v-for="(show, index) in listDataVisible" :key="index">
						<template v-if="!show.isRelation"> 
							
							<span v-if="index == 1"> <!-- Hardcoded the icons column -->
								<img class="icon-darkbg" style="margin-right: 10px"
								:src="'/vendor/bootstrap-icons/' + item[show.name] +'.svg'"> 
							</span>
							{{ item[show.name] }} 
							
						</template> 
						
						<!-- Relation data -->
						<template v-else>
							<template v-if="item.roles">

								<div class="left-action">
									<div class="item green-bg" v-b-modal.AddRolesModal  v-on:click="setItemRoles(item)"> + </div>
								</div>

								<span  v-for="(role, index) in item.roles" :key="index" class="badge badge-primary mr-2"> 
									{{ role.name }} 
									<!-- <div class="action" @click="deleteRole({ model:'Menu', itemId: item.id, roleId: role.id })">x</div> -->
								</span>
								
							</template>
						</template>
					</td>

					<list-actions>
						<div slot="list-actions" class="list-actions">
							<!-- Edit -->
							<b-dropdown-item 
								@click="setUpdateOrCreate('update', item), $bvModal.show('Modal')" >
								<img :src="bIcon('pen')" /> Editar
							</b-dropdown-item>
							<!-- Delete -->
							<!-- <b-dropdown-item 
								@click="deleteItems(item.id, sectionTexts.askDeleteItem + '<b> &nbsp ' + item.name + '</b>'), singleDelete()" v-if="!undeleteableItems.includes(item.id)">
								<img :src="bIcon('trash')" > Eliminar
							</b-dropdown-item> -->
						</div>
					</list-actions>

				</tr>
			</template>
		</list-component>
		
		<addroles-component :modalId="'AddRolesModal'" :model="'Menu'" :item="itemForRoles"></addroles-component>

	</div>
</template>

<script>
	// Mixins
	import CommonMixin from '../../mixins/CommonMixin'
	import CrudActions from '../../mixins/CrudActions'
	import RolesModal from '../../components/RolesModalComponent'

	export default {
		mixins: [ CommonMixin, CrudActions ],
		components: {
			'addroles-component': RolesModal,
		},
		
		data () {
			return {
				// Section properties
				sectionTexts: { plural: 'Menúes', singular: 'Menú', withArticle: "los menúes", new: "Crear Menú",
								askDelete: "Va a eliminar los menúes seleccionados", askDeleteItem: "Va a eliminar el menú " },

				// Model properties
                sectionRoute: 'menus',
                item: { name: '', icon: '' },
				listData: [
                            { name: 'name', label: 'Nombre', type: 'text', placeholder: 'Ingrese un nombre' },
							{ name: 'icon', label: 'Ícono', type: 'text', placeholder: 'Ingrese el nombre del ícono' },
							{ name: 'role', label: 'Roles', updateable: false, isRelation: true },	
						],
				undeleteableItems: [1], // array(), Set here the items that you dont want to allow deletion
			}
		}
	}
</script>
