<template>
	<div>
		<!-- Modal -->
		<list-component 
			:item="item"
			:sectionTexts="sectionTexts" 
			:listDataVisible="listDataVisible"
			:updateableFields="updateableFields"
			:selectedItems="selectedItems"
			:useExtraActions="false"
			@save="save(item)"
			@deleteItems="deleteItems"
			@setUpdateOrCreate="setUpdateOrCreate"
			@selectAllItems="selectAllItems"
		>
			<template slot="extra-actions">
				<a href="#">Extra actions</a>
			</template>

			<!-- List data -->
			<template slot="list-data">
				<tr class="table-row" v-for="(item, index) in items" :key="index" :class="{ 'table-row-selected': isSelected(item.id) }">
					
					<td class="align-middle checkbox-col">
						<!-- List Checkbox -->
						<b-form-checkbox size="lg" v-if="!undeleteableItems.includes(item.id)"
							v-model="selectedItems"
							:value="item.id"
							>
						</b-form-checkbox>
					</td>

					<!-- Data -->
					<td class="align-middle" :class="{ 'with-left-action': show.isRelation && item.roles }" v-for="(show, index) in listDataVisible" :key="index">
						<template v-if="!show.isRelation"> 
							{{ item[show.name] }} 
						</template> 
						
						<!-- Relation data -->
						<template v-else>

							<template v-if="item.roles">
								
								<div class="left-action" v-if="isDev(item.roles)">
									<div class="item green-bg" v-b-modal.AddRolesModal v-on:click="setItemRoles(item)"> + </div>
								</div>	

								<span  v-for="(role, index) in item.roles" :key="index" class="badge badge-primary mr-2"> 
									{{ role.name }} 
								</span>
								
							</template>
						</template>
					</td>

					<list-actions 
						:canBeModified="!undeleteableItems.includes(item.id)"
						:itemId="item.id"
						:useStatus="true"
						:itemStatus="item.status"
						v-on:setUpdateOrCreate="setUpdateOrCreate('update', item), $bvModal.show('Modal')"
						v-on:changeStatus="changeStatus('Article', item.id, item.status, true)"
						v-on:deleteItem="deleteItems(item.id, sectionTexts.askDeleteItem + '<b> &nbsp ' + item.username + '</b>'), singleDelete()"
						>
						<div slot="extra-list-actions">
							<!-- <b-dropdown-item> <img :src="bIcon('trash')" > Action </b-dropdown-item> -->
						</div>
					</list-actions>	

				</tr>
			</template>
		</list-component>
	
		<addroles-component :modalId="'AddRolesModal'" :model="'User'" :userRoles="userRoles" :item="itemForRoles"></addroles-component>

	</div>
</template>

<script>
	// Mixins
	import CommonMixin from '../../mixins/CommonMixin'
	import CrudActions from '../../mixins/CrudActions'
	import RolesModal from '../../components/RolesModalComponent'
	import { mapGetters, mapActions } from "vuex"
	
	export default {
		mixins: [ CommonMixin, CrudActions ],
		components: {
			'addroles-component': RolesModal,
		},
		data () {
			return {

				// Table name
				sectionRoute: 'users', 

				// Section properties
				sectionTexts: { plural: 'Usuarios', singular: 'Usuario', withArticle: "los usuarios", new: "Nuevo Usuario",
								askDelete: "Va a eliminar los usuarios seleccionados", askDeleteItem: "Va a eliminar el usuario " },

				item: {  username: '', first_name: '', last_name: '', email: '', password: '', password_confirmation: '' },
				listData: [
							{ name: 'id', label: 'Id', show: false, updateable: false}, 	
							{ name: 'username', label: 'Usuario', type: 'text', placeholder: 'Ingrese el nombre de usuario' },
							{ name: 'email', label: 'E-Mail', type: 'text', placeholder: 'Ingrese el email' },
							{ name: 'first_name', label: 'Nombre', type: 'text', placeholder: 'Ingrese el nombre' },
							{ name: 'last_name', label: 'Apellido', type: 'text', placeholder: 'Ingrese el apellido' },
							{ name: 'password', label: 'Contraseña', type: 'password', placeholder: 'Ingrese una contraseña', show: false },
							{ name: 'password_confirmation', label: 'Confirme Contraseña', type: 'password', placeholder: 'Confirme la contraseña', show: false },
							{ name: 'role', label: 'Rol', updateable: false, isRelation: true, updateable: false },	
						],
				undeleteableItems: [  ], // array(), Set here the items id that you don´t want to allow deletion
			}
		},
		created() {
			this.getAuthUser();
		},
		computed: {
			...mapGetters(['authUser']),

			userRoles() {
				let userRoles = [];

				if(this.authUser.roles) {
					this.authUser.roles.forEach(userRole => {
						userRoles.push(userRole.slug);
					});
				}

				return userRoles;
			}, 

			
		},
		methods: { 
			...mapActions(['getAuthUser']),

			isDev(itemRoles){

				let roles = [];

				if(itemRoles) {
					itemRoles.forEach(userRole => {
						roles.push(userRole.slug);
					});
				}

				if(roles.includes('developer')) {
					return false;
				}
				return true;
			}
		}
	}
</script>
