//
// |--------------------------------------------------------------------------
// | BUTTONS
// |--------------------------------------------------------------------------
//

.text-btn
	padding: 0 10px

.btn-main
	background-color: $palette1
	color: #fff
	@include transition(0.2s)
	i
		font-size: 0.8rem
	&:hover
		box-shadow: none
		background-color: $palette2 
		color: #fff

.btn-with-icon
	img
		filter: invert(1)
		margin-right: 10px
	
.btn-with-img
	padding: 5px 12px
	background-color: $green
	color: #fff
	border-radius: 50px
	font-weight: 300
	font-size: .8rem
	@include transition(0.2s)
	img
		max-width: 100%
		background-color: #fff
		border-radius: 50px
		padding: 4px
		margin-right: 10px	
	&:hover
		box-shadow: none
		filter: brightness(1.2)
		color: #fff

.btn-grey
	background-color: $palette-grey-l
	color: #383838
	@include transition(0.2s)
	i
		font-size: 0.8rem
	&:hover
		box-shadow: none
		filter: brightness(1.5)
		color: #fff

.btn-green
	background-color: $green

.btn-red
	background-color: $red

.btn-icon-text
	margin: 7px 0
	@include flex-center-left
	color: #fff
	.icon
		margin-right: 10px
		width: 30px
		height: 30px
		background-color: #ffffff
		border-radius: 50%
		padding: 2px 7px
		@include transition(0.2s)
	&:hover
		color: #fff
		cursor: pointer
		
.round-btn
	border-radius: 50%
	&:focus,&:hover
		border-radius: 50% !important

.btn-help
	border: 0
	background: 0
	background: $palette-l
	border-radius: 21px

.btn-hamburguer
	display: inline-block
	cursor: pointer
	.bar
		width: 28px
		height: 1px
		background-color: #fff
		margin: 8px 0
		transition: 0.4s

.simple-link
	color: #000
	@include transition(0.2s)
	&:hover
		color: #525252

.btn-collapse
	background-color: #f9f9f9
	border-radius: 50%
	width: 15px
	height: 15px
	font-size: 1rem
	font-weight: 600
	@include flex-center
	@include transition(0.2s)
	&:hover
		cursor: pointer
		background-color: #ccc
		color: #fff