//
// |--------------------------------------------------------------------------
// | ELEMENTS
// | --------
// | Only generic elements, no specific section stuff.
// |--------------------------------------------------------------------------
//

.custom-list
	.list-group-item
		position: relative
		@include transition(0.2s)
		&:hover
			background-color: #f9f9f9
	.list-actions
		position: relative
		.dropdown-item
			padding: 10px
			&:hover
				background-color: $palette3
				color: #fff
				img
					filter: invert(1)
				.table-row
					border: 2px solid red
		.list-actions-modal
			background-color: $palette1
			color: #fff
			position: absolute
			top: 0
			left: -60px
			z-index: 9999
			padding: 10px
			text-align: left
			button
				margin-bottom: 5px

	.small-texts
		font-size: .8rem


.close-top-right
	position: absolute
	top: 10px
	right: 10px
	&:hover
		cursor: pointer


.info-with-title
	position: relative
	margin-bottom: 30px
	margin-top: 20px
	.title
		position: absolute
		white-space: nowrap
		top: -18px
		left: 0
		font-size: .8rem
		padding-left: 15px
		font-weight: 400
		margin: 0
		color: #a5a5a5
		&::before
			content: "\2022"
			font-size: 1.3rem
			color: $vadmin2
			position: absolute
			top: -5px
			left: 0px
		
	.text
		padding-left: 15px


//
// |--------------------------------------------------------------------------
// | CONTAINERS
// |--------------------------------------------------------------------------
//

.info-box
	padding: 10px
	background-color: #f9f9f9
	color: #8c8c8c
	max-width: 100%
	font-weight: 300
	margin: 10px 0

.content-container
	background-color: #fff
	padding: 20px
	margin-bottom: 30px

.full-centered-container
	height: 100vh
	width: 100%
	@include flex-center

.bordered-container
	border: 1px solid #ced4da
	border-radius: 5px
	padding: 20px 15px 10px 20px



//
// |--------------------------------------------------------------------------
// | LISTS
// |--------------------------------------------------------------------------
//

.custom-list
	border-radius: 0
	margin-bottom: 100px
	.card-header
		background-color: #fdfdfd
		border-radius: 0
	.card-body
		padding: 0
		background-color: transparent
	.card-footer
		background-color: #ffffff
		border-radius: 0
		border: 0
	.no-results
		background-color: #ffffff
		padding: 20px
		text-align: center
		width: 100%

.simple-dropdown
	button
		&::after
			display: none !important
		&:focus
			border-radius: 0

//
// |--------------------------------------------------------------------------
// | CARDS
// |--------------------------------------------------------------------------
//

.custom-card
	// padding: 20px
	.custom-card-pre-footer
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: flex-end
	.custom-card-footer
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: flex-end
		padding: 0.75rem
		border-top: 1px solid #dee2e6
		border-bottom-right-radius: calc(0.3rem - 1px)
		border-bottom-left-radius: calc(0.3rem - 1px)
	.custom-card-footer
		> *
			margin: 0.25rem
	.card-footer
		border: 0
	.inner-card
		padding: 20px
		border-radius: 10px
		background-color: #f0f0f0
		margin-bottom: 20px

//
// |--------------------------------------------------------------------------
// | TABLES
// |--------------------------------------------------------------------------
//

.custom-table
	.table
		margin: 0
		th
			padding: 15px 15px 15px
			border: 0
		thead
			background-color: #fff
		.checkbox-title
			.custom-checkbox
				margin-bottom: 20px
		.checkbox-col
			max-width: 50px
			width: 50px
			height: 100%
		.table-row
			background-color: #fcfcfc
			@include transition(0.2s)
			&:nth-child(even)
				background-color: #f9f9f9
			&:hover
				background-color: $palette-l
		.table-row-selected
			background-color: $palette-l !important
			border-left: 4px solid $palette2
		td
			padding: 10px 15px
			vertical-align: middle
		td.with-left-action
			padding-left: 35px
			position: relative
			.left-action
				position: absolute
				left: 0
				top: 0
				width: 30px
				height: 100%
				margin-right: 10px
				@include flex-center
				.item
					width: 22px
					height: 22px
					border-radius: 50%
					padding: 0px 6px 10px
					&:hover
						cursor: pointer

		th td
			border-top: 1px solid #fff
		.actions-cell
			padding: 4px 5px 0 0
			text-align: right
			max-width: 80px
			white-space: nowrap
			.action-icon
				padding: 00
				i.delete
					color: $red
				i.edit
					color: $green
				i
					background-color: #ffffff
					padding: 8px
					width: 30px
					height: 30px
					border-radius: 50%
					@include transition(0.2s)
					font-weight: 300
					&:hover
						background-color: $palette1
						color: #fff

.small-table
	td
		padding: 0 5px !important
		border: 0 !important
		white-space: nowrap
	tr th
		font-weight: 300
		font-size: 1rem
		padding: 0 10px


//
// |--------------------------------------------------------------------------
// | Checkboxes
// |--------------------------------------------------------------------------
//

// Slider Checkbox
// --------------------	

/* The switch - the box around the slider */
.switch
	position: relative
	display: inline-block
	width: 40px
	height: 26px
	margin: 0
	top: 2px

/* Hide default HTML checkbox */
.switch input
	display: none

/* The slider */
.slider
	position: absolute
	cursor: pointer
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: #ccc
	-webkit-transition: .4s
	transition: .4s

.slider:before
	position: absolute
	content: ""
	height: 20px
	width: 18px
	left: 2px
	bottom: 3px
	background-color: white
	-webkit-transition: .4s
	transition: .4s

input:checked + .slider
	background-color: #2196F3

input:focus + .slider
	box-shadow: 0 0 1px #2196F3

input:checked + .slider:before
	-webkit-transform: translateX(16px)
	-ms-transform: translateX(16px)
	transform: translateX(16px)

/* Rounded sliders */
.slider.round
	border-radius: 34px

.slider.round
	&:before
		border-radius: 50%


//
// |--------------------------------------------------------------------------
// | FORMS
// |--------------------------------------------------------------------------
//

.custom-form
	
	.title-input
		font-size: .8rem
		padding-left: 15px
		font-weight: 400
		margin: 0
		color: #a5a5a5
		position: relative
		&::before
			content: "\2022"
			font-size: 1.3rem
			color: $vadmin2
			position: absolute
			top: -5px
			left: 0px
	.infinite-rows
		tr th
			border-top: 0
			border-bottom: 0
			font-size: .8rem
			font-weight: 400
			color: #353535
			margin: 0
			padding-bottom: 3px
			.badge
				margin: 0
				padding: 8px 14px
		
	.select-button
		background-color: $palette1
		padding: 5px 10px
		color: #ffffff
		@include transition(0.2s)
		&:hover
			background-color: $green
	input::placeholder
		font-size: .8rem
		color: #ccc

.custom-title
		border-bottom: 2px solid $palette2
		margin-bottom: 20px
		padding: 5px 10px 4px 30px
		font-size: 1rem
		font-weight: 600
		position: relative
		background-color: $palette8
		color: #353535
		&::before
			content: "\2022"
			font-size: 1.4rem
			color: $vadmin2
			position: absolute
			top: -1px
			left: 12px

// Checkboxes
// -----------------------------
.custom-checkbox
	display: block
	position: relative
	// top: -5px
	// padding-left: 35px
	// margin-bottom: 12px
	cursor: pointer
	font-size: 1rem
	line-height: 1.5rem
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	input
		position: absolute
		opacity: 0
		cursor: pointer
		height: 0
		width: 0
	&:hover input ~ .checkmark
		background-color: #ccc
	input:checked ~ .checkmark
		background-color: #2196F3

	input:checked ~ .checkmark:after
		display: block


	.checkmark
		position: absolute
		top: 0
		left: 0
		height: 23px
		width: 23px
		border-radius: 5px
		background-color: #eee

	.checkmark:after
		content: ""
		position: absolute
		display: none

	.checkmark:after
		left: 9px
		top: 5px
		width: 5px
		height: 10px
		border: solid white
		border-width: 0 3px 3px 0
		-webkit-transform: rotate(45deg)
		-ms-transform: rotate(45deg)
		transform: rotate(45deg)

.input-error
	background-color: $red
	margin-top: 5px
	padding: 2px 5px 2px 10px
	border-radius: 5px
	color: #fff

.info-icon
	font-size: 0.9rem
	color: $palette6
	&:hover
		cursor: pointer
.info-icon-title
	color: $palette6
	font-size: 1rem


// From Input
// .custom-file-input ~ .custom-file-label[data-browse]::after
// 	content: 'Buscar...'

.v-file-input-group
	.v-submit-button
		background-color: $palette1
		color: #fff
	.custom-file
		.custom-file-label
			&:after
				content: "Buscar..." !important

.form-inline label
	display: block

.inline-items
	@include flex-center-left


// Month Picker

.month-picker-with-btn
	position: relative
	.month-picker-input-container
		width: 100% !important
		input
			width: 100% !important
	.submit-btn
		position: absolute
		top: 2px
		right: 2px
		background-color: #e2e2e2 !important
		color: #000 !important
		@include transition(0.2s)
		&:hover
			background-color: #ccc !important

.month-picker__container
	background-color: #fff
	z-index: 9999 !important

// .monthpicker-with-button 
//     .month-picker__container 
//         float: left

.month-picker-input
	padding: 10px 5px !important

.month-picker__month
	padding: 0.4rem 1.5rem !important

.month-picker__year p
	margin: .4rem 0 !important

.month-picker__year button
	font-size: 1rem !important

.month-picker__month.selected, .month-picker__month.selected-range-first, .month-picker__month.selected-range-second
	background-color: $palette1 !important
	font-family: $font1 !important
	font-weight: 300 !important
	
// |--------------------------------------------------------------------------
// | LOADERS
// |--------------------------------------------------------------------------
//

.loader
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 9999
	img
		position: fixed
		bottom: 20px
		right: 20px
		max-width: 100px

//
// |--------------------------------------------------------------------------
// | Skeletons
// |--------------------------------------------------------------------------
//

.skeleton
	padding: 0px
	width: 100%
	.rows
		width: 100%
		background-color: #f9f9f9
		height: 60px
		margin-bottom: 5px
		position: relative
		.items
			position: absolute
			height: 100%
			top: 0
			@include flex-center
		.left-items
			left: 20px
			.item
				width: 20px
				height: 20px
				border-radius: 5px
				background-color: #e7e7e7
				
		.right-items
			right: 20px
			.item
				// width: 15px
				// height: 15px
				// background-color: #e7e7e7
				// margin-right: 5px

.pulse
	height: 100%
	width: 100%
	background: -webkit-gradient(linear, right top, left top, from(#efefef), color-stop(50%, #fcfcfc), to(#efefef))
	background: linear-gradient(-90deg, #efefef 0%, #fcfcfc 50%, #efefef 100%)
	background-size: 400% 400%
	-webkit-animation: pulse 1.2s ease-in-out infinite
	animation: pulse 1.2s ease-in-out infinite

@-webkit-keyframes pulse
	0%
		background-position: 0% 0%

	100%
		background-position: -135% 0%

@keyframes pulse
	0%
		background-position: 0% 0%
	100%
		background-position: -135% 0%

//
// |--------------------------------------------------------------------------
// | SEARCH BOXES
// |--------------------------------------------------------------------------
//

.search-box-right
	// max-width: 250px

.custom-searchbox
	input, button
		border-radius: 0
	button
		border-color: #ccc
		background-color: $palette-grey-l
		border-left: 0
		&:hover
			background-color: $palette3
			color: #ffff

//
// |--------------------------------------------------------------------------
// | PAGINATION
// |--------------------------------------------------------------------------
//

.pagination
	.page-link
		margin: 0 2px
		&:focus
			box-shadow: none
		&:hover
			background-color: $palette-l
	.page-item.active .page-link
		background-color: $palette1
		border: $palette1


//
// |--------------------------------------------------------------------------
// | MODALS
// |--------------------------------------------------------------------------
//

.custom-modal
	.modal-content
		border-radius: 0
	.modal-header
		background-color: #f9f9f9
		margin-bottom: 15px
		border: 0
		h1,h2,h3,h4
			margin: 0
	.modal-big
		max-width: 90%

//
// |--------------------------------------------------------------------------
// | CUSTOM ELEMENTS
// |--------------------------------------------------------------------------
//

.badge-with-action
	position: relative
	background-color: blue
	padding: 8px 15px 8px 15px
	position: relative
	border: 0
	margin-bottom: 2px
	@include transition(0.2s)
	&:hover
		padding: 8px 25px 8px 5px
		.action
			opacity: 1
	.action
		opacity: 0
		@include flex-center
		position: absolute
		right: 0
		top: 0
		width: 20px
		height: 100%
		background-color: $red
		border: 0
		border-radius: 0 5px 5px 0
		@include transition(0.2s)
		&:hover
			cursor: pointer

.active-badge
	background-color: $palette2

.round-icon
	width: 20px
	height: 20px
	border-radius: 50%
	padding: 0 6px
	color: #fff
	&:hover
		cursor: pointer

.round-icon-small
	width: 30px
	height: 30px
	border-radius: 50%
	padding: 5px 7px
	color: #fff
	img
		max-width: 100%
	&:hover
		cursor: pointer
//
// |--------------------------------------------------------------------------
// | IMAGES
// |--------------------------------------------------------------------------
//

.inline-images
	ul.images
		li
			position: relative
			display: inline-block
			margin-right: 10px
			margin-bottom: 10px
			img
				width: 120px
				max-width: 100%
				border-radius: 5px
			.overlay
				opacity: 0
				position: absolute
				width: 100%
				height: 100%
				@include flex-center
				background-color: rgba(#000,.8)
				border-radius: 5px
				i
					width: 30px
					height: 30px
					background-color: #fff
					border-radius: 50%
					color: $red
					padding: 8px 9px
					@include transition(0.2s)
					&:hover
						background-color: rgba($red, .5)
						color: #fff

			&:hover
				.overlay
					@include transition(0.2s)
					opacity: 1
					cursor: pointer

//
// |--------------------------------------------------------------------------
// | ALERTS
// |--------------------------------------------------------------------------
//

.swal2-popup
	border-radius: 0 !important
	.swal2-header
		.swal2-title
			font-size: 1.2em
			font-weight: 300
		.swal2-icon
			// width: 2em !important
			// height: 2em !important
			// margin: 0.8em auto 0.8em !important
			.swal2-icon-content
				// font-size: 1.75em !important

	button
		display: inline-block
		font-weight: 400
		color: #212529
		text-align: center
		vertical-align: middle
		cursor: pointer
		-webkit-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		user-select: none
		background-color: transparent
		border: 1px solid transparent
		padding: 0.375rem 0.75rem
		font-size: 0.9rem
		line-height: 1.6
		border-radius: 0.25rem
	.swal2-cancel
		background-color: $red !important
	.swal2-confirm
		background-color: $palette1 !important
		@include transition(0.2s)
		&:focus
			box-shadow: none
		&:hover
			filter: brightness(1.5)

.toast-success
	background-color: $green !important

//
// |--------------------------------------------------------------------------
// | TRANSITIONS
// |--------------------------------------------------------------------------
//


.fade-enter-active, .fade-leave-active
	transition: opacity .5s

.fade-enter, .fade-leave-to
	opacity: 0

//
// |--------------------------------------------------------------------------
// | FULL SCREEN SECTIONS
// |--------------------------------------------------------------------------
//


.main-gradient-background
	@include gradientBackground

.full-screen-section
	height: 100vh
	@include flex-center

//
// |--------------------------------------------------------------------------
// | Mix
// |--------------------------------------------------------------------------
//
.icon-demo-container
	.icon-demo
		border-radius: 5px
		@include flex-column
		text-align: center
		background-color: #fff
		width: 200px
		height: 130px
		float: left
		margin: 0 8px 8px 0
		img
			height: 25px
			width: 25px



//
// |--------------------------------------------------------------------------
// | SECTIONS ElEMENTS
// |--------------------------------------------------------------------------
//
	
.section-actions
	background-color: #fff
	padding: 15px
	min-height: 68px
	.right-actions
		@include flex-center
		.expand-extra-actions
			margin-left: 5px
			padding: 2px 2px 2xp 10px
			border-radius: 0
	.extra-actions
		margin-top: 30px
		padding: 10px
		border: 1px solid #ccc

.section-actions-fixed
	position: fixed
	top: 60px
	left: 0
	width: 100%
	z-index: 999
	padding-left: 270px 
	@include box-shadow

.section-actions-full
	padding-left: 15px
	
@media (max-width: 768px)
	.section-actions-full	
		.right-actions
			display: block
		.custom-searchbox
			width: 100%
			max-width: 100%
		> *
			margin-bottom: 10px

.ctsads-list
	.title
		white-space: nowrap
		position: relative
		.status-light
			position: absolute
			left: 0
			top: 0
			height: 100%
			@include flex-center
			.dot
				
				border-radius: 50%
				width: 10px
				height: 10px
			.dot.active
				background-color: $green-light
			.dot.inactive
				background-color: red
		h2
			padding-left: 20px
	.item
		padding: 15px
		.image
			display: inline-block
			position: relative
			.overlay
				padding: 20px
				opacity: 0
				position: absolute
				width: 100%
				height: 100%
				left: 0
				top: 0
				background-color: rgba(black, .7)
				border-radius: 5px
				color: #fff
				@include flex-center
				@include transition(0.2s)
				.delete,.pause
					&:hover
						color: #ccc
						.icon
							background-color: $red
				.play
					&:hover
						color: #ccc
						.icon
							background-color: $green
			&:hover		
				.overlay	
					opacity: 1
			img.adImage
				border-radius: 5px
				max-width: 100%