.auth-section
	height: 100vh
	.col-left
		height: 100vh
		background-color: $palette1c
		@include flex-center
	.col-right
		@include flex-center
		height: 100vh
		background-color: $palette1c
		background: $palette1c
		background: url(/images/vadmin/background-login.jpg) no-repeat center center
		-webkit-background-size: cover
		-moz-background-size: cover
		-o-background-size: cover
		background-size: cover
		@include box-shadow-left
		// width: 30%
	.auth-form
		max-width: 320px
		width: 320px
		color: #fff
		@include box-shadow(-1px, 5px, 8px, 0px, rgba(0, 0, 0, 0.55))
		a
			color: #fff
		.form-header
			background-color: rgba(38,46,89,.9)
			padding: 20px 20px
			position: relative
			text-align: center
			h1
				margin: 0
				font-weight: 300
				font-size: 1rem
			.isologo
				// position: absolute
				// left: 12px
				// top: 0
				// height: 100%
				// width: 50px
				text-align: center
				margin-bottom: 10px
				img
					max-width: 100%
					width: 40px
		.form-content
			background-color: rgba($palette1c, .6)
			padding: 20px 20px 2px 20px
			.form-group
				margin-bottom: .5rem
				label
					font-size: .8rem
			.submit-btn
				background-color: $vadmin2
				color: #fff
				@include transition(0.2s)
				&:hover
					filter: brightness(1.2)
			input
				background-color: rgba($palette4, .8)
				border: 0
				color: #fff
				font-weight: .9rem
			input::placeholder
				color: #acacac
				font-size: .9rem
			.register-btn 
				margin-top: 15px
				padding: 10px
				@include transition(0.2s)
				.register-text
					width: 100%
					font-size: .7rem
					color: #ccc
					text-align: center
				&:hover
					cursor: pointer
					background-color: $palette1
					a,.register-text
						color: #fff
					


	
.login-form,.register-form
	h4,label
		color: #000