.nav-header
	position: fixed
	height: $navHeaderHeight
	background-color: #383838
	margin-left: $mainSectionMargin
	display: flex
	flex-direction: row
	flex-wrap: wrap
	flex-shrink: 0
	right: 0
	left: 0
	z-index: 1030
	@include transition2(0.2s)
	i, svg
		color: #fff
		font-size: 1.2rem
	.left-items
		@include flex-center
		height: 100%
		width: 50px
		white-space: nowrap
	.right-items
		height: 100%
		white-space: nowrap
		padding-right: 10px
		.right-menu
			height: 100%
			.user-name
				font-family: $font1
				font-size: 1rem
				font-weight: 300
				margin-right: 10px
			.user-image
				height: 40px
				width: 40px
				max-width: 100%
				max-height: 100%
				border-radius: 50%
			button
				background: transparent
				border: 0
				&:after
					display: none
			.dropdown-menu
				border: 0
			.dropdown-item
				height: 50px
				border-bottom: 1px solid $palette1
				@include flex-center-left
				a
					color: #000
				label
					margin-bottom: 0
					margin-right: 15px
				.icon
					margin-right: 10px
				&:focus
					border: 0
				&:active
					background-color: $palette1
					img
						filter: invert(1)
					.icon
						filter: invert(1)
	.brand-mobile
		display: none


.nav-header-full
	margin-left: 0
