.error-page
    color: #fff
    h1
        font-size: 3rem
        font-weight: 600
    h2 
        font-weight: 300
    p
        font-size: .9rem
        font-weight: 300
        color: #ccc
    hr
        border-top: 1px solid rgba(188, 183, 217, 0.1)
        margin: 2rem 0 2rem 0
    a
        margin-top: 40px
        color: $vadmin1
        @include transition(0.2s)
        &:hover
            color: $vadmin2

