//
// |--------------------------------------------------------------------------
// | FONTS
// |--------------------------------------------------------------------------
//

// CDN Fonts
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700&display=swap')

// Fonts stored locally

	// Open Sans

@font-face
	font-family: "OpenSans"
	src: url("../../fonts/OpenSans-Light.ttf")
	font-weight: 300
	font-style: normal

@font-face
	font-family: "OpenSans"
	src: url("../../fonts/OpenSans-LightItalic.ttf")
	font-weight: 300
	font-style: italic

@font-face
	font-family: "OpenSans"
	src: url("../../fonts/OpenSans-Regular.ttf")
	font-weight: 400
	font-style: normal

@font-face
	font-family: "OpenSans"
	src: url("../../fonts/OpenSans-Italic.ttf")
	font-style: italic

@font-face
	font-family: "OpenSans"
	src: url("../../fonts/OpenSans-Bold.ttf")
	font-weight: 700
	font-style: normal


// $font1: 'Montserrat', sans-serif
$font1: 'OpenSans', sans-serif

// Bootstrap Variables
$font-family-sans-serif: $font1
$font-size-base: 0.9rem
$line-height-base: 1.6

//
// |--------------------------------------------------------------------------
// | COLORS
// |--------------------------------------------------------------------------
//

// Boostrap Variables
$blue: #e980ff
$indigo: #6574cd
$purple: #9561e2
$pink: #f66d9b
$red: #ea605c
$orange: #f6993f
$yellow: #ffed4a
$green: #3aa169
$green-light: #46db6b
$teal: #4dc0b5
$cyan: #6cb2eb

// Custom Colors
// Main palette
$palette1: #232639
$palette1b: #202334
$palette1c: #171923
$palette2: #2c2e43
$palette3: #242635
$palette4: #2a2c3f
$palette5: #35394c
$palette6: #323546
$palette7: #53566f
$palette8: #ecedf5
$paletteMain: #1a4286
$vadmin1: #526dda
$vadmin2: #003694
$palette-l: #dbdce3
$palette-grey: #adadad
$palette-grey-l: #e9eaed
$palette-blue: $blue

.color-palette1
	color: $palette1

$focus-shadow: rgba($palette1, 0.25)

.white-text
	color: #fff
.black-text
	color: #000
.light
	font-weight: 300
.semi
	font-weight: 400
.bold
	font-weight: 700

.background-red,.red-bg
	background-color: $red

.background-green,.green-bg
	background-color: $green
	
.green-light-bg
	background-color: $green-light

.vadmin2-bg
	background-color: $vadmin2
//
// |--------------------------------------------------------------------------
// | VARIABLES
// |--------------------------------------------------------------------------
//

$nav-text: #fff
$nav-text-active: red

// Body
$body-bg: $palette-grey-l

//
// |--------------------------------------------------------------------------
// | RESETS
// |--------------------------------------------------------------------------
//

ul
	padding: 0 !important
	margin: 0 !important
	li
		list-style-type: none !important

a
	&:hover
		text-decoration: none !important

.btn.focus, .btn-outline-secondary.focus
	box-shadow: 0 0 0 0.1rem $focus-shadow !important
.btn, .form-control, .btn-outline-secondary
	&:focus
		box-shadow: 0 0 0 0.1rem $focus-shadow !important

// 	border: 1px solid #d8d8d8 !important
// 	border-radius: 0 !important
// 	box-shadow: none !important

// .no-focus
// 	border: 1px solid #d8d8d8 !important
// 	border-radius: 0 !important
// 	box-shadow: none !important

//
// |--------------------------------------------------------------------------
// | STRUCTURE
// |--------------------------------------------------------------------------
//

$navHeaderHeight: 60px
$mainSectionMargin: 256px

html
	min-height: 100%
body
	overflow-x: hidden
	min-height: 100vh

#app
	height: 100%

.main-wrapper
	// height: $navHeaderHeight
	height: 100%
	margin-left: $mainSectionMargin
	transition: all 0.2s cubic-bezier(0.97, 0.17, 0.1, 0.4) 0s
	padding-top: 78px

.main-wrapper-full
	margin-left: 0

@media (max-width: 600px)
	.main-wrapper-full
		margin: 0
	.main-wrapper
		margin: 0

.main-content
	padding-top: 75px
	position: relative
	padding-bottom: 80px
	// padding: 75px 10px 10px 10px
//
// |--------------------------------------------------------------------------
// | HELPERS
// |--------------------------------------------------------------------------
//
.cursor-pointer
	&:hover
		cursor: pointer

.Hidden
	display: none !important

.brd
	border: 1px solid red

.horizontal-list
	li
		display: inline

.mobile-spacing
	height: auto

@media(max-width: 1000px)
	.mobile-spacing
		height: 20px
		width: 100%

.relative
	position: relative

.vm-w50
	max-width: 50px

.vm-w100
	max-width: 100px

.vmw-150
	max-width: 150px

.invert
	filter: invert(1)

.align-middle-table
	vertical-align: middle !important

.show-only-desktop-flex,.show-only-mobile-flex
	display: none
	
.show-only-mobile,.show-only-desktop
	display: none

@media(max-width: 575px)
	.show-only-mobile
		display: block
	.show-only-mobile-flex
		display: flex

@media(min-width: 575px)
	.show-only-desktop
		display: block
	.show-only-desktop-flex
		display: flex
	