//
// |--------------------------------------------------------------------------
// | SIDEBAR
// |--------------------------------------------------------------------------
//

.sidebar	
	position: fixed
	left: 0
	top: 0
	bottom: 0
	width: 256px
	height: 100vh
	z-index: 1030
	display: -ms-flexbox
	display: flex
	-ms-flex: 0 0 256px
	flex: 0 0 256px
	-ms-flex-direction: column
	flex-direction: column
	-ms-flex-order: -1
	order: -1
	width: 256px
	padding: 0
	padding-bottom: 60px
	box-shadow: none
	color: #fff
	background: #383838
	@include transition2(0.2s)
	.sidebar-header
		padding: 7px 10px 8px 18px
		background-color: #383838
		min-height: $navHeaderHeight
		@include flex-center
		a
			text-align: center
		img
			max-width: 70%
			max-height: 100%
	.sidebar-content
		height: 100vh
		// overflow: scroll
	.sidebar-item
		background-color: $palette3
		border-left: 0
		border-radius: 0
		position: relative
		border-bottom: 1px solid $palette1
		@include transition(0.2s)
		@include flex-center
		a
			padding: 10px 20px 
			display: inline-block
			width: 100%
			font-weight: 300
			color: #fff
			@include flex-center-left
			&:hover
				color: #ccc
			i.sidebar-item-icon
				font-size: 0.7rem
				margin-right: 10px
				// background-color: $palette1
				color: #fff
				padding: 7px 8px
				width: 26px
				height: 26px
				border-radius: 50%
			.bicon
				@include flex-center-left
				height: 100%
				width: 35px
				img
					-webkit-filter: invert(100%)
					filter: invert(100%)
					max-height: 100%
		.sidebar-right-icons
			position: absolute
			right: 8px
			top: 0
			height: 100%
			@include flex-center
			img
				max-height: 100%
				-webkit-filter: invert(100%)
				filter: invert(100%)
				max-height: 100%

		.sidebar-openclose-icon
			font-size: 0.7rem
			right: 14px

	.sidebar-item-parent
		background-color: red !important
		.sidebar-item
			background-color: blue !important
	
	.sidebar-item-closed
		a 
			height: 0

	.active
		border-left: 4px solid $palette6 !important	

	.sidebar-item-active
		background-color: $palette1 !important
		border-bottom: 1px solid $palette6 !important	
	.brand-logo-bottom
		position: absolute
		bottom: 30px
		left: 0
		text-align: center
		width: 100%
		p
			font-size: .8rem
			padding: 0
			margin:0
			color: #9c9c9c
			a
				color: #fff
				&:hover
					@include glow
					
		img
			width: 180px
			max-width: 100%
	.simplebar-content-wrapper
		max-height: 76% !important

.sidebar-closed
	margin-left: -256px



@media (max-width: 600px)
	.sidebar
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		margin: 0
		@include transition(0.2s)
	.sidebar-closed
		display: none
		margin-left: -100%
	.sidebar-header .brand
		display: none
	.nav-header
		margin: 0
		// padding-left: 30px
		.left-items
			padding-left: 20px
			width: 70%
			@include flex-center-left
			.btn-hamburguer
				margin-right: 10px
			.brand-mobile
				display: block !important
				color: #fff
				img
					width: 170px
					max-width: 100%
		.right-items
			padding-right: 10px
			width: 30%
