.badge
    margin-right: 4px 

.alert-danger
    background-color: $red
    border-color: $red
    color: #fff

.card
    .card-footer
        background-color: #fff

.toast
    flex-basis: auto

// Custom Textarea

.quillWrapper .ql-snow.ql-toolbar
    border-radius: 5px 5px 0 0
.ql-container
    border-radius: 0 0 5px 5px

// MultiSelect

.multiselect__option--highlight
    background: $palette4 !important
    color: #fff 
.multiselect__option--highlight::after
    background: $palette3 !important

.multiselect__tag
    background-color: $palette4 !important

.multiselect__tag-icon:after
    color: #fff

