<template>
	<div class="container-fluid" >
		<card-component headerClass="Hidden">
			<div class="container-fluid" slot="card-body">
				<div class="row">
					<div class="col">
						<form @submit.prevent="submitForm('/vadmin/updateAlgorithm', algorithm, 'Valores del algoritmo actualizado')">
							<div class="row">
								<div class="col">
									<h1>Algoritmo de Cotización</h1>
									<hr>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-4" v-for="(value, index) in algorithm" :key="index" >
									<div class="form-group">
										<label><b>{{ value.name }}</b></label>
										<input type="text" v-model="value.value" class="form-control" placeholder="">
									</div>	
								</div>
							</div>
							
							<div class="row">
								<div class="col">
									<button type="submit" class="btn btn-main">Actualizar información</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<br>
			</div>
		</card-component>
	</div>
</template>


<script>
	// Mixins
	import CommonMixins from '../../mixins/CommonMixin';
	import { mapMutations } from "vuex"


	import Card from '../../components/slot-components/CardSlotComponent'

	export default {
		mixins: [ CommonMixins ],

		components: {
			'card-component': Card
		},

		data () {
			return {
				// Section properties
				algorithm: [],
				
			}
		},

		created() {
			this.getValues();
		},
	
		computed: {
		},

		methods: {
			...mapMutations(['toggleLoader']),

			getValues() {
				this.toggleLoader(true);

				axios.get('/vadmin/getAlgorithmValues')
					.then((res) => {
						console.log(res.data);
						this.algorithm = res.data;
						
					})
					.catch((error) => {
						console.log(error);
					}).finally(() => {
						this.toggleLoader(false);
					});
			},
		}
	}
</script>