<template>
	<div>
		<!-- Modal -->
		<list-component 
			:item="item"
			:sectionTexts="sectionTexts" 
			:listDataVisible="listDataVisible"
			:updateableFields="updateableFields"
			:selectedItems="selectedItems"
			:useExtraActions="false"
			@save="save(item)"
			@deleteItems="deleteItems"
			@setUpdateOrCreate="setUpdateOrCreate"
			@selectAllItems="selectAllItems"
		>

			<template slot="extra-actions">
				<a href="">Extra actions</a>
			</template>

			<!-- List data -->
			<template slot="list-data">
				<tr class="table-row" v-for="(item, index) in items" :key="index" :class="{ 'table-row-selected': isSelected(item.id) }">
					
					<td class="align-middle checkbox-col">
						<!-- List Checkbox -->
						<b-form-checkbox size="lg" v-if="!undeleteableItems.includes(item.id)"
							v-model="selectedItems"
							:value="item.id"
							>
						</b-form-checkbox>
					</td>

					<!-- Data -->
					<td class="align-middle" v-for="(show, index) in listDataVisible" :key="index">
						<template v-if="!show.isRelation"> 
							{{ item[show.name] }} 
						</template> 
					</td>
					
					<list-actions 
						:canBeModified="!undeleteableItems.includes(item.id)"
						:itemId="item.id"
						:useStatus="false"
						v-on:setUpdateOrCreate="setUpdateOrCreate('update', item), $bvModal.show('Modal')"
						v-on:deleteItem="deleteItems(item.id, sectionTexts.askDeleteItem + '<b> &nbsp ' + item.name + '</b>'), singleDelete()">
						<div slot="extra-list-actions">
							<!-- <b-dropdown-item> <img :src="bIcon('trash')" > Action </b-dropdown-item> -->
						</div>
					</list-actions>	
					
				</tr>
			</template>

			<div slot="custom-modal"></div>		
		</list-component >
		<!-- / Modal -->
	</div>
</template>


<script>
	// Mixins
	import CommonMixins from '../../mixins/CommonMixin';
	import ListFeatures from '../../mixins/CrudActions';  // In this mixin exist all crud operations, pagination, and listing.

	export default {
		mixins: [ CommonMixins, ListFeatures ],
		data () {
			return {
				// Section properties
				sectionTexts: { plural: 'Rubros', singular: 'Rubro', withArticle: "los rubros", new: "Nuevo rubro",
								 askDelete: "Va a eliminar los rubros seleccionados", askDeleteItem: "Va a eliminar el rubro: "},
				
				// Model properties
				sectionRoute: 'article_categories',
				item: { name: ''},
				listData: [
							{ name: 'name', label: 'Nombre en Español', type: 'text', placeholder: 'Ingrese un nombre' },
							{ name: 'name_br', label: 'Nombre en Portugues', type: 'text', placeholder: 'Ingrese nombre en portugues' },

						],
				undeleteableItems: [ ], // array(), Set here the items that you dont want to allow deletion
			}
		}
	}
</script>