<template>
	<div class="article-preview">
		<div class="custom-title">CLIENTE</div>
		<div class="row">
			<text-with-title title="Nombre y apellido" :columns="[12,12,12,4]" :text="fullName"></text-with-title>
			<text-with-title title="E-mail" :columns="[12,12,12,4]" :text="item.customer_email"></text-with-title>
			<text-with-title title="Teléfono" :columns="[12,12,12,4]" :text="item.customer_phone"></text-with-title>
		</div>
			
		<div class="custom-title">PROYECTO</div>
		<div class="row">
			<text-with-title title="Nombre del proyecto" :columns="[12,12,12,6]" :text="item.name"></text-with-title>
			<text-with-title title="Título" :columns="[12,12,12,6]" :text="item.title"></text-with-title>
			<text-with-title title="Rubro" :columns="[12,12,12,6]" :text="category"></text-with-title>
			<!-- <text-with-title title="Tipo de Negocio" :columns="[12,12,12,6]" :text="bus"></text-with-title> -->
			<text-with-title title="Descripción" :columns="[12,12,12,12]" :text="item.description" :canCollapse="true"></text-with-title>
		</div>
		
		<div class="custom-title">UBICACIÓN</div>
		<div class="row">
			<text-with-title title="País" :columns="[12,12,12,4]" :text="country"></text-with-title>
			<text-with-title title="Provincia" :columns="[12,12,12,4]" :text="state"></text-with-title>
			<text-with-title title="Localidad" :columns="[12,12,12,4]" :text="city"></text-with-title>
		</div>

		<div class="custom-title">REDES SOCIALES</div>

		<table class="table-responsive small-table mb-3" v-if="this.item.social && this.item.social.length != 0">
            <thead>
                <tr>
                    <th></th>
                    <!-- <th>Seguidores</th>
                    <th>Suscriptores</th> -->
                    <th>Dirección web / Url</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(socialNetwork, index) in item.social" :key="index">
                    <!-- {{ socialNetwork }} -->
                    <th class="align-middle-table">
                        <span class="badge badge-primary">{{ socialNetwork.name }}</span>
                    </th>
                    <!-- <th style="max-width: 100px">
						<p class="p-0 m-0">{{ socialNetwork.pivot.followers }}</p>
                    </th>
                    <th style="max-width: 100px">
						<p class="p-0 m-0">{{ socialNetwork.pivot.subscriptors }}</p>
                    </th> -->
                     <th>
						<a :href="socialNetwork.pivot.account_url" target="_blank">
							<p class="p-0 m-0">{{ socialNetwork.pivot.account_url }}</p>
						</a>
                    </th>
                   
                </tr>
            </tbody>
        </table>

		<hr>
		<div class="row">
			<text-with-title title="Seguidores Total" :columns="[12,12,12,3]" :text="item.total_followers"></text-with-title>
			<text-with-title title="Suscriptores Total" :columns="[12,12,12,3]" :text="item.total_subscriptors"></text-with-title>
			<text-with-title title="Vistas/mes" :columns="[12,12,12,3]" :text="item.views_per_month"></text-with-title>
			<text-with-title title="% Visitas orgánicas" :columns="[12,12,12,3]" :text="item.organic_views_per_month"></text-with-title>
			<text-with-title v-if="item.female_traffic != '' && item.female_traffic != undefined" title="Publico Femenino" :columns="[12,12,12,3]" :text="'% ' + item.female_traffic"></text-with-title>
			<text-with-title v-if="item.male_traffic != '' && item.male_traffic != undefined" title="Publico Masculino" :columns="[12,12,12,3]" :text="'% ' + item.male_traffic"></text-with-title>
		</div>
		
		<div class="custom-title mt-3">CAPITAL DIGITAL</div>
		<div class="row">
			<div class="col-md-12 mb-2">
				<div v-for="(capitalDigital, index) in item.digital_capital" :key="index" class="badge btn-main">
					{{ capitalDigital.name }}
				</div>
			</div>
			<text-with-title title="Dominio" :columns="[12,12,12,6]" :text="item.domain_name"></text-with-title>
		</div>

		<div class="custom-title mt-3">NEGOCIO</div>
		<div class="row">
			<text-with-title title="Antigüedad/años" :columns="[12,12,12,3]" :text="item.business_age"></text-with-title>
			<text-with-title title="Horas de trabajo" :columns="[12,12,12,3]" :text="item.working_hours"></text-with-title>
			<!-- <text-with-title title="Horas de trabajo/mes" :columns="[12,12,12,3]" :text="item.working_hours_week"></text-with-title> -->
			<text-with-title title="Ganancia últimos 12 meses" :columns="[12,12,12,3]" :text="'$ ' +  item.net_income_actual_year"></text-with-title>
			<text-with-title title="Ganancia período anterior" :columns="[12,12,12,3]" :text="'$ ' + item.net_income_last_year"></text-with-title>
			<text-with-title title="Logística" :columns="[12,12,12,3]" :text="logistic"></text-with-title>
		</div>

		<div class="custom-title mt-3">COTIZACIÓN</div>
		<div class="row">
			<text-with-title title="Valor del negocio" :columns="[12,12,12,3]" :text="'<b>$ ' + item.business_value + '</b>'"></text-with-title>
		</div>

	</div>
</template>    


<script>

	
	import CommonMixin from '../../mixins/CommonMixin'
	// import LocationsMixin  from '../../mixins/Locations'
	import TextWithTitle from '../../components/TextWithTitle'

	export default {
		props: [ 'item' ],
		mixins: [ CommonMixin ],
		components: {
			'text-with-title': TextWithTitle 
		},
		data() {
			return {
				descriptionVisible: true
			}
		},
		created() {
			console.log(this.item);
		},
		computed: {
			countryData() {
				console.log(this.getCountries(this.item.country_id));
				// return this.getCountry(item.country_id);
			},
			country () {
				if(this.item.country) return this.item.country.name;
			},
			state() {
				if(this.item.state) return this.item.state.name;
			},
			city() {
				if(this.item.city) return this.item.city.name;
			},
			logistic() {
				if(this.item.logistic) return this.item.logistic.name;
			},
			category() {
				if(this.item.category) return this.item.category.name;
			},
			businnesType() {
				if(this.item.category) return this.item.category.name;
			},
			
			fullName() {
				if(this.item.customer_firstname != undefined && this.item.customer_lastname != undefined)
					return this.item.customer_firstname + ' ' + this.item.customer_lastname;
				
				if(this.item.customer_firstname != undefined && this.item.customer_lastname == undefined)
					return this.item.customer_firstname

				if(this.item.customer_firstname == undefined && this.item.customer_lastname != undefined)
					return this.item.customer_firstname

				return '';

			}
		
		},
		methods: {
			toggleDescription() {
				this.descriptionVisible = !this.descriptionVisible;
			}
		}
	}

</script>

<style>
	
</style>