<template>
	<div>
		
		<!-- Modal -->
		<list-component 
			:item="item"
			:sectionTexts="sectionTexts" 
			:listDataVisible="listDataVisible"
			:updateableFields="updateableFields"
			:selectedItems="selectedItems"
			:useExtraActions="true"
			:customModal="true"
			:disableSearch="true"
			@save="save(item)"
			@deleteItems="deleteItems"
			@setUpdateOrCreate="setUpdateOrCreate"
			@selectAllItems="selectAllItems"
		>
			<template slot="extra-actions">
				<!-- <form action="/vadmin/exportar-articulos" method="get">
					<input type="text" value="" name="test">
					<button type="submit" class="btn btn-green btn-with-img" style="color: #fff" v-html="this.$helpers.iconImg('cloud-download') + ' Exportar Clientes'"></button>
				</form> -->
				<!-- <month-picker></month-picker> -->
				<!-- <b-form-datepicker id="example-datepicker" v-model="exportDate" class="mb-2"></b-form-datepicker> -->
				<div class="row centered-inputs">
					<div class="col-12 col-sm-12 col-md-4">
							<!-- @change="showDate" -->
						<label for=""><b>Exportar artículos</b> | Seleccione un mes y un año</label>
						<div class="month-picker-with-btn">
							<month-picker
								v-model="exportQuery.dateData"
								lang="es"
								month="3"
								>
							</month-picker>
							<button @click="checkArticlesExistence" class="btn submit-btn" 
							style="color: #fff" v-html="this.$helpers.iconImg('cloud-download')"></button>
						</div>
					</div>
				</div>
				<!-- <a href="/vadmin/exportar-articulos" class="btn btn-green btn-with-img" style="color: #fff" v-html="this.$helpers.iconImg('cloud-download') + ' Exportar Clientes'"></a> -->
					<!-- <img :src=" }} Exportar listado</a> -->
			</template>

			<template slot="custom-search">
				<custom-searchinput-component
					:searchByCountry="selectedCountry">
					<template slot="custom-fields">
						
						<!-- Countries -->
						<select class="form-control" v-model="selectedCountry">
							<option value="0" selected disabled>País</option>
							<option value="ALL">Todos</option>
							<option v-for="(item, index) in countries" :key="index" :value="item.char_id">
								{{ item.name }}
							</option>
						</select>

					</template>
				</custom-searchinput-component>
			</template>


			<!-- Overrides modal create button -->
			<a slot="create-button" href="/vadmin/crear-articulo" class="btn btn-main" >
				<i class="fas fa-plus"></i> Crear un artículo
			</a>

			<!-- List data -->
			<template slot="list-data">
				<tr class="table-row small-texts" v-for="(item, index) in items" :key="index" :class="{ 'table-row-selected': isSelected(item.id) }">
					<td class="align-middle checkbox-col">
						<!-- List Checkbox -->
						<b-form-checkbox size="lg" v-if="!undeleteableItems.includes(item.id)"
							v-model="selectedItems"
							:value="item.id"
							>
						</b-form-checkbox>
					</td>
					<td>
						{{ item.id }}
					</td>
					<td>
						<a :href="'ver-articulo/' + item.id">
							<b> {{ item.name }}</b> <br>
							<span v-if="item.title"> {{ item.title }} </span>
							<span v-else>{{ item.customer_email }}</span>
						
							<span v-if="item.category">
								<br> {{ item.category.name }}
							</span>
							<br>
							<b>{{ item.domain_name }}</b>
						</a>
					</td>	

					<td>
						<!-- <table class="small-table"> 
							<tr v-for="(social, index) in item.social" :key="index">
								<td><a :href="social.pivot['account_url']" target="_blank">{{ social.name }} </a></td>
								<td>Seg: {{ social.pivot['followers'] }} | Subs: {{ social.pivot['subscriptors'] | blankIfZero }}</td>
							</tr>
						</table> -->
						<span v-if="item.business_value_manual > 0">
							<b>u$s</b> {{ $helpers.convertLocalToUssCurrency(item.business_value_manual, item.country_id, currencyData) }}*<br>
							(<b>$ </b>{{ item.business_value_manual }}* )
						</span>
						<span v-else-if="item.business_value">
							<b>u$s</b> {{ item.business_value }} <br>
							(<b>$ </b>{{ item.business_value_local}})
						</span>
						<span v-else>
							-
						</span>

						<!-- <span v-for="(social, index) in item.social" :key="index">
							<span class="badge badge-primary m-1">{{ social.name }}</span>
						</span> -->
						
					</td>

					<td>
						<span v-html="valueIncomeRelation(item.value_raw_data)"> </span>
					</td>

					<td>
						<span v-if="item.country">
							{{ item.country.name}}
						</span>
					</td>

					<td>
						<span v-if="item.country">
							<input type="number" :value="item.position" class="form-control" style="width: 80px" 
							@keyup.enter="updatePosition(item.id, $event)">
						</span>
					</td>

					<list-actions 
						:canBeModified="!undeleteableItems.includes(item.id)"
						:customEdit="true"
						:editUrl="'editar-articulo/' + item.id"
						:itemId="item.id"
						:useActive="true"
						:itemActive="item.active"
						v-on:toggleActive="toggleActive('Article', item.id, item.active)"
						v-on:deleteItem="deleteItems(item.id, sectionTexts.askDeleteItem + '<b> &nbsp ' + item.title + '</b>'), singleDelete()" v-if="!undeleteableItems.includes(item.id)"
						>
						<div slot="extra-list-actions">
							<!-- <b-dropdown-item> <img :src="bIcon('trash')" > Action </b-dropdown-item> -->
						</div>
					</list-actions>
				</tr>

			</template>

			<div slot="custom-modal"></div>		
		</list-component >
		<!-- / Modal -->
	</div>
</template>

<script>

	import { mapGetters } from "vuex";

	// Mixins
	import CommonMixin from '../../mixins/CommonMixin'
	import CrudActions from '../../mixins/CrudActions'
	import CustomSearchInput from '../../components/CustomSearchInputComponent'
	// import FormEasyInputs from '../../components/FormEasyInputs'
	// https://github.com/kleinrein/vue-month-picker
	import { MonthPickerInput } from 'vue-month-picker'


	export default {
		props: [ 'countries' ],
		mixins: [ CommonMixin, CrudActions ],
		components: {			
			'month-picker': MonthPickerInput,
            'custom-searchinput-component': CustomSearchInput,
		},
		data () {
			return {
				// Section properties
				sectionTexts: { plural: 'Artículos', singular: 'Artículo', withArticle: "los artículos", new: "Nuevo Artículo",
								askDelete: "Va a eliminar los artículos seleccionados", askDeleteItem: "Va a eliminar el artículo " },

				// Model properties
				sectionRoute: 'articles',
				// item: {  username: '', first_name: '', last_name: '', email: '', password: '', password_confirmation: '' },
				listData: [
							{ name: 'id', label: 'Cód.'},
							{ name: 'title', label: 'Título / Dominio', type: 'text' },
							// { name: 'social', label: 'Redes Sociales', type: 'text' },
							{ name: 'business_value', label: 'Valor del negocio', type: 'text' },
							{ name: '', label: 'Relación ganancia/precio'},
							{ name: 'country_id', label: 'País'},
							{ name: 'position', label: 'Posición'},
							{ name: '', label: '',  },
						],
				undeleteableItems: [],
				exportQuery: { dateData: '' },
				selectedCountry: 0
			}
		},
		created() {

			var d = new Date();
			var n = d.getMonth();

		},
		filters: {
			blankIfZero(data) {
				if(data == 0 || data == undefined || data == null) return ' - ';
				return data;
			}
		},
		computed: {
			...mapGetters(['currencyData']), 
		},
		methods: {
			updatePosition(id, position) {
				
				axios.post('updateArticlePosition', { id: id, position: position.target.value })
					.then(res => {
						if(res.data.status == 'success')
							this.$helpers.alertSmall({type: 'success', message: res.data.message});
						else if(res.data.status == 'error')
							this.$helpers.alertSmall({type: 'error', message: res.data.message});
					})
					.catch(error => {
						console.error("Error on updatePosition()");
						console.log(error);
						return false;
					});    

			}, 

			valueIncomeRelation(data) {
				let rawdata = {};
				// let result = [];
				if(data != undefined) {
					rawdata = JSON.parse(data).raw_data;
				}

				if(rawdata != {} && rawdata.original_data != undefined) {
					return Vue.helpers.twoDecimals(rawdata.total / rawdata.net_income_actual_year_uss);
				}
				
				return '-';
			},

			checkArticlesExistence() {
				
				// Validations
				if(!this.exportQuery.dateData) {
					this.$helpers.alertSmall({type: 'error', message: "No se ha seleccionado un mes"});
					return false;
				}					

				axios({
						method: 'POST',
						url: '/vadmin/checkArticlesExistence',
						data: this.exportQuery.dateData,
					})
					.then((res) => {
						if(res.data.status == 'success') {
							this.exportItems();
						} else if(res.data.status = 'not-found') {
							this.$helpers.alertSmall({type: 'error', message: "No hay registros para el mes seleccionado"});
						} else {
							this.$helpers.alertSmall({type: 'error', message: "Ha ocurrido un error. Debe contactar a soporte técnico"});
						}

					})
					.catch((error) => {
						console.error('Error: ' + error);
					}).finally(() => {
						this.toggleLoader(false);
				});

			},

			exportItems() {

				// Trigger download
				window.location.replace("/vadmin/exportar-articulos/"+ this.exportQuery.dateData['from'] + '/' + this.exportQuery.dateData['to']);
				
			
			}
		}
	}

</script>
