<template>
    <div class="col-md-12">
        <label class="title-input" v-if="label"> 
            {{ label }} 
            <a type="button" v-if="canCollapse" v-on:click="toggleCollapseInput()">
                <span v-if="collapsed">+</span>
                <span v-else>-</span>
            </a>
        </label>
        
        <template v-if="!collapsed">
            <transition name="fade" mode="out-in">
                <div class="bordered-container mb-3">
                    <div class="row">
                        <div :class="inputClass + ' mb-2'">
                            <select v-on:change="setOption($event)" v-model="selected" class="form-control" @change="resetField()">
                                <option value="null" selected disabled>Seleccione una opción</option>
                                <option v-for="(item, index) in options" :key="index" :value="item.id"> 
                                    <template v-if="relationName === 'DigitalCapital'">
                                        {{ item.name }} | {{ item.name_br}}  
                                    </template>
                                    <template v-else>
                                        {{ item.name }}  
                                    </template>
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-12">
                            
                            <template v-if="relationName === 'DigitalCapital'">
                                <div class="infinite-rows">
                                    <div v-for="(digitalCapital, index) in item.digital_capital" :key="index" 
                                        class="badge badge-with-action btn-main mr-2 mb-2">
                                        {{ digitalCapital.name }} | {{ digitalCapital.name_br }}
                                        <div class="action" v-on:click="remove(item.digital_capital, index)">X</div>
                                    </div>
                                </div>
                            </template>

                            <!-- SOCIAL NETWORKS -->
                            <template v-else-if="relationName === 'Social'">
                                <div class="col-12 table-responsive infinite-rows">
                                    <table class="table" v-if="this.item.social && this.item.social.length != 0">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <!-- <th>Seguidores</th>
                                                <th>Suscriptores</th> -->
                                                <th>Url</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(socialNetwork, index) in item.social" :key="index">
                                                <th style="max-width: 60px" class="align-middle-table">
                                                    <span class="badge btn-main">{{ socialNetwork.name }}</span>
                                                </th>
                                                <input v-model="socialNetwork.pivot.article_id" class="form-control" type="number" style="display: none">
                                                <input v-model="socialNetwork.pivot.social_id" class="form-control" type="number" style="display: none">
                                                <!-- <th style="max-width: 50px">
                                                    <input v-model="socialNetwork.pivot.followers" class="form-control" type="number" min="0">
                                                </th>
                                                <th style="max-width: 50px">
                                                    <input v-model="socialNetwork.pivot.subscriptors" class="form-control" type="number" min="0">
                                                </th> -->
                                                <th>
                                                    <input class="form-control" v-model="socialNetwork.pivot.account_url" type="text" >
                                                </th>
                                                <th class="align-middle-table">
                                                    <div class="round-icon-small red-bg" v-on:click="remove(item.social, index)"><img class="invert" :src="bIcon('trash')"></div>
                                                </th>
                                            
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </transition>
        </template>
    </div>
</template>    

<script>

    
    import CommonMixin from '../../mixins/CommonMixin';

    
	export default {
        props: [ 'item', 'relationName', 'socialnetworks', 'options', 'label', 'canCollapse', 'columns' ],
        mixins: [ CommonMixin ],
        data() {
            return {
                collapsed: false,
                selected: null
            }
        },
        created() {

            
        },
		computed: {
            inputClass() {
                if(this.columns)
                    return "col-" + this.columns[0] + " col-sm-" + this.columns[1] + " col-md-" + this.columns[2] + " col-lg-" + this.columns[3];
                return '';
            },
        },
        methods: {
            setOption (event) {
				this.$emit('setOption', event.target.value);
            },

             toggleCollapseInput() {
                this.collapsed = !this.collapsed;
            },

            resetField() {
                this.selected = null
            },

            remove (relation, key) {
                Vue.delete(relation, key);
            }

        }

	}

</script>