<template>
	<div>
		<info-modal ref="InfoModal" :title="infoModalTitle" :content="infoModalContent" ></info-modal>
	
		<div class="container-fluid mb-5">
			<div class="row">
				<div class="col">
					<!-- <router-link to="articles" class="simple-link">Volver</router-link> -->
					<h1 v-if="updateMode">Editando el artículo <span class="bold">{{ item.title }}</span></h1>
					<h1 v-else>Nuevo <span class="bold">Artículo</span></h1>
					
				</div>
			</div>
					
			<card-component headerClass="Hidden">
				<div slot="card-header" style="display: none"></div>
				<div slot="card-body">

					<a class="mb-2" type="button" v-on:click="togglePreviewArticle()">
						<span v-if="previewArticle">Editar</span>
						<span v-else>Previsualizar</span>
					</a> 
					
					<transition name="fade" mode="out-in">
						<form v-if="!previewArticle" @submit.prevent="submitArticle()" ref="FormWithFiles" class="custom-form">
							<!-- <input type="hidden" name="_token" :value="csrf"> -->
							
							<div class="custom-title">CLIENTE</div>
							<div class="row">
								<easy-input label="Nombre del cliente" :columns="[12,12,6,3]" v-model="item.customer_firstname" name="customer_firstname"/>
								<easy-input label="Apellido del cliente" :columns="[12,12,6,3]" v-model="item.customer_lastname" name="customer_lastname"/>
								<easy-input label="Teléfono de contacto" :columns="[12,12,6,3]" v-model="item.customer_phone" name="customer_phone"/>
								<easy-input label="E-mail del cliente" :columns="[12,12,6,3]" v-model="item.customer_email" type="email" name="customer_email"/>
							</div>

							<div class="custom-title">PROYECTO</div>
							<div class="row">

								<easy-input label="Nombre del proyecto" :columns="[12,12,6,6]" v-model="item.name" inputType="input" name="name"/>
								<easy-input label="Título descriptivo" :columns="[12,12,6,6]" v-model="item.title" inputType="input" name="title"/>
								
								<!-- <easy-input label="Rubro" :columns="[12,12,6,6]" v-model="item.category_id" inputType="select" name="category_id"
									:options="categories" placeholder="Seleccione un Rubro" /> -->

								<div class="col-md-4 form-group">
									<label class="title-input"> Rubro </label>
									<select class="form-control" v-model="item.category_id" required>
										<option selected disabled value="null">Seleccione un rubro</option>
										<option v-for="(option, index) in categories" :key="index" :value="option.id">
											{{ option.name }} | {{ option.name_br}}
										</option>
									</select>
								</div> 
								

								<easy-input label="Tipo de negocio" :columns="[12,12,6,6]" v-model="item.business_type_id" inputType="select" name="business_type_id"
									:options="business_types" placeholder="Tipo de negocio" />
								
								<easy-input label="Descripción del proyecto" :columns="[12,12,12,12]" 
									v-model="item.description" inputType="textarea" :customTextarea="true" 
									:canCollapse="true" name="description"/>
															
							</div>	

							<div class="custom-title mt-3">UBICACIÓN</div>
							<div class="row">
								<div class="col-md-4 form-group">
									<label class="title-input"> País </label>
									<select class="form-control" v-model="item.country_id" v-on:change="getStates(item.country_id), clearLocations()" required>
										<option selected>Selecciones un País</option>
										<option v-for="(option, index) in countries" :key="index" :value="option.char_id">
											{{ option.name }}
										</option>
									</select>
								</div> 
								<div class="col-md-4 form-group">
									<label class="title-input"> Estado / Provincia </label>
									<select class="form-control" v-model="item.state_id" v-on:change="getCities(item.state_id)" required>
										<option selected>Selecciones un Estado/Provincia</option>
										<option v-for="(option, index) in states" :key="index" :value="option.id">
											{{ option.name }}
										</option>
									</select>
								</div> 
								<div class="col-md-4 form-group">
									<label class="title-input"> Ciudad </label>
									<select class="form-control" v-model="item.city_id">
										<option value="null" selected>Seleccione una Ciudad</option>
										<option v-for="(option, index) in cities" :key="index" :value="option.id" required>
											{{ option.name }}
										</option>
									</select>
								</div> 
							</div>
							<div class="custom-title mt-3">REDES SOCIALES</div>
							<div class=" row">
								<div class="col-12 mb-4">
									<label class="title-input">Seleccione las redes sociales</label>
								<!-- <div class="bordered-container"></div> -->
								<select class="form-control" v-on:change="addSocialNetwork($event.target.value)">
									<option selected disable value="null">Seleccione las redes sociales</option>
									<option v-for="(option, index) in socialnetworks" :key="index" :value="option.id" >
										{{ option.name }}
									</option>
								</select>

                                <div class="col-12 table-responsive infinite-rows">
                                    <table class="table" v-if="this.item.social && this.item.social.length != 0">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Url</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(socialNetwork, index) in item.social" :key="index">
                                                <th style="max-width: 60px" class="align-middle-table">
                                                    <span class="badge btn-main">{{ socialNetwork.name }}</span>
                                                </th>
                                                <input v-model="socialNetwork.pivot.article_id" class="form-control" type="number" style="display: none">
                                                <input v-model="socialNetwork.pivot.social_id" class="form-control" type="number" style="display: none">
                                                <th>
                                                    <input class="form-control" v-model="socialNetwork.pivot.account_url" type="text" >
                                                </th>
                                                <th class="align-middle-table">
                                                    <div class="round-icon-small red-bg" v-on:click="remove(item.social, index)"><img class="invert" :src="bIcon('trash')"></div>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
								</div>
								<!-- 
								<article-relations 
									:columns="[12,12,6,6]"
									label="Seleccione las redes sociales"
									:item="item" 
									relationName="Social"
									:options="socialnetworks"
									v-on:setOption="addSocialNetwork"
									:canCollapse="true">
								</article-relations> -->

								<easy-input label="Seguidores Total" :columns="[6,6,6,4]" v-model="item.total_followers" inputType="input" name="total_followers" type="number" :min="0"/>
								<easy-input label="Suscriptores Total" :columns="[6,6,6,4]" v-model="item.total_subscriptors" inputType="input" name="total_subscriptors" type="number" :min="0" />
								<easy-input label="Vistas/mes" :columns="[6,6,6,3]" v-model="item.views_per_month" inputType="input" placeholder="Cantidad de vistas por mes" name="views_per_month" :min="0" type="number" />
								<easy-input label="Porcentaje orgánico" :columns="[6,6,6,3]" v-model="item.organic_views_per_month" inputType="input" placeholder="Cantidad de suscriptores por mes" :min="0" :max="100" name="organic_views_per_month" type="number" />
								<easy-input label="Público Mujer" :columns="[6,6,6,3]" v-model="item.female_traffic" inputType="input" placeholder="" name="female_traffic" type="number" />
								<easy-input label="Público Hombre" :columns="[6,6,6,3]" v-model="item.male_traffic"  inputType="input" placeholder="" name="male_traffic" type="number" />
	
							</div>
							
							<div class="custom-title mt-3">CAPITAL DIGITAL</div>
							<div class="row">
								<div class="col-12 mb-4">
									<label class="title-input">Seleccione el capital digital</label>
									<select class="form-control mb-2" v-on:change="addDigitalCapital($event.target.value)">
										<option selected disable value="null">Seleccione una opción</option>
										<option v-for="(option, index) in digitalcapitals" :key="index" :value="option.id" >
											{{ option.name }}
										</option>
									</select>

									<div class="infinite-rows">
										<div v-for="(digitalCapital, index) in item.digital_capital" :key="index" 
											class="badge badge-with-action btn-main mr-2 mb-2">
											{{ digitalCapital.name }} | {{ digitalCapital.name_br }}
											<div class="action" v-on:click="remove(item.digital_capital, index)">X</div>
										</div>
									</div>
								</div>


								<!-- <article-relations
									:columns="[12,12,6,6]"
									label="Seleccione el capital digital"
									:item="item"
									relationName="DigitalCapital"
									:options="digitalcapitals"
									v-on:setOption="addDigitalCapital"
									:canCollapse="true">
								</article-relations> -->

								<easy-input label="Dominio" :columns="[12,12,6,4]" v-model="item.domain_name" inputType="input" placeholder="Ej.: midominio.com.ar" />
							</div>

							<div class="custom-title mt-3">NEGOCIO</div>
							<div class="row">
								<easy-input label="Antigüedad/años" :columns="[6,6,3,3]" v-model="item.business_age" inputType="input" type="number" />
								<easy-input label="Horas de trabajo/Mes" :columns="[6,6,3,3]" v-model="item.working_hours" inputType="input" type="number" />
								<easy-input label="Ganancia neta año actual" :columns="[6,6,3,3]" v-model="item.net_income_actual_year" inputType="input" type="number" />
								<easy-input label="Ganancia neta año anterior" :columns="[6,6,3,3]" v-model="item.net_income_last_year" inputType="input" type="number" />

								<easy-input label="Logística" :columns="[6,6,4,3]" v-model="item.logistic_id" inputType="select" 
									:options="logistics" placeholder="Seleccione una opción" />

								<easy-input label="Usuarios Activos" :columns="[6,6,3,3]" v-model="item.active_users" inputType="input" type="number" />
								<easy-input label="Descargas Totales" :columns="[6,6,3,3]" v-model="item.total_downloads" inputType="input" type="number" />
								
							</div>

							<div class="custom-title mt-3">COTIZACIÓN</div>
							<div class="row">
								<easy-input label="Valor del Negocio Uss" :columns="[6,6,4,4]" v-model="item.business_value" inputType="input" type="number" />
								<easy-input label="Valor del Negocio Moneda Local" :columns="[6,6,4,4]" v-model="item.business_value_local" inputType="input" type="number" :step="0.01" />
							</div>
							<div class="row mb-3" v-if="item.value_raw_data">
								<div class="container-fluid">
									<collapsible>
										<span slot="title">
											<b>Desglose de algoritmo</b>
										</span> 
										<div slot="content">
											<span v-for="(item, index) in processed_Value_Data(item.value_raw_data)" :key="index">
												<span v-if="index == 'Divisor'">
													-------------------------- <br>
												</span>
												<span v-else>
													{{ index }}: $ {{ item }} <br>
												</span>
											</span>
											
										</div>
									</collapsible>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="container-fluid">
									<h4>Valor manual del negocio </h4>
									<easy-input label="Valor del Negocio" :columns="[6,6,4,4]" v-model="item.business_value_manual" inputType="input" type="number" />
									<p><b>Atención:</b> Si completa este valor sobreescribirá al valor generado por el algoritmo. <br>
									Por lo contrario, si este campo está en 0 o vacío no será tomado en cuenta.</p>
								</div>
							</div>

							<!-- FOOTER ACTIONS -->
							<!-- <div class="custom-card-pre-footer">
								<easy-input :columns="[12,6,6,6]" inputType="datepicker" v-model="item.published_on" placeholder="Se publica el" class="ml-2" name="published_on"></easy-input>
								<easy-input :columns="[12,6,6,6]" inputType="datepicker" v-model="item.expire_at" placeholder="Expira el" class="ml-2" name="expire_at"></easy-input>
							</div> -->
							<div class="custom-card-footer pb-0 pl-0 pr-0">

								<label for="">Posición</label>

								<input type="number" v-model="item.position" class="form-control" style="width: 100px">

								<label for="">Estado</label>

								<select v-model="item.status" class="form-control" style="width: 150px">
									<option value="0" selected>Disponible</option>
									<option value="1">Reservado</option>
									<option value="2">Vendido</option>
								</select>

								<label for=""></label>

								<select v-model="item.active" class="form-control" style="width: 150px">
									<option value="1" selected>Activo</option>
									<option value="0">Inactivo</option>
								</select>

								<button type="button" v-on:click="togglePreviewArticle()" class="btn btn-main">
									<template v-if="previewArticle">Editar</template>
									<template v-else>Previsualizar</template>
								</button> 
								
								<button type="submit" v-on:click="redirectAfterUpdate('here')" class="btn btn-main"> 
									<template v-if="!item.id"> <i class="fas fa-check"></i> Crear </template>
									<template v-else> <i class="fas fa-sync"></i> Actualizar</template>
								</button>
								<button type="submit" v-on:click="redirectAfterUpdate('list')" class="btn btn-main"><i class="fa fa-check"></i> Guardar y Salir</button>
							</div>
						</form>
				
						<preview-article-component :item="item" v-else ></preview-article-component>
					</transition>
					<template v-if="previewArticle">
						<hr>
						<button type="button" v-on:click="togglePreviewArticle()" class="btn btn-main">
							<template>Editar</template>
						</button> 
					</template>
				</div>
				<div slot="card-footer"></div>
			</card-component>
		</div>
		<br>
	</div>
</template>

<script>

	import { mapMutations } from "vuex"

	// Mixins
	import CommonMixin from '../../mixins/CommonMixin'
	import Locations from '../../mixins/Locations'
	// Slot Components
	import Card from '../../components/slot-components/CardSlotComponent'

	// Components
	import InfoModal from '../../components/InfoModalComponent'
	import FormEasyInputs from '../../components/FormEasyInputs'
	import ArticleRelations from './ArticleRelations'
	import ArticlePreview from './ArticlePreview'
	import Collapsible from '../../components/collapsible'


	export default {
		props: [ 'socialnetworks', 'logistics', 'digitalcapitals', 'categories', 'business_types', 'showmode' ],
		components: {
			'card-component': Card,
			'info-modal': InfoModal,
			'easy-input': FormEasyInputs,
			'article-relations': ArticleRelations,
			'preview-article-component': ArticlePreview,
			'collapsible': Collapsible,
			// 'locations-select-inputs': LocationsSelectInputs
		},
		mixins: [ CommonMixin, Locations ],
		data () {
			return {
				// Section properties
				sectiontitle: '',
				updateMode: false,
				previewArticle: false,
				descriptionVisible: true,
				useCountries: true,
				// Model properties
				sectionRoute: '/vadmin/articles',
				item: { status: 0, 
						active: 0, 
						social: [], 
						digital_capital: [], 
						category_id: null,
						country_id: null,
						position: 0
					},
	
				// DatePickers
				todayDate: '',
				formatLocale: {
					firstDayOfWeek: 1,
					monthBeforeYear: false,
				},

				// Form
				// csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
				// form: new FormData,
		
				// Redirect
				redirectTo: 'list',

				// Ui and Help
				uiItems: { 'address-help' : false, 'other' : true },
				infoModalData: {
					published_at: { title: 'Publicación del artículo', content: 'Este campo define La fecha en la que el articulo comenzará a aparecer en los listados de la web <br><br><b>El articulo no sera eliminado de la base de datos</b>' },
					published_on: { title: 'Expiración del artículo', content: 'Este campo define la fecha en la que el articulo dejará de aparecer en los listados de la web. <br><br><b>El articulo no sera eliminado de la base de datos</b>' },
				}
			}
		},

		created() {
			
			this.setMode();
			
			if(this.showmode == 1)
				this.previewArticle = true;

		}, 

		computed: {

			totalFollowers() {
				let followers = 0;
				if(this.item.social)
					this.item.social.forEach((social, index) => {
	
						followers =  Number(followers) + Number(social.pivot.followers);
				});
				return followers;

			}
		},

		filters: {

			convertDate(date) {

				if (date != null)
				{
					let d = date.split("-");
					return d[2] + '/' + d[1] + '/' + d[0];
				}
			}

		},

		methods: {
			...mapMutations(['toggleLoader']),
			...mapMutations(['setListProp']),

			processed_Value_Data(data) {

				if(!data) return;
	
				let dataObj = JSON.parse(data);
				let finalData = {};
				

				if(dataObj) {

					finalData = {
						"Cotización actual": dataObj.raw_data.localCurrencyValue,
						"Ingresos último año (Usd)":  this.twoDecimals(dataObj.raw_data.net_income_actual_year_uss),
						"Ingresos período anterior (Usd)":  this.twoDecimals(dataObj.raw_data.net_income_last_year_uss),
						"Divisor": 0,
						"Valor por antigüedad": this.twoDecimals(dataObj.raw_data.ageValue),
						"Valor por horas trabajadas": this.twoDecimals(dataObj.raw_data.workingHoursValue),
						"Valor por vistas": this.twoDecimals(dataObj.raw_data.viewsValue),
						"Valor de seguidores": this.twoDecimals(dataObj.raw_data.followersValue),
						"Valor de suscriptores": this.twoDecimals(dataObj.raw_data.subscriptorsValue),
						"Variación de ingresos": this.twoDecimals(dataObj.raw_data.incomeVariation),
						"Valor de logística": this.twoDecimals(dataObj.raw_data.logisticValue),
						"Valor capital digital": this.twoDecimals(dataObj.raw_data.digitalCapitalValue),
						"Valor por Usuarios Activos": this.twoDecimals(dataObj.raw_data.activeUsersValue),
						// "Subtotal": this.twoDecimals(dataObj.raw_data.subTotal),
						// "Total": dataObj.raw_data.total.toFixed(2),
						"Divisor": 0,
						"Total USD": dataObj.uss,
						"Total moneda local": dataObj.local
					};
				}

				return finalData;

			},

			twoDecimals(number) {
				if(number)
					return number.toFixed(2);
			}, 
				
			setMode() {
				let currentSectionMode = this.getUrlParamFromLast(1);
			
				if(this.getUrlParamFromLast(1) == 'crear-articulo' || this.getUrlParamFromLast(1) == 'crear-articulo#'){
					this.updateMode = false;
				} else if(this.getUrlParamFromLast(2) == 'editar-articulo' || this.getUrlParamFromLast(2) == 'ver-articulo') {
					this.updateMode = true;
					this.getItem({ id: this.getUrlParamFromLast(1), getLocations: true});
					
				} else {
					console.log("No se encontró un parámetro compatible en la URL. No se puede determinar el modo de la sección");
				}

			},

			addSocialNetwork(id) { 
				console.log(id);
				let socialNetwork = this.socialnetworks.find(obj => {
					if(obj.id == id)
						return obj			
				})

				let newSocial = { 
									id: id, name: socialNetwork.name, 
									pivot: { 
										article_id: this.item.id, 
										social_id: id, 
										followers: '', 
										subscriptors: '',
										account_url: ''
									} 
								};
							
				this.item.social.push(newSocial);
			},

			addDigitalCapital(id) {

				let relationExists = false;
				
				// Check if digital_capital is already attached to article
				this.item.digital_capital.forEach(element => {
					if(element.id == id) relationExists = true;	
				});
				
				if(!relationExists) {

					// Find the selected digitalCapital on the main object 
					let capitalDigital = this.digitalcapitals.find(obj => {
						if(obj.id == id)
							return obj			
					})

					let newDigitalCapital = {
						id: id,
						name: capitalDigital.name + " | " + capitalDigital.name_br
					};

					// Asign to item
					this.item.digital_capital.push(newDigitalCapital);
				}

				// if(!relationExists) {

				// 	let newDigitalCapital = {
				// 		id: id,
				// 		name: this.digitalcapitals[id].name
				// 	};
				// 		console.log("PUSH")
				// 	console.log(newDigitalCapital)
				// 	// this.item.digital_capital.push(newDigitalCapital);
				// }
			},

			getItem({ id: id, getLocations = null }){


				axios.get('/vadmin/articles/' + id + '/edit')
					.then((res) => {
						// console.log(res);
						// Set Data
						this.item = res.data.item;
						// this.existingImages = res.data.item.images;
						
						// if(this.updateMode && this.item.country_id)
						// 	this.getStates(this.item.country_id, this.item.state_id);
						if(getLocations) {
							this.getStates(this.item.country_id);
							this.getCities(this.item.state_id);
						}

						// Convert dates
						this.item.published_on = this.$options.filters.convertDate(this.item.published_on); 
						this.item.expire_at = this.$options.filters.convertDate(this.item.expire_at);
		
					})
					.catch((error) => {
						console.error('Error on getItem()');
						console.error(error);
					}).finally(() => {
						this.toggleLoader(false);
					});
			},
			
			submitArticle() {
				this.errors = [];
				this.toggleLoader(true);

				axios({
						method: 'PUT',
						url: '/vadmin/saveArticle',
						data: this.item,
						config: { headers: {'Content-Type': 'multipart/form-data' } }, 
					})
					.then((res) => {
						
						if(res.data.status == 'success')
						{
							this.alertSuccess(res.data.message[0], res.data.message[1]);

							if(this.redirectTo == 'list')
							{
								window.location.replace("/vadmin/articulos");
							}
							else if(this.redirectTo == 'here')
							{
								this.getItem({ id: res.data.data });
								this.updateMode = true;
							}
						}
						else if(res.data.status == 'error')
						{
							console.log(res.data);
							this.setListProp({ property: 'errors', value: res.data.message });

							// this.errors = res.data.message;
							this.alertSmall({ message: '<b>Tiene errores en el formulario.</b> <br>Hay campos que debe completar o no son válidos', type: 'error', });
						}
						else
						{
							console.log(res.data);
						}
					})
					.catch((error) => {
						console.error('Error: ' + error);
					}).finally(() => {
						this.toggleLoader(false);
				});

			}, 

			togglePreviewArticle(){
				this.previewArticle = !this.previewArticle;
			},

			toggleDescription() {
				this.descriptionVisible = !this.descriptionVisible;
			},

			redirectAfterUpdate(location) {
				this.redirectTo = location;
			},

			remove (relation, key) {
                Vue.delete(relation, key);
            },

			clearLocations() {
				this.item.state_id = null;
				this.item.city_id = null;
			},
			
		}
	}
</script>
