<template>
	<div>
		<!-- Modal -->
		<list-component 
			:item="item"
			:sectionTexts="sectionTexts" 
			:listDataVisible="listDataVisible"
			:updateableFields="updateableFields"
			:selectedItems="selectedItems"
			:useExtraActions="false"
			@save="save(item)"
			@deleteItems="deleteItems"
			@setUpdateOrCreate="setUpdateOrCreate"
			@selectAllItems="selectAllItems"
		>
			<template slot="extra-actions">
				<a href="#">Extra actions</a>
			</template>

			<!-- List data -->
			<template slot="list-data">
				<tr class="table-row" v-for="(item, index) in items" :key="index" :class="{ 'table-row-selected': isSelected(item.id) }">
					
					<td class="align-middle checkbox-col">
						<!-- List Checkbox -->
						<b-form-checkbox size="lg" v-if="!undeleteableItems.includes(item.id)"
							v-model="selectedItems"
							:value="item.id"
							>
						</b-form-checkbox>
					</td>

					<!-- Data -->
					<td class="align-middle" :class="{ 'with-left-action': show.isRelation && item.roles }" v-for="(show, index) in listDataVisible" :key="index">
						<template v-if="!show.isRelation"> 
							{{ item[show.name] }} 
						</template> 
					</td>

					<list-actions 
						:canBeModified="!undeleteableItems.includes(item.id)"
						:itemId="item.id"
						:useStatus="true"
						:itemStatus="item.status"
						v-on:setUpdateOrCreate="setUpdateOrCreate('update', item), $bvModal.show('Modal')"
						v-on:changeStatus="changeStatus('Article', item.id, item.status, true)"
						v-on:deleteItem="deleteItems(item.id, sectionTexts.askDeleteItem + '<b> &nbsp ' + item.name + '</b>'), singleDelete()"
						>
						<div slot="extra-list-actions">
							<!-- <b-dropdown-item> <img :src="bIcon('trash')" > Action </b-dropdown-item> -->
						</div>
					</list-actions>	

				</tr>
			</template>
		</list-component>

	</div>
</template>

<script>
	// Mixins
	import CommonMixin from '../../mixins/CommonMixin'
	import CrudActions from '../../mixins/CrudActions'
	export default {
		mixins: [ CommonMixin, CrudActions ],
		data () {
			return {

				// Table name
				sectionRoute: 'social', 

				// Section properties
				sectionTexts: { plural: 'Redes Sociales', singular: 'Red Social', withArticle: "las redes sociales", new: "Nueva Red Social",
								askDelete: "Va a eliminar las redes sociales seleccionadas", askDeleteItem: "Va a eliminar la red social " },

				item: {  username: '', first_name: '', last_name: '', email: '', password: '', password_confirmation: '' },
				listData: [
							{ name: 'id', label: 'Id', show: false, updateable: false}, 	
							{ name: 'name', label: 'Nombre', type: 'text', placeholder: 'Ingrese el nombre de la red social' },
						],
				undeleteableItems: [],
			}
		}
	}
</script>
