<template>
    <div :class="componentClass + ' box-01 ' + hoverEffect + extraClasses" v-on:click="emmitClick">
		<div v-if="headerImageType == 'background'" :class="{'bg-header-image': hasBackgroundImgHeader}" 
			:style="'background: url(' + headerImage + '); no-repeat center center fixed;'"
			>
			<div v-if="overlay" class="overlay">
				<slot name="overlay-content">
				</slot>
			</div>
		</div>
        
		<div class="inner">
			<slot name="content"></slot>
        </div>

		<div class="ribbon" v-if="showRibbon">
			<div class="background">
				<div class="text">
					{{ ribbonText }}
				</div>
			</div>
		</div>
    </div>
</template>

<script>

	export default {
		props: [ 'columns', 'effectOnHover', 'ribbon', 'ribbonText', 'headerImageType', 'headerImageSrc', 'overlay', 'extraClasses' ],
		data() {
			return {
			}
		},
		created() {
			// console.log(this.headerImageType);
		},
		computed: {
            componentClass() {
				if(this.columns)
                    return "col-" + this.columns[0] + " col-sm-" + this.columns[1] + " col-md-" + this.columns[2] + " col-lg-" + this.columns[3];
                return '';
			},
			hoverEffect() {
				if(this.effectOnHover != undefined) {
					return 'effect-on-hover '; 
				} 
				return '';
			},
			showRibbon() {
				if(this.ribbonText == undefined || this.ribbonText == '')
					return false;
				return true;
			},
			hasBackgroundImgHeader() {
				return this.headerImageType == 'background';
			},
			headerImage() {
				// console.log(this.headerImageSrc);
				if(this.headerImageSrc)
					return this.headerImageSrc;
				else 
					return this.$helpers.siteAsset('post-default.jpg')
			}
		},
		methods: {
			emmitClick() {
				this.$emit('clicked');
			}
		}
	}

</script>