<template>
	<form class="custom-form" v-on:submit.prevent="submitForm">
					
        <div class="row content" v-if="showForm">
            <div class="col-md-12 text-center mb-3">
                <h1 class="main-title-03">
                    {{ $t('contact.title') }}
                    <!-- Quiero que me contacten -->
                </h1>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" v-model="contactData.name" :placeholder="$t('contact.form-placeholder-name')" required>
                    <!-- <p v-if="errors['name']">{{ errors['name'][0] }}</p> -->
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" v-model="contactData.phone" :placeholder="$t('contact.form-placeholder-phone')" class="form-control" required>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <input type="email" v-model="contactData.email" :placeholder="$t('contact.form-placeholder-email')" class="form-control" required>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
					<select class="form-control" v-model="contactData.country_id" required>
						<option :value="null" disabled selected>{{ $t('contact.form-placeholder-country') }}</option>
						<option :value="country.id" v-for="(country, index) in countries" :key="index" >
                            <!-- countactData.countryName = country.name -->
							{{ country.name }}
						</option>
					</select>
				</div>
            </div>

            <input type="text" class="Hidden" v-model="contactData.countryName" >

            <div class="col-md-12"> <b-form-textarea
                v-model="contactData.message" :placeholder="$t('contact.form-placeholder-message')" rows="4" cols="8"
                ></b-form-textarea>
            </div>

            
            <div class="col-md-12 mt-3">
                <b-button id="envio-compra" type="submit"  class="btn btn-main">Enviar</b-button>
                <!-- v-on:click="submitForm" -->
            </div>

        </div>


        <div class="row form-message" v-else>
            <div v-if="successMessage">
                <img class="icon" :src="this.$helpers.siteAsset('checkmark.svg')" alt="">
                <h1 class="bold color-palette1">{{ $t('contact.messages.success-title') }} 
                    <!-- Mensaje Enviado -->
                </h1>
                <h4 class="mb-4 mt-3" style="border: 1px solid #d2d2d2; padding: 20px; border-radius: 10px">
                    <a :href="meetingURL" target="_blank">
                        {{ $t('contact.messages.success-cta') }}
                        <!-- Haz clic en este enlace para agendar la llamada -->
                    </a>
                </h4>
                <!-- <p>Nos estaremos contactando contigo a la brevedad vía mail para coordinar una llamada telefónica</p> -->
                <a href="/" class="btn btn-main">
                    {{ $t('contact.messages.success-button') }}
                    <!-- VOLVER AL INICIO -->
                </a>
            </div>
            <div v-else-if="errorMessage">
                <img class="icon" :src="this.$helpers.siteAsset('cross.svg')" alt="">
                <h1 class="bold color-palette1">
                    {{ $t('contact.messages.error-title') }}
                    <!-- Error al enviar -->
                </h1>
                <p>
                    {{ $t('contact.messages.error-message') }}
                    <!-- Ha ocurrido un error. Puedes comunicarte directamente con nosotros a info@sitiodetiendas.com -->
                </p>
                <button type="button" class="btn btn-main" v-on:click="restoreForm">
                    {{ $t('contact.messages.error-button') }}
                    <!-- o REINTENTAR -->
                </button>
            </div>
        </div>

        <!-- <br>
        <div class="row form-message">
            <div>
                <img class="icon" :src="this.$helpers.siteAsset('checkmark.svg')" alt="">
                <h1 class="bold color-palette1">Mensaje Enviado</h1>
                <h4 class="mb-4 mt-3" style="border: 1px solid #d2d2d2; padding: 20px; border-radius: 10px">
                    <a href="https://meetings.hubspot.com/info11407" target="_blank">
                    Haz clic en este enlace para agendar la llamada
                    </a>
                </h4>
                <a href="/" class="btn btn-main">VOLVER AL INICIO</a>
            </div>
        </div> -->
    </form>
    
</template>

<script>

	import CommonMixins from '../mixins/common.js'
    import GetData from '../mixins/getData.js'
	import { mapMutations } from "vuex"

	export default {
		props: [ 'article' ],
		mixins: [ CommonMixins, GetData ],
		components: {
		},
		data() {
			return {
				contactData: { lang: this.$i18n.locale, country_id: null, countryName: '' },
				errors: [],
				showForm: true,
				successMessage: false,
				errorMessage: false,
				showErrors: false
			}
		},
		created() {

			if(this.article) {
				this.completeFormWithData();
			}

            this.getCountries();
            
		},
		mounted() {
          
		},
        watch: {

            // Search trough countries and set country name in the form
            "contactData.country_id" : function (val, valOld) {
                
                var valObj = this.countries.filter(function(elem){
                    if(elem.id == val) return elem.name
                })

                if(valObj.length > 0)
                {
                    this.contactData.countryName = valObj[0].name
                }
                    
            },
        },
        
		computed: {
			meetingURL() {
				
				if(this.$i18n.locale == 'br')
					return 'https://meetings.hubspot.com/seuproximonegocio/contato'
				else
					return 'https://meetings.hubspot.com/maximiliano-sadaba-agueero'
			},

            // countryName() {
            //     return this.contactData.country_id;
            // }
		},
		methods: {
            
           ...mapMutations(['toggleMainLoader']),

			completeFormWithData(){
				if(this.article) {

					let text = ''
					if(this.$i18n.locale == 'br') {
						text += "Estou interessado no negócio: '"
					} else {
						text += "Estoy interesado en el negocio: '"
					}

					text +=  this.article.title + "' (Código: " + this.article.id + ")"

					this.contactData.message = text
					this.contactData.articleCode = this.article.id
					this.contactData.articleTitle = this.article.title
					this.contactData.lang = this.$i18n.locale
				}
			},

			submitForm() {
                this.toggleMainLoader(true);
                
				axios.post('submitContactForm', this.contactData)
				.then((res) => {

					if(res.data.status == 'success'){
						this.successMessage = true;
						this.showForm = false;

						this.$helpers.pixel('CompleteRegistration');
						
					} else if(res.data.status == 'error') {
						console.log("ERROR")
						this.$helpers.alertSmall({message: this.$t('main-messages.errors.review-fields'), type: 'error'});

						// this.errorMessage = true;
						// this.showForm = false;
						console.log(res.data);
						
					}
				})
				.catch(error => {
					console.log(error);
					console.log('Hubo un enviando el formulario: ' + this.route);
				})
				.finally(() => {
					this.toggleMainLoader(false);      
				});
			},

			restoreForm() {
				this.successMessage = false;
				this.successMessage = false;
				this.showForm = true;
			}
			
		}
	}

</script>