<template>
    <div>
        <b-modal id="devModeModal" class="custom-modal" title="" hide-footer>
			<h1 class="text-center">Al momento el sitio está en desarrollo.</h1>
            <p class="text-center my-4">
				Próximamente podrás encontrar todos los comercios disponibles para la compra.
			</p> <br>
        </b-modal>
        </div>
</template>

<script>

    export default {
        props: [],
		data() {
			return {
			}
		},
		created() {
		},
		mounted() {            
		},
		computed: {

		},
		methods: {
   
		}
    }
    
</script>