<template>
    <div :class="inputClass" class="form-group custom-input">

        <template v-if="!hideLabel">
            <label class="title-input" v-if="label"> 
                {{ label }} 
                <a type="button" v-if="canCollapse" v-on:click="toggleCollapseInput()">
                    <span v-if="collapsed">+</span>
                    <span v-else>-</span>
                </a>
            </label>
            <label v-else></label>
        </template>

        <transition name="fade" mode="out-in">
            <template v-if="!collapsed">
                
                <!-- TEXTAREA -->
                <template v-if="inputType == 'textarea'">
                    <vue-editor v-if="customTextarea" v-model="inputVal"/>
                    <textarea v-else v-model="inputVal" :name="name" 
                    :cols="textarea.cols" :rows="textarea.rows" class="form-control" 
                    @keydown="clearErrors" :placeholder="placeholder"></textarea>
                </template>

                <!-- SELECT -->
                <select v-else-if="inputType == 'select'" v-model="inputVal" v-on:change="setOption" 
                    :name="name" class="form-control" @change="clearErrors">
                    <option selected disabled value="0"> {{ placeholder }} </option>
                    
                    <template v-if="optionsFromModel != undefined">

                        <option v-for="(option, index) in optionsFromQuery" :key="index"
                            :value="setSelectOptionValue(option)"> {{ option['name'] }}
                        </option>

                    </template>

                    <template v-else-if="options != undefined">
                        <option v-for="(option, index) in options" :key="index"
                            :value="option[optionsField]">{{ option[optionsName] }}
                        </option> 
                    </template>
                    
                </select>

                <!-- DATEPICKER -->
                <!-- <date-picker v-else-if="inputType == 'datepicker' "
                    v-model="inputVal"
                    type="date"
                    :lang="lang"
                    :disabled-date="notBeforeToday"
                    value-type="format"
                    format="DD/MM/YYYY"
                    :placeholder="placeholder"
                ></date-picker> -->

                <!-- INPUT  -->
                <template v-else>
                    <!-- <b-form-input
                        v-model="inputVal" placeholder="Nombre" type="text" required v-on:keydown="clearError('name')"
                    ></b-form-input> -->
                    <the-mask v-if="hasMask"  :mask="mask"  class="form-control" />
                    
                    <div v-else-if="inputGroup" class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text" :class="inputGroupClass"> {{ inputGroupText }} </div>
                        </div>
                        <input v-model="inputVal" :name="name" :type="dataType" class="form-control" :placeholder="placeholder"
                        @keydown="clearErrors" required="required" aria-required="true">
                        <span class="floating-label">{{ label }}</span>
                    </div>

                    <input v-else v-model="inputVal" :name="name" :type="dataType" v-bind="validationRules"
                    class="form-control" :placeholder="placeholder" :v-bind="validationRules"
                    @keydown="clearErrors" required="required" aria-required="true"
                    >
                </template>

            </template>
   
        </transition>
                 
        <div v-if="note != undefined" class="note">
            <img class="arrow" src="/images/site/arrow-up.png"> {{ note }}
        </div>
        <div class="error-input" v-if="error && !hideError">
            <div class="arrow-up"></div>
            {{ error[0] }} 
        </div>
        <span class="floating-label">{{ label }}</span>

        <!-- <input-extras :name="errors['name']" :floating-label="true" label="Nombre"></input-extras> -->
    </div>
</template>    

<script>

    import { mapGetters } from "vuex"
    import { TheMask } from 'vue-the-mask'
    import Multiselect from 'vue-multiselect'

	// Datepicker Docs
	// https://mengxiong10.github.io/vue2-datepicker/index.html
	// https://www.npmjs.com/package/vue2-datepicker
	import DatePicker from 'vue2-datepicker'
	import 'vue2-datepicker/index.css'
    import 'vue2-datepicker/locale/es'
    
    // VUE Textarea editor
    import { VueEditor } from "vue2-editor";

	export default {
        props: ['classes', 'label', 'floating-label', 'hideLabel', 'columns', 'name', 'value', 'inputType', 'type', 'placeholder', 
                'options', 'optionsValueField', 'optionsValueName', 'optionsTextField', 'optionsFromModel', 'customTextarea', 'textareaCols', 'textareaRows', 'error', 'mask', 
                'inputGroup', 'inputGroupText', 'inputGroupTextClass', 'step', 'min', 'max', 'required', 'note' ],
        components: {
            DatePicker,
			TheMask,
            VueEditor,
            Multiselect 
        },
        data() {
            return {
                hideError: false,
                customOptionsArray: false,
                collapsed: false,
                todayDate: '',
                lang: 'ES',
                formatLocale: {
					firstDayOfWeek: 1,
					monthBeforeYear: false,
                },
                optionsFromQuery: []
     
            }
        },
        created() {
            // console.log(this.frontError);
            if(this.optionsValueName && this.optionsTextName) {
                this.customOptionsArray = true;
            }   

            if(this.inputType == 'select') {                
                this.getOptionsFromModel(this.optionsFromModel);
            }
            
        },

        mounted() {
            this.todayDate = new Date();
			this.todayDate.setHours(0, 0, 0, 0);
        },

		computed: {
            ...mapGetters(['errors']),

            validationRules () {
                let step = 'any';
                let required = false;
                
                if(this.step)
                    step = this.step;
                if(this.required)
                    required = 'required';
            
                return {
                    max: this.max,
                    min: this.min,
                    required: required,
                    step: step,
                }
            },

            inputGroupClass() {
                if(this.inputGroupTextClass) {
                    return this.inputGroupTextClass;
                } 
                return '';
            },

            hasMask() {
                if(this.mask != undefined && this.mask != '') {
                    return true;
                }

                return false;
                
            },

            textarea() { 
                let cols = '10';
                let rows = '10';

                if(this.textareaCols != undefined)
                    cols = this.textareaCols;
                
                if(this.textareaRows != undefined)
                    rows = this.textareaRows;

                return { cols: cols, rows: rows }
            },

            optionsDataNames() {
                return { value: this.optionsValue, text: this.optionsText };
            },

            optionsField() {
                if(this.optionsValueField)
                    return this.optionsValueField;
                return 'value';
            },
            
            optionsName() {
                if(this.optionsValueName)
                    return this.optionsValueName;
                return 'name';
            },

            dataType() { 
                if(this.type == undefined) {
                    return 'text';
                }

                return this.type;
            },

            inputVal: {
                get() {
                    return this.value;
                },
                set(val) {
                    this.$emit('input', val);
                }
            },
                
			inputClass() {
                let columns = 'col-12 col-sm-12 col-md-12 col-lg-12';
                let classes = '';

                if(this.classes)
                    classes = this.classes;
                if(this.columns)
                    columns = "col-" + this.columns[0] + " col-sm-" + this.columns[1] + " col-md-" + this.columns[2] + " col-lg-" + this.columns[3];
                
                return columns + ' ' + classes;
            },

            // error() {
            //     if(this.errors) {
            //         this.hideError = false;
            //         if(this.errors[this.name])
            //             return this.errors[this.name][0];
            //     }
            //     return false;
            // },

        },
        watch:{
            optionsFromModel(newValue, oldValue){
                // console.log(newValue, oldValue);
                this.getOptionsFromModel(newValue);
            },
            error(newValue, oldValue){
                if(newValue) {
                    this.hideError = false;
                    this.error = newValue;
                }
            }
        },
        methods: {
            
            vuelog(data) {
                console.log(data);
            },

            setSelectOptionValue(item) {
                if(this.isRelation)
                    return item[this.relation_field_id];
                else if(this.optionsValueName)
                    return item[this.optionsValueName];

                return item['id'];
            },

            getOptionsFromModel(route, id = undefined) {

                if(route) {
                    let finalRoute = route;
                    
                    axios.get(finalRoute)
                        .then(res => {
                            this.optionsFromQuery = res.data;
                        })
                        .catch(error => {
                            console.error("Error on getOptionsFromModel()");
                            console.log(error);
                        });
                }
            },

            toggleCollapseInput() {
                this.collapsed = !this.collapsed;
            },

            setOption (selectedOption) {
                this.$emit('optionSelected', selectedOption.target.value);
            },
                
            notBeforeToday(date) {
				return date < this.todayDate;
            },
        
            clearErrors() {
                this.hideError = true;
            }
        }

	}

</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style>

	input:focus ~ .floating-label,
	input:not(:focus):valid ~ .floating-label{
		top: -18px;
		bottom: 10px;
		left: 14px;
		font-size: 11px;
		opacity: 1;
	}

	.floating-label {
		position: absolute;
		pointer-events: none;
		left: 20px;
		top: 18px;
		transition: 0.2s ease all;
		opacity: 0;
	}

</style>