<template>
	<footer class="container-fluid">
		<div class="row footer-content mt-3">
			<div class="col col-12 col-sm-6 col-md-3 col-3">
				<h2>
					{{ $t('footer.col-1.title') }}
					<!-- Sitio De Tiendas -->
				</h2>
				<ul>
					<li><a href="/quienes-somos"> {{ $t('footer.col-1.item-1') }} </a></li>
					<li><a href="/como-funciona"> {{ $t('footer.col-1.item-2') }} </a></li>
					<li><a href="/preguntas-frecuentes"> {{ $t('footer.col-1.item-3') }} </a></li>
					<li><a href="/terminos-y-condiciones"> {{ $t('footer.col-1.item-4') }} </a></li>
				</ul>
			</div>
			<div class="col col-12 col-sm-6 col-md-3 col-3">
				<h2>
					{{ $t('footer.col-2.title') }} 
					<!-- Contacto -->
				</h2>
				<ul>
					<li>
						{{ $t('footer.col-2.item-1') }}
						<!-- Montevideo, Uruguay -->
					</li>
					<li v-if="show.phone">
						{{ $t('footer.col-2.item-2') }}
						<!-- Teléfono: +54230 436 0079 -->
					</li>
					<li>
						{{ $t('footer.col-2.item-3') }}
						<!-- E-mail: info@sitiodetiendas.com -->
					</li>
				</ul>
			</div>
			<div class="col col-12 col-sm-6 col-md-3 col-3">
				<h2>
					{{ $t('footer.col-3.title') }}
					<!-- Seguinos en -->
				</h2>
				<p>
					{{ $t('footer.col-3.text') }}
					<!-- Conocé más en nuestras redes sociales -->
				</p>
				<ul class="horizontal-list social-logos">
					<li v-if="$t('footer.col-3.facebook-link') != '' ">
						<a :href="$t('footer.col-3.facebook-link')" target="_blank">
							<img :src="$helpers.siteAsset('facebook-logo.svg')" alt="">
						</a>
					</li>
					<li v-if="$t('footer.col-3.instagram-link') != '' ">
						<a :href="$t('footer.col-3.instagram-link')">
							<img :src="$helpers.siteAsset('instagram-logo.svg')" alt="" target="_blank">
						</a>
					</li>
					<li v-if="$t('footer.col-3.youtube-link') != '' ">
						<a :href="$t('footer.col-3.youtube-link')">
							<img :src="$helpers.siteAsset('youtube-logo.svg')" alt="" target="_blank">
						</a>
					</li>
				</ul>
			</div>
			<div class="col col-12 col-sm-6 col-md-3 col-3">
				<!-- Vendé tu negocio -->
				<a :href="$t('routes.sell-business')" v-on:click="$helpers.pixel('AddToCart')" class="btn btn-white color-shadow-small mb-3">{{ $t('footer.col-4.button-1') }}</a>
				<!-- Cotizá tu negocio -->
				<a :href="$t('routes.valuate-business')" v-on:click="$helpers.pixel('AddToCart')" class="btn btn-white color-shadow-small mb-3">{{ $t('footer.col-4.button-2') }}</a><br>
				<a href="/listado" class="btn btn-main color-shadow-small mb-3">{{ $t('footer.col-4.button-3') }}</a>
			</div>
		</div>
		<div class="row copyright">
			<div class="col-12">
				<p class="text">
					{{ $t('footer.copyright') }}
					<!-- © 2020 Sitio de tiendas | Argentina - Chile - Colombia - México - Perú - Uruguay  -->
				</p>

				<!-- LOCALE SWITCHER -->
				<div class="footer-locale-switcher">
					<div class="inner">
						<locale-switcher :useSelect="true"></locale-switcher>
					</div>
				</div>
				
			</div>
		</div>
	</footer>
</template>


<script>

	import LocaleSwitcher from './LocaleSwitcher.vue'

	export default {
		components: {
			'locale-switcher': LocaleSwitcher
		},
		data() {
			return {
				show: {
					phone: true
				}
			}
		},
		created() {
			if(window.location.origin == 'https://seuproximonegocio.com.br' || window.location.origin == 'https://www.seuproximonegocio.com.br' || this.$i18n.locale == 'br')
				this.show.phone = false
		},
		methods: {
            devModeModal() {
                this.$bvModal.show('devModeModal');
            }
		}
	}

</script>