<template>
    <div>
        <transition name="fade" mode="out-in" >
            <form action="" :class="'row custom-form '+ inputClass" v-if="!messages.show">
                <slot name="form"></slot>
            </form>
            <div class="form-message" v-if="messages.show">
                <img class="icon" :src="this.$helpers.siteAsset('checkmark.svg')" alt="">
                <h1 class="bold color-palette1">Mensaje Enviado</h1>
                <p>Nos estaremos contactando contigo a la brevedad vía mail para coordinar una llamada telefónica</p>
                <a href="/" class="btn btn-main">VOLVER AL INICIO</a>
            </div>
        </transition>
    </div>
</template>

<script>

    import { mapGetters, mapMutations } from "vuex"

	export default {
        props: [ 'form', 'roundInputs' ],
		mixins: [],
		components: {

        },
		data() {
			return {
                messages: {
                    show: false,
                    success: {
                        title: 'Default Success',
                        text: 'Default Text',
                        button: 'Default Back'
                    },
                    error: {
                       title: 'Default Error',
                        text: 'Default Text',
                        button: 'Default Back'
                    }
                },
                businessValue: {
                    country_id: 0,
                    state_id: 0
                },
            }
		},
		created() {
        },
		mounted() {},
		computed: {
            inputClass() {
                if(this.roundInputs) {
                    return 'round-inputs';
                }
            }, 
            selectedCountry() {
                return this.businessValue.country_id;
            }
        },
        watch: {
            formData(newValue, oldValue) {
                console.log(newValue, oldValue);
            },
            selectedCountry() {
                this.businessValue.state_id = 0;
            }
        },
		methods: {
            ...mapMutations(['toggleMainLoader']),

            submitForm(route, data, messages) {
                console.log(route);
                console.table(data);
                console.log("SUBMITING: " + route);
                this.toggleMainLoader(true);
                    

			
                    axios.post(route, data, messages)
                    .then((res) => {
                        console.log(res);
                        if(res.data.status == 'success'){
                            this.messages.show = true;
                            if(message != undefined) {
                                this.messages = messages;
                            }
                            this.$helpers.pixel('SubmitApplication');
                        }
                    })
                    .catch(error => {
                        console.log('Hubo un enviando el formulario: ' + this.route);
                        console.log(error);
                    })
                    .finally(() => {
                        this.toggleMainLoader(false);
                        
                    });




            }
        }
    }
    
</script>