<template>
    <div>
       	<div class="error-input" v-if="name">
            <div class="arrow-up"></div>
            {{ name[0] }} 
        </div>
		<span class="floating-label">{{ label }}</span>
    </div>
</template>

<script>


    export default {
        props: [ 'name', 'floating-label', 'label' ],
		components: {
		},
		data() {
			return {
			}
		},
		created() {
		},
		mounted() {            
		},
		computed: {

		},
		methods: {
		}
    }
    
</script>

