<template>
    <div class="locale-switcher">
        <!-- <b-form-select v-model="selectedLang" :options="langs"></b-form-select> -->
        
        <template v-if="useSelect">
            <div class="flag"><img :src="flagImage" alt=""></div>
            <select class="custom-select" v-model="$i18n.locale" @change.prevent="setLocale($i18n.locale)"> 
                <option v-for="locale in locales" :key="locale.key" :value="locale.key">
                    {{ locale.label }}
                </option>
            </select>
        </template>

        <template v-else>
            <b-dropdown class="ml-2 dropdown-locale-switcher" dropleft >  
                <template slot="button-content">
                    <!-- <span class="text">Idioma: </span> -->
                    <img class="img-fluid p-2" :src="flagImage" width=50/>
                </template>
                
                <b-dropdown-item v-for="locale in locales" :key="locale.key" :value="locale.key" @click.prevent="setLocale(locale.key)">
                    <img class="img-fluid p-2" :src="locale.image" /> 
                    <br><span>{{ locale.label }} </span>
                </b-dropdown-item>
            </b-dropdown>
        </template>
    </div>
</template>

<script>

    export default {
        props: [ 'useSelect' ],
        data() {
            return {
                locales: [ 
                    { key: 'es', label: 'Español', image: '/images/flags/flag_ES.jpg' },
                    { key: 'br', label: 'Português', image: '/images/flags/flag_BR.jpg'  },
                ]
            }
        },
        created() {
        },
        computed: {
            flagImage() {
                switch (this.$i18n.locale) {
                    case 'es':
                        return '/images/flags/flag_ES.jpg';
                    case 'br':
                        return '/images/flags/flag_BR.jpg';
                    default:
                        return '';
                }
            }
        },
        methods: {
            setLocale(locale) {
                console.log("Changing lang...")
                this.$i18n.locale = locale  
                localStorage.setItem('locale', locale)
                location.reload()
            }
        }
    }

</script>
