<template>
    <div>
       <div v-if="mainLoader" class="main-loader">
            <div class="content">
               <img :src="this.$helpers.siteAsset('loader.svg')" alt="">
            </div>
        </div>
    </div>
</template>

<script>

    import { mapGetters } from "vuex";

    export default {
		mixins: [],
		components: {
		},
		data() {
			return {
			}
		},
		created() {
		},
		mounted() {            
		},
		computed: {
            ...mapGetters(['mainLoader']), 
		},
		methods: {
            closeLoader() {
            }
		}
    }
    
</script>