<template>
    <div class="container-fluid"> 
        <div class="row justify-content-center">
            <form action="" class="top-search-form">
                <div class="form-row" v-on:click="devModeModal">
                    
                    <div class="form-group col">
                        <select id="inputState" class="form-control round">
                            <option selected>País</option>
                            <option>Argentina</option>
                            <option>Colombia</option>
                            <option>Perú</option>
                            <option>Mexico</option>
                            <option>Chile</option>
                            <option>Uruguay</option>
                        </select>
                    </div>
    
                    <!-- <div class="form-group col">
                        <select id="inputState" class="form-control round">
                            <option selected>Estado/Provincia</option>
                            <option>-</option>
                        </select>
                    </div> -->

                    <!-- <div class="form-group col">
                        <select id="inputState" class="form-control round">
                            <option selected>Rubro</option>
                            <option value="">-</option>
                        </select>
                    </div> -->

                    <div class="form-group col">
                        <button type="button" class="btn btn-main btn-submit">
                            {{ $t('main-list.search') }}
                            <!-- BUSCAR -->
                        </button>
                    </div>
                </div>
                <!-- <div class="advanced-search">
                    <p>Mostrar búsqueda avanzada <img :src="$helpers.bIcon('caret-down-fill')" alt=""></p>
                </div> -->
            </form>
        </div>
   </div>
</template>

<script>
    export default {
        created() {
        },
        methods: {
            // bIcon(icon) {
            //     return this.$helpers.bIcon(icon);
            //     // return Vue.helpers.bIcon(icon);
            // }
            devModeModal() {
                this.$bvModal.show('devModeModal');
            }
        }
    }
</script>

<style>

</style>