<template>
	<div>
		<b-navbar toggleable="lg" class="navigation">
			<b-navbar-brand href="/">
				<!-- /images/site/brand-logo.png -->
				<img :src="$t('brand-logo.top')" alt="">
				<p class="brand-slogan-text">
					{{ $t('navigation.slogan') }}
					<!-- Primer Marketplace de compraventa de negocios digitales de Latinoamérica -->
				</p>
			</b-navbar-brand> <br>
			<!-- <div class="brand-slogan-text">Primer Marketplace de compraventa de negocios digitales de Latinoamérica</div> -->
			
			<b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

			<b-collapse id="nav-collapse" is-nav>
			<b-navbar-nav>
			</b-navbar-nav>

			<!-- Right aligned nav items -->
				<b-navbar-nav class="ml-auto">

					<li class="nav-item" v-for="(item, index) in menuItems" :key="index" :class="display(item.showOn)">

						<template v-if="$i18n.locale == 'br'">
							<a :href="item.href" target="_self" :class="nav_item_class(item.href_br)">
								{{ item.label_br }}
							</a>
						</template>
						<template v-else>
							<a :href="item.href" target="_self" :class="nav_item_class(item.href)">
								{{ item.label }}
							</a>
						</template>
					</li>
	
					<!-- LOCALE SWITCHER -->
					<div class="nav-locale-switcher">
						<locale-switcher></locale-switcher>
					</div>

				</b-navbar-nav>
			</b-collapse>
		</b-navbar>
	</div>
</template>

<script>

	import LocaleSwitcher from './LocaleSwitcher.vue'
	
	export default {
		components: {
			'locale-switcher': LocaleSwitcher
		},
		data() {
			return {

				menuItems: [
					{ href: '/', label: 'HOME' },
					{ href: this.$t('routes.about-us'),         label: 'QUIENES SOMOS',        label_br: 'QUEM-SOMOS'},
					{ href: this.$t('routes.how-it-works'),     label: '¿CÓMO FUNCIONA?',      label_br: 'COMO FUNCIONA?' },
					{ href: this.$t('routes.faq'),              label: 'PREGUNTAS FRECUENTES', label_br: 'PREGUNTAS MAIS FRECUENTES', showOn: 'mobile' },
					
					{ href: this.$t('routes.sell-business'),    label: 'VENDER MI NEGOCIO',    label_br: 'VENDA SEU NEGOCIO', showOn: 'mobile' },
					{ href: this.$t('routes.list'),             label: 'COMPRAR UN NEGOCIO',   label_br: 'COMPRE UM NEGOCIO', showOn: 'mobile' },

					{ href: this.$t('routes.sell-business'),    label: 'VENDER',               label_br: 'VENDA', showOn: 'desktop' },
					{ href: this.$t('routes.list'),             label: 'COMPRAR',              label_br: 'COMPRE', showOn: 'desktop' },
					
					{ href: '/noticias?c=1&searchByTag=PRENSA', label: 'NOTICIAS',  href_br: '/noticias?c=1&searchByTag=PRENSA', label_br: 'NOTICIAS' }, 
					{ href: '/noticias?c=1&searchByTag=BLOG',   label: 'BLOG',      href_br: '/noticias?c=1&searchByTag=BLOG', label_br: 'BLOG' }, 
					{ href: this.$t('routes.contact'),          label: 'CONTACTO',             label_br: 'CONTATO' },
				],
			}
		},
		created() {
		},
		methods: {

			nav_item_class(linkPath) {

				let divClass = "nav-link nav-link-no-bg mr-2 "
				if(linkPath == '/contacto')
					divClass = divClass + " btn-main "

				if(linkPath == new URL(location.href).pathname)
					divClass = divClass + " active-link"
				return divClass
				
			},

			display(showOn) {

				switch (showOn) {
					case 'mobile':
						return ' show-only-mobile-flex'
					case 'desktop':
						return ' show-only-desktop-flex'
					default:
						break
				}

			}
		}
	}
	
</script>