<template>
	<div>
		<ul class="pagination"> 
			<li v-bind:class="{'page-item':true, 'disabled':(pagination.current_page == 1)}">
				<a class="page-link" href="#" @click.prevent="changePage(pagination.current_page - 1)"> {{ $t('main.pagination.previous') }}  </a>
			</li>
			<li v-for="(page, index) in pagesNumber" :key="index" v-bind:class="{'page-item':true, 'active':(page === isActive)}">
				<a class="page-link" href="#" @click.prevent="changePage(page)"> {{ page }} </a>
			</li>
			<li v-bind:class="{'page-item':true, 'disabled':(pagination.current_page == pagination.last_page)}">
				<a class="page-link" href="#" @click.prevent="changePage(pagination.current_page + 1)"> {{ $t('main.pagination.next') }}  </a>
			</li>
			<li v-if="useResultsPerPage">
				<div class="form-group">
					<select class="ml-1 form-control" v-model="results" 
						v-on:change="setResultsPerPage(results), changePage(1)">
						<option value="null" disabled selected>Resultados</option>
						<option :value="option.value" v-for="(option, index) in resultsPerPageOptions" :key="index">
							{{ option.text }}
						</option>
					</select>
				</div>
				<!-- <b-form-select v-model="results" 
					:options="resultsPerPageOptions" 
					v-on:change="setResultsPerPage(results), changePage(pagination.current_page)" class="ml-1">
				</b-form-select> -->
			</li>
		</ul>
	</div>
</template>

<script>
	import { mapActions, mapGetters, mapMutations } from "vuex";

	export default {
		props: [ 'useResultsPerPage' ],
		data() {
			return {
				results: '',
				resultsPerPageOptions: [
					{ value: '10', text: '10' },
					{ value: '20', text: '20' },
					{ value: '30', text: '30' },
				]
			}
		},

		created(){
			this.getExistingResults(); 	
		},

		methods: {
			...mapActions(['getArticles']),
			...mapActions(['setResultsPerPage']),

			getExistingResults() {
				this.results = this.resultsPerPage;
			},

			changePage(page) {
				this.getArticles({ page: page });
			},
		},

		computed: {
			...mapGetters(['pagination']), 
			...mapGetters(['resultsPerPageWeb']), 

			isActive: function() {
				return this.pagination.current_page;
			},

			resultsPerPage() {
				return this.resultsPerPageWeb;
			},

			pagesNumber: function() {
				if(!this.pagination.to) return [];
		
				let offset = 2;
		
				let from = this.pagination.current_page - offset;
				if (from < 1) from = 1;
		
				let to = from + (offset * 2);
				if (to >= this.pagination.last_page) to = this.pagination.last_page;
				
				let pagesArray = [];
		
				while (from <= to) {
					pagesArray.push(from);
					from++;
				}

				return pagesArray;
			},
		},
		
	}
</script>