<template>
    <div>
        <form class="top-search-form">
            <div class="round-inputs">
                <!-- {{ queryModel }} -->
             
                <div class="form-group col ">
                    <select id="inputState" class="form-control" v-model="queryModel.country_id" @change="setCategoriesByCountry">
                        <option selected disabled value="">País</option>
                        <option :value="item.char_id" v-for="(item, index) in countries" :key="index">
                            {{ item.name }}
                        </option>
                    </select>
                </div>

                <div class="form-group col ">
                    <select id="inputState" class="form-control" v-model="queryModel.category_id">
                        <option selected disabled value="">{{ $t('main.business') }}</option>
                        <option :value="item.id" v-for="(item, index) in categories" :key="index">
                            {{ item.name }}
                        </option>
                    </select>
                </div>

                <div class="form-group col ">
                    <input class="form-control" type="text" v-model="queryModel.searchWord" 
                        v-on:keydown.enter.prevent='submitQuery' :placeholder="$t('main.search') + '...'">
                </div>

                <div class="form-group col">
                    <button type="button" class="btn btn-main btn-submit" v-on:click="submitQuery">{{ $t('main.search') }}</button>
                    <button class="btn btn-grey round-btn" v-on:click="clearSearch" v-if="activeSearch">X</button>
                </div>
                <div class="col">
                    <template v-if="!$helpers.objectLenght(articles)"> 
                        <div class="container search-helper">
                            <a :href="contactHref" style="text-decoration: underline">
                                <b-icon class="mr-2" icon="info-circle-fill"></b-icon>
                                {{ $t('main.help-text-01') }}
                                <!-- Si no encontrás lo que estás buscando lo buscamos por vos -->
                            </a>
                        </div>
                    </template>
                </div>
            </div>
        </form>
    </div>
</template>

<script>

    import { mapActions, mapGetters } from "vuex"

	export default {
        props: [ 'filterData' ],
        data() {
            return {
                queryModel: {
					country_id: '',
					searchWord: '',
                    category_id: '',
				},
                activeSearch: false,
                categories: []
            }
        },

        created() {
            this.getCountries();
            this.getCategories();
        },
        
        computed: {
            ...mapGetters(['countries', 'articles']),

            contactHref () {

                if(this.$i18n.locale == 'br')
                    return '/contato'

                return '/contacto'
            }
        }, 
        
        methods: {
            ...mapActions(['getCountries', 'getArticles', 'setQuery']),

			submitQuery() {
                this.setQuery(this.queryModel);
                let url = ''
                if(this.queryModel.country_id){
                    url += '&country_id='+this.queryModel.country_id
                }

                if(this.queryModel.searchWord){
                    url += '&search='+this.queryModel.searchWord

                }

                this.getArticles( url )
                this.activeSearch = true
                this.$helpers.pixel('Search')
			},

            setCategoriesByCountry(country_id) {
               this.getCategories('byCountry')
            },

            getCategories(type) {
                let route = 'getCategories'

                if(type == 'byCountry') {
                    route = 'getCategoriesByCountry/' + this.queryModel.country_id
                }

				axios.get(route) 
					.then((res) => {
                        this.categories = [];
                        this.categories = res.data
					})
					.catch((error) => {
						console.error('Error on getCategories()')
						console.error(error)
					}).finally(() => {

					});

            },
            
            clearSearch() {
                this.queryModel.searchWord = '';
                this.queryModel.country_id = '';
                this.category_id = '';
                this.queryModel.category_id = '';
                this.activeSearch = false;
                this.setQuery( {} );
                this.getArticles( '&page=1' );
            }
        }
	}
</script>