<template>
    <div :class="componentClass">
        <div class="small-card">
            <div class="number">
                <div class="inner">
                    {{ number }}
                </div>
            </div>
            <p>{{ text }}</p>
        </div>
    </div>
</template>

<script>

	export default {
		props: [ 'columns', 'number', 'text'],
		data() {
			return {
			}
		},
		created() {
		},
		mounted() {
		},
		computed: {
            componentClass() {
                 if(this.columns)
                    return "col-" + this.columns[0] + " col-sm-" + this.columns[1] + " col-md-" + this.columns[2] + " col-lg-" + this.columns[3];
                return '';
			}
		}
	}

</script>