<template>
	<div class="top-content">
		<div class="content">
			<div class="container changing-title">
				<h4>{{ $t('home.top-section.slogan-1') }}
					<!-- Revolucionaria plataforma -->
				</h4> 
				<div class="title">
					<span>
						{{ $t('home.top-section.slogan-2')}}
						<!-- Para comprar y vender  -->
					</span>
				</div>
				<div class="changing-word-wrapper">
					<transition name="fade" mode="out-in" v-if="showWord" >
						<span class="changing-word" color="#ccc">{{ currentKeyWorkd }}</span>
					</transition>
				</div>
			</div>
			<!-- Search -->
			<!-- <div class="container-fluid"> 
				<div class="row justify-content-center">
					<form action="" class="top-search-form">
						<div class="form-row">
							
							<div class="form-group col">
								<select id="inputState" class="form-control round" v-model="queryData.country_id" v-on:change="setQuery">
									<option selected disabled value="">País</option>
									<option :value="index" v-for="(item, index) in countries" :key="index">
										{{ item }}
									</option>
								</select>
							</div>
			
							<div class="form-group col">
									<select id="inputState" class="form-control round" v-model="queryData.category_id" v-on:change="setQuery">
										<option selected disabled value="">Rubro</option>
										<option value="1">Rubro 1</option>
										<option value="2">Rubro 2</option>
									</select>
								</div>

								<div class="form-group col">
								<select id="inputState" class="form-control round" v-model="queryData.state_id" v-on:change="setQuery">
									<option selected>Estado/Provincia</option>
									<option value="1">Estado 1</option>
									<option value="2">Estado 2</option>
								</select>
							</div> 

							<div class="form-group col">
								<button type="button" class="btn btn-main btn-submit" v-on:click="submitQuery">BUSCAR</button>
							</div>
						</div>
					</form>
				</div>
			</div> -->

		</div>
		<div class="bottom-overlay"></div>
	</div>
</template>

<script>

	import MainSearch from '../components/MainSearch'

	export default {
		props: [ 'filterData' ],
		components: {
			'main-search': MainSearch
		},
		data(){
			return {
				queryData: {
					country_id: '',
					state_id: '',
					category_id: '',
				},
				query: '',
				typeOfBussines: '',
				// bussinesKeywords: [
				// 	'negocios digitales',
				// 	'tiendas online',
				// 	'webs',
				// 	'redes sociales',
				// 	'canales de Youtube',
				// 	'apps'
				// ],
				
				currentIndex: 0,
				showWord: true,

			}
		},

		mounted() {
    		setInterval(this.alternateBussinesKeywords, 1500);
		},

		computed: {
			countries() {
				return this.filterData.countries;
			}, 
			currentKeyWorkd() {
				return this.bussinesKeywords[this.currentIndex];
			},
			bussinesKeywords() {
				return [
							this.$t('home.top-section.business-keyword-1'),
							this.$t('home.top-section.business-keyword-2'),
							this.$t('home.top-section.business-keyword-3'),
							this.$t('home.top-section.business-keyword-4'),
							this.$t('home.top-section.business-keyword-5'),
							this.$t('home.top-section.business-keyword-6')
						]
				
			}
				
		}, 

		methods: {
			setQuery() {
				let data = this.queryData;
				let prequery = '';

				for (let key in data) {
					if(data[key] != '') {
						prequery += key +'='+ data[key] + '&';
					}
				}	
				this.query = prequery;
			},
			
			submitQuery() {
				this.$helpers.pixel('Search');
				window.location = "/listado?" + this.query;
			},

			alternateBussinesKeywords() {
				this.showWord = false;
				
				if(this.currentIndex > this.bussinesKeywords.length - 2) {
					this.currentIndex = 0;
				} else {
					this.currentIndex++ ;
				}
				setTimeout(() => this.showWord = true, 400)
			}
		}
	}
</script>
