<template>
    <div class="floating-bottom-cta">
        <div class="inner">
            <!-- https://wa.me/59897228603 -->
            <a id="boton-whatsapp" :href="$t('contact-data.whastapp-cta')" target="_blank">
                <img :src="$helpers.siteAsset('whatsapplogo.png')">
            </a>
        </div>
    </div>
</template>