

<template>
    <div id="app" class="container-fluid">
		<h1>Anuncios</h1>
        <div class="content-container">
			<div>
				<b-tabs content-class="mt-3">
					<b-tab title="Subir Anuncio" active>
						<form ref="myForm" @submit.prevent="submitAd()"  class="mb-4">
							<input type="hidden" name="_token" :value="csrf">
							<label for="" v-if="selectedAd.position == undefined">Seleccione una posición</label>
							<label for="" v-else>Posición: {{ selectedAd.position }}</label>
							<div class="inline-items">
								<!-- Position Selector -->
								<div class="form-group  mr-3" style="max-width: 150px">
									<select class="form-control" id="exampleFormControlSelect1" name="position"
									 	v-on:change="selectPosition($event)"
										v-model="ad.position"
										>
										<option value="0" selected disabled>-</option>
										<option v-for="(option, index) in adOptions" :key="index" 
										 	:value="option.value"
											:size="option.size">
											{{ option.value }}
										 </option>
									</select>
							
								</div>
								<p v-if="selectedAd.size != undefined">Tamaño recomendado: {{selectedAd.size}} </p>
							</div>
							
							<!-- Image Input -->
							<div class="inline-items" v-if="selectedAd.position != undefined">
								<div class="input-group mb-3 v-file-input-group" style="max-width: 500px">
									<div class="custom-file">
										<input @change="selectImage" 
											accept="image/*" 
											type="file" 
											class="custom-file-input" 
											name="file"
										>
										
										<label class="custom-file-label">Seleccionar imágen...</label>
									</div>
									<div class="input-group-append">
										<button type="submit" class="input-group-text v-submit-button" id="">Subir</button>
									</div>
								</div>
							</div>

						</form>

						<!-- Image Preview -->
						<div class="image-preview">
							<img class="img-fluid" :src="selectedAd.imgPreview" v-if="selectedAd.imgPreview">
						</div>
												
					</b-tab>
					<b-tab title="Anuncios publicados">
						<div class="row ctsads-list ">
							<div class="item col-xs-12 col-sm-6 col-md-4 col-lg-4" v-for="(item, index) in ads" :key="index">
								<div class="title">
									<div class="status-light">
										<div :class="{ 'dot': true, 'active': item.status == 'A', 'inactive': item.status == 'I' }"></div>
									</div>
									<h2> Posición: {{ item.position }}</h2>
								</div>
								<div class="image">
									<div class="overlay">
										<div>
											<a class="btn-icon-text play" v-if="(item.status == 'I')" v-on:click="changeStatus(item.position, 'A')">
												<div class="icon">
													<img src="/vendor/bootstrap-icons/play-fill.svg">
												</div>
												Activar
											</a>

											<a class="btn-icon-text pause" v-if="(item.status == 'A')" v-on:click="changeStatus(item.position, 'I')">
												<div class="icon">
													<img src="/vendor/bootstrap-icons/pause-fill.svg">
												</div>
												Pausar
											</a>

											<a class="btn-icon-text delete" v-on:click="deleteAd(item.position)">
												<div class="icon">
													<img src="/vendor/bootstrap-icons/trash.svg"> 
												</div>
												Eliminar
											</a>
										</div>
									</div>
									<img class="adImage" :src="item.image | adImgSrc" alt="">	
								</div>
							</div>
						</div>
					</b-tab>
				</b-tabs>
			</div>
		</div>
    </div>
</template>

<script>
	import CommonMixins from '../mixins/CommonMixin';
	import { mapState, mapActions, mapGetters, mapMutations } from "vuex"

	// SlotComponents
	import Card from '../components/slot-components/CardSlotComponent'

	export default {
		mixins: [ CommonMixins ],
		components: {
			'card-component': Card
		},
		data() {
			return {
				adOptions: [
					{ value: '1', text: 'Posición 1', size: '260 x 600px'},
					{ value: '2', text: 'Posición 2', size: '260 x 600px'}, 
					{ value: '3', text: 'Posición 3', size: '300 x 200px'}, 
				],
				selectedAd: { position: undefined, size: undefined, inputName: undefined, imgPreview: undefined },
				ad: { image: '', position: '' },
				ads: [],
				image: '',
				// Form
				csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
			}
		},
		created() {
			this.getCtesad();
			
		},
		mounted() {
		},
		filters: {
			adImgSrc(imgName) {
				return "/images/site/ctesad/" + imgName;
			}
		},
		computed: {
			...mapState(['loader']),

		},
		methods: {
			...mapMutations(['toggleLoader']),

			submitAd() {
				this.toggleLoader(true);

				let formData = new FormData();
				formData.append('image', this.ad.image);
				formData.append('position', this.ad.position);

				axios({
						method: 'POST',
						url: '/vadmin/saveAd',
						data: formData,
						config: { headers: {'Content-Type': 'multipart/form-data' }}, 
					})
					.then((res) => {
						
						if(res.data.status == 'success')
						{
							this.alertSuccess("Anuncio publicado correctamente");
							this.getCtesad();
						}
						else if(res.data.status == 'error')
						{
							this.alertError(res.data.message);
							console.log("Validation data error");
						}
						else
						{
							console.log(res.data);
						}
					})
					.catch((error) => {
						console.error('Error en submitAd()');
						console.log(error);
					}).finally(() => {
						this.toggleLoader(false);
				});

			}, 

			changeStatus(position, status) {

				const data = { position: position, status: status };

				axios({
						method: 'POST',
						url: '/vadmin/changeStatus',
						data: data,
					})
					.then((res) => {
						
						if(res.data.status == 'success')
						{
							console.log(res.data.message);
							if(res.data.message == 'I')
								Vue.$toast.error('Artículo pausado');
							if(res.data.message == 'A')
								Vue.$toast.success('Artículo activado');
								
							this.getCtesad();
						}
						else if(res.data.status == 'error')
						{
							this.alertError(res.data.message);
							console.log("Error al actualizar el estado del anuncio");
						}
						else
						{
							console.log(res.data);
						}

					})
					.catch((error) => {
						console.error('Error en changeStatus()');
						console.log(error);
					}).finally(() => {
						this.toggleLoader(false);
				});
			},


			selectImage: function (event) {
				// this.file = this.$refs.file.files[0]; 

				const file = event.target.files[0]
				this.ad.image = file;

				if (!file) {
					return false
				}
				if (!file.type.match('image.*')) {
					return false
				}

				const reader = new FileReader()
				const that = this
				reader.onload = function (e) {
					that.selectedAd.imgPreview = e.target.result
				}
				reader.readAsDataURL(file);
				
			},
			
			selectPosition(event) {
				// console.log(event.target.value);
				// console.log(options);
				this.adOptions.forEach(element => {
					if(event.target.value == element.value){
						this.selectedAd.position = element.value;
						this.selectedAd.size = element.size;
						this.selectedAd.imgPreview = element.imgPreview;
					}
				});
			},

			getCtesad() {

				axios.get('/vadmin/getCtesad')
					.then((res) => {
						this.ads = res.data;
						console.log(res);
					})
					.catch((error) => {
						console.error('Error on getCtesad()');
						console.error(error);
					}).finally(() => {

					});

			},

			deleteAd(position) {

				let _this  = this;
				
				this.alertConfirm('Va a eliminar un anuncio', 'Estás segur@?', function (confirmed) {
					if (confirmed) {
						_this.toggleLoader(true);
						const data = { position: position };

						axios({
								method: 'POST',
								url: '/vadmin/destroyAd',
								data: data,
							})
							.then((res) => {
								
								if(res.data.status == 'success')
								{
									this.alertSuccess("Anuncio eliminado");
									this.getCtesad();
								}
								else if(res.data.status == 'error')
								{
									this.alertError(res.data.message);
									console.log("Error al eliminado el anuncio");
								}
								else
								{
									console.log(res.data);
								}
							})
							.catch((error) => {
								console.error('Error en deleteAd()');
								console.log(error);
							}).finally(() => {
								this.toggleLoader(false);
						});

					}
				});
			}, 
		}
	}

</script>
