<template>
	<div>
			<!-- Modal -->
		<list-component 
			:item="item"
			:sectionTexts="sectionTexts" 
			:listDataVisible="listDataVisible"
			:updateableFields="updateableFields"
			:selectedItems="selectedItems"
			:useExtraActions="true"
            :updateMode="false"
            :noCreate="true"
			@save="save(item)"
			@deleteItems="deleteItems"
			@setUpdateOrCreate="setUpdateOrCreate"
			@selectAllItems="selectAllItems"
		>
			<template slot="extra-actions">
				<div class="row centered-inputs">
					<div class="col-12 col-sm-12 col-md-6">
							<!-- @change="showDate" -->
						<label for=""><b>Exportar artículos</b> | Seleccione un mes y un año</label>
						<div class="month-picker-with-btn">
							<month-picker
								v-model="exportQuery.dateData"
								lang="es"
								month="3"
								>
							</month-picker>
							<button @click="checkContactsExistence" class="btn submit-btn" 
							style="color: #fff" v-html="this.$helpers.iconImg('cloud-download')"></button>
						</div>
					</div>
				</div>
			</template>
            
            <template slot="extra-item">
				<span>Mensajes de Contacto desde Web</span>
			</template>

			<!-- List data -->
			<template slot="list-data">
				<tr class="table-row" v-for="(item, index) in items" :key="index" 
                    :class="{ 'table-row-selected': isSelected(item.id) }"  
                    >
					
					<td class="align-middle checkbox-col">
						<!-- List Checkbox -->
						<b-form-checkbox size="lg" v-if="!undeleteableItems.includes(item.id)"
							v-model="selectedItems"
							:value="item.id"
							>
						</b-form-checkbox>
					</td>
					

					<!-- Data -->
					<td class="align-middle" :class="{ 'with-left-action': show.isRelation && item.roles }" 
                        v-for="(show, index) in listDataVisible" :key="index" 
                        @click="setShowModalData(item)" style="cursor: pointer">

                        {{ item[show.name] }} 
					</td>

					<list-actions 
						:canBeModified="!undeleteableItems.includes(item.id)"
                        :noEditBtn="true"
						:itemId="item.id"
						:useStatus="true"
						:itemStatus="item.status"
						v-on:setUpdateOrCreate="setUpdateOrCreate('update', item), $bvModal.show('Modal')"
						v-on:changeStatus="changeStatus('Article', item.id, item.status, true)"
						v-on:deleteItem="deleteItems(item.id, sectionTexts.askDeleteItem + '<b> &nbsp ' + item.name + '</b>'), singleDelete()"
						>
						<div slot="extra-list-actions">
<!-- v-b-modal.showItemModal -->
                            
							<b-dropdown-item @click="setShowModalData(item)"> <img :src="bIcon('eye')" > 
                                Ver Mensaje 
                            </b-dropdown-item>
						</div>
                        
					</list-actions>	

				</tr>
			</template>
		</list-component>

        <!-- ShowModal -->
        <b-modal id="showItemModal" okTitle="Cerrar" ok-only ok-variant="primary" cancelTitle="Cerrar">
            <template #modal-title>
                <b>Mensaje de contacto</b>
            </template>

            <p>
                <b>Nombre: </b> {{ itemToShow.name }} <br>
                <b>Teléfono: </b>{{ itemToShow.phone }} <br>
                <b>Email: </b>{{ itemToShow.email }} <br>
                <template v-if="itemToShow.article_id">
                    <b>Consultó por artículo: </b> {{ itemToShow.article_id }} <br>
                </template> 
				<span v-if="itemToShow.country"> <b>País: </b>{{ itemToShow.country.name }}</span> 
				<br>
                <b>Mensaje: </b>{{ itemToShow.message }} <br>
            </p>
     </b-modal>

	</div>
</template>


<script>
	// Mixins
	import CommonMixins from '../mixins/CommonMixin'
	import ListFeatures from '../mixins/CrudActions'  // In this mixin exist all crud operations, pagination, and listing.
	import { MonthPickerInput } from 'vue-month-picker'

	export default {
		mixins: [ CommonMixins, ListFeatures ],
		components: {
			'month-picker': MonthPickerInput
		},
		data () {
			return {
				// Section properties
				sectionTexts: { plural: 'Mensajes', singular: 'Mensaje', withArticle: "los mensajes", new: "",
								 askDelete: "Va a eliminar los mensajes seleccionados", askDeleteItem: "Va a eliminar el mensaje: "},
				
				// Model properties
				sectionRoute: 'contacts',
				item: { name: ''},
				listData: [
                            { name: 'name', label: 'Nombre', type: 'text', placeholder: '' },
                            { name: 'email', label: 'Email', type: 'text', placeholder: '' },
                          
						],
				undeleteableItems: [ ], // array(), Set here the items that you dont want to allow deletion

                itemToShow: [],
				exportQuery: { dateData: '' },
			}
		},
        
        methods: {
            setShowModalData(item) {
                this.$bvModal.show('showItemModal')
                this.itemToShow = item;
            },


			checkContactsExistence() {
				
				// Validations
				if(!this.exportQuery.dateData) {
					this.$helpers.alertSmall({type: 'error', message: "No se ha seleccionado un mes"});
					return false;
				}					

				axios({
						method: 'POST',
						url: '/vadmin/checkContactsExistence',
						data: this.exportQuery.dateData,
					})
					.then((res) => {
						if(res.data.status == 'success') {
							this.exportItems();
						} else if(res.data.status = 'not-found') {
							this.$helpers.alertSmall({type: 'error', message: "No hay registros para el mes seleccionado"});
						} else {
							this.$helpers.alertSmall({type: 'error', message: "Ha ocurrido un error. Debe contactar a soporte técnico"});
						}

					})
					.catch((error) => {
						console.error('Error: ' + error);
					}).finally(() => {
						this.toggleLoader(false);
				});

			},

			exportItems() {
				// Trigger download
				window.location.replace("/vadmin/exportar-mensajes/"+ this.exportQuery.dateData['from'] + '/' + this.exportQuery.dateData['to']);	
			}

        }
	}
</script>