<template>
	<div>
		<!-- Modal -->
		<list-component 
			:item="item"
			:sectionTexts="sectionTexts" 
			:listDataVisible="listDataVisible"
			:updateableFields="updateableFields"
			:selectedItems="selectedItems"
			:useExtraActions="false"
			@save="save(item)"
			@deleteItems="deleteItems"
			@setUpdateOrCreate="setUpdateOrCreate"
			@selectAllItems="selectAllItems"
		>

			<template slot="extra-actions">
				<a href="">Extra actions</a>
			</template>

			<!-- List data -->
			<template slot="list-data">
				<tr class="table-row" v-for="(item, index) in items" :key="index" :class="{ 'table-row-selected': isSelected(item.id) }">
					
					<td class="align-middle checkbox-col">
						<!-- List Checkbox -->
						<b-form-checkbox size="lg" v-if="!undeleteableItems.includes(item.id)"
							v-model="selectedItems"
							:value="item.id"
							>
						</b-form-checkbox>
					</td>

					<!-- Data -->
					<td class="align-middle" v-for="(show, index) in listDataVisible" :key="index">
                       <template v-if="!show.isRelation"> 
                           <span v-if="show.name == 'manual_value' || show.name == 'api_value'">$ </span>
							{{ item[show.name] }} 
							<!-- {{ item }} -->
							<span v-if="show.name == 'name' && item.country"> ( {{ item.country.name}} ) </span>
						</template> 
					</td>

					<list-actions 
						:canBeModified="!undeleteableItems.includes(item.id)"
						:itemId="item.id"
						:useStatus="false"
						v-on:setUpdateOrCreate="setUpdateOrCreate('update', item), $bvModal.show('Modal')"
						v-on:deleteItem="deleteItems(item.id, sectionTexts.askDeleteItem + '<b> &nbsp ' + item.name + '</b>'), singleDelete()"
						>
						<div slot="extra-list-actions">
							<!-- <b-dropdown-item> <img :src="bIcon('trash')" > Action </b-dropdown-item> -->
						</div>
					</list-actions>
				
				</tr>
			</template>

			<div slot="custom-modal"></div>		
		</list-component >
		<!-- / Modal -->
	</div>
</template>


<script>
	// Mixins
	import CommonMixins from '../mixins/CommonMixin';
	import ListFeatures from '../mixins/CrudActions';  // In this mixin exist all crud operations, pagination, and listing.

	export default {
		mixins: [ CommonMixins, ListFeatures ],
		data () {
			return {
				// Section properties
				sectionTexts: { plural: 'Monedas', singular: 'Moneda', withArticle: "las monedas", new: "Nueva moneda",
								 askDelete: "Va a eliminar las monedas seleccionadas", askDeleteItem: "Va a eliminar la moneda: "},
				
				// Model properties
				sectionRoute: 'currency',
				item: { name: ''},
				listData: [
                            { name: 'name', label: 'Moneda', type: 'text', placeholder: 'Ingrese el nombre de la moneda' },
                            { name: 'manual_value', label: 'Valor Manual', placeholder: 'Ingrese el valor de la moneda'},	
                            { name: 'api_value', label: 'Valor por Api', placeholder: 'Este valor se actualizará solo'},
							{ name: 'country_id', label: 'País', inputType: 'select', optionsFromModel: 'getCountries',  
								isRelation: true, relation_name: 'country', relation_field_id: "char_id", 
								relation_field_name: "name", placeholder: 'Ingrese un País' }
						],
				undeleteableItems: [ ], // array(), Set here the items that you dont want to allow deletion
			}
		}
	}
</script>