<template>
	<div class="container-fluid">
		
		<loader-component v-if="loader"></loader-component> 
		
			<div class="content-container">		
				<div class="row">
					<div class="col-12">
						<div v-if="authUser.data">
							<h1>{{ salute }} {{ authUser.data.username }}</h1>
							<span v-for="(role, index) in activeRoles" :key="index"> 
								 <b-badge variant="primary">{{ role }}</b-badge> 
							</span>
						</div>
						<hr />
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<h3>Accesos rápidos</h3>
						<a href="/vadmin/articulos" class="btn btn-main btn-with-icon"><img src="/vendor/bootstrap-icons/list.svg" alt="">Artículos</a>
						<a href="/vadmin/crear-articulo" class="btn btn-main btn-with-icon"><img src="/vendor/bootstrap-icons/plus.svg" alt="">Crear Artículo</a>
						<a href="/vadmin/categorias" class="btn btn-main btn-with-icon"><img src="/vendor/bootstrap-icons/tag-fill.svg" alt="">Categorías</a>
					</div>
				</div>
			</div>

		</div>
</template> 

<script>

		import {  mapGetters, mapActions  } from "vuex"
		import Loader from  "../components/LoaderComponent";

		export default {
			components: {
					"loader-component": Loader
			},

			data () {
				return {
						
				}
			},
			
			created() {
				
			},

			mounted() {
				// console.log(this.authUser);
			},
			
			methods: {
				vuelog(e) {
					console.log(e);
				},
			},

			computed: {
				...mapGetters(["authUser"]),
				...mapGetters(["loader"]),

				activeRoles() {
					const roles = this.authUser.roles;
					let activeRoles = [];
					if(roles) {
						roles.forEach(role => {
							activeRoles.push(role.name);
						});
					}
					return activeRoles;
				},
				salute() {
					var hr = (new Date()).getHours();

					if(hr >= 13 && hr <= 20)
						return 'Buenas tardes ';
					
					if(hr >= 20 && hr <= 24) 
						return 'Buenas noches ';

					return 'Buenos días ';
				}
			}
		}

</script>