<template>
	<div>
			<!-- Modal -->
		<list-component 
			:item="item"
			:sectionTexts="sectionTexts" 
			:listDataVisible="listDataVisible"
			:updateableFields="updateableFields"
			:selectedItems="selectedItems"
			:useExtraActions="true"
            :updateMode="false"
            :noCreate="true"
			@save="save(item)"
			@deleteItems="deleteItems"
			@setUpdateOrCreate="setUpdateOrCreate"
			@selectAllItems="selectAllItems"
		>
			<template slot="extra-actions">
				<div class="row centered-inputs">
					<div class="col-12 col-sm-12 col-md-6">
							<!-- @change="showDate" -->
						<label for=""><b>Exportar artículos</b> | Seleccione un mes y un año</label>
						<div class="month-picker-with-btn">
							<month-picker
								v-model="exportQuery.dateData"
								lang="es"
								month="3"
								>
							</month-picker>
							<button @click="checkContactsExistence" class="btn submit-btn" 
							style="color: #fff" v-html="this.$helpers.iconImg('cloud-download')"></button>
						</div>
					</div>
				</div>
			</template>
            
            <template slot="extra-item">
				<span>Registro de contactos desde formulario de cotización</span>
			</template>

			<!-- List data -->
            <template slot="list-data">
				<tr class="table-row small-texts" v-for="(item, index) in items" :key="index" :class="{ 'table-row-selected': isSelected(item.id) }">
					<td class="align-middle checkbox-col">
						<!-- List Checkbox -->
						<b-form-checkbox size="lg" v-if="!undeleteableItems.includes(item.id)"
							v-model="selectedItems"
							:value="item.id"
							>
						</b-form-checkbox>
					</td>
					<td> {{ item.customer_firstname }} {{ item.customer_lastname }} </td>	
					<td> {{ item.customer_email }} </td>
                    <td> {{ item.customer_phone }}</td>
					<td>
						<span v-if="item.country"> {{ item.country.name}} </span>
					</td>
					<td > 
						<template v-if="item.user_allows_contact"> Sí </template>
						<template v-else> No </template>	
					</td>
					<td > 
						<template v-if="item.contacted"> 
							Sí <br>
							<span style="font-size: .6rem" v-html="$helpers.formatDate(item.updated_at, true)"></span>
						</template>
						<template v-else> No </template>	
					</td>
					<list-actions 
						:canBeModified="!undeleteableItems.includes(item.id)"
						:customEdit="false"
						:itemId="item.id"
						:useActive="false"
                        :noEditBtn="true"
						:itemActive="item.active"
						v-on:deleteItem="deleteItems(item.id, sectionTexts.askDeleteItem), singleDelete()" v-if="!undeleteableItems.includes(item.id)"
						>
						<div slot="extra-list-actions">
							<!-- <b-dropdown-item> <img :src="bIcon('trash')" > Action </b-dropdown-item> -->
						</div>
					</list-actions>
				</tr>

			</template>

		</list-component>
	</div>
</template>


<script>
	// Mixins
	import CommonMixins from '../mixins/CommonMixin'
	import ListFeatures from '../mixins/CrudActions'  // In this mixin exist all crud operations, pagination, and listing.
	import { MonthPickerInput } from 'vue-month-picker'

	export default {
		mixins: [ CommonMixins, ListFeatures ],
		components: {
			'month-picker': MonthPickerInput
		},
		data () {
			return {
				// Section properties
				sectionTexts: { plural: 'Registro de contactos', singular: 'Registro', withArticle: "los registros", new: "",
								 askDelete: "Va a eliminar los registros seleccionados", askDeleteItem: "Va a eliminar el registro"},
				
				// Model properties
				sectionRoute: 'mfcontacts',
				item: { name: ''},
				listData: [
                            { name: '', label: 'Nombre y Apellido', type: 'text', placeholder: '' },
                            { name: '', label: 'Email', type: 'text', placeholder: '' },
                            { name: '', label: 'Teléfono', type: 'text', placeholder: '' },
                            { name: 'country_id', label: 'País', type: 'text', placeholder: '' },
							{ name: 'user_allows_contact', label: 'Aceptó Contacto', type: 'text', placeholder: '' },
							{ name: 'contacted', label: 'Contactado', type: 'text', placeholder: '' },
						],
				undeleteableItems: [ ], // array(), Set here the items that you dont want to allow deletion

                itemToShow: [],
				exportQuery: { dateData: '' },
			}
		},
        
        methods: {
            setShowModalData(item) {
                this.$bvModal.show('showItemModal')
                this.itemToShow = item;
            },


			checkContactsExistence() {
				
				// Validations
				if(!this.exportQuery.dateData) {
					this.$helpers.alertSmall({type: 'error', message: "No se ha seleccionado un mes"});
					return false;
				}					

				axios({
						method: 'POST',
						url: '/vadmin/checkRecordsExistence',
						data: this.exportQuery.dateData,
					})
					.then((res) => {
						if(res.data.status == 'success') {
							this.exportItems();
						} else if(res.data.status = 'not-found') {
							this.$helpers.alertSmall({type: 'error', message: "No hay registros para el mes seleccionado"});
						} else {
							this.$helpers.alertSmall({type: 'error', message: "Ha ocurrido un error. Debe contactar a soporte técnico"});
						}

					})
					.catch((error) => {
						console.error('Error: ' + error);
					}).finally(() => {
						this.toggleLoader(false);
				});

			},

			exportItems() {
				// Trigger download
				window.location.replace("/vadmin/exportar-registros/"+ this.exportQuery.dateData['from'] + '/' + this.exportQuery.dateData['to']);	
			}

        }
	}
</script>