<template>
	<div>
		<loader-component v-if="loader"></loader-component>
		<sidebar-component v-if="authUserRoles.length > 0" :userRoles="authUserRoles"></sidebar-component>
		<div :class="{ 'main-wrapper': true, 'main-wrapper-full': !sidebarState }">
			<header-component></header-component>
			<div class="main-content">
				<transition name="view">
					<router-view></router-view>
				</transition>
			</div>
		</div>
	</div>
</template>

<script>
	import { mapGetters, mapActions } from "vuex";
	import CommonMixins from '../mixins/CommonMixin';

	import Header from "../components/HeaderComponent";
	import Sidebar from "../components/SidebarComponent";
	import Loader from  "../components/LoaderComponent";

	export default {
		mixins: [ CommonMixins ],
		components: {
			"header-component": Header,
			"sidebar-component": Sidebar,
			"loader-component": Loader
		},
		computed: {
			...mapGetters(["sidebarState"]),
			...mapGetters(["loader"]),
			...mapGetters(["authUser"]),
			...mapGetters(["authUserRoles"]),
		},
		created() {
		},
		mounted() {
			this.getAuthUser();
		},
		methods: {
			...mapActions(['getAuthUser'])
		},
	};
</script>
